#pollcontainer .question{font-weight:300;margin-bottom:0.5em}
#pollcontainer .option{margin-bottom:1em;margin-top:.25em;font-size:.85em}
#pollcontainer .option-bar{padding:.5em;border: 2px solid rgba(0, 0, 0, 0.15);margin-bottom:.5em;border-radius: 0.3125em;}
#pollcontainer .option-bar:hover{background:rgba(0, 0, 0, 0.01)}
#pollcontainer .totalvote{margin-top:.5em;}