#pollcontainer .question {
  font-weight: 300;
  margin-bottom: 0.5em
}
#pollcontainer .option {
  margin-bottom: 1em;
  margin-top: .25em;
  font-size: .85em
}
#pollcontainer .option-bar {
  padding: .5em;
  margin-bottom: .5em;
}
#pollcontainer .option-bar:hover {
  background-color: #363B3F;
  color:#fff
}
#pollcontainer .totalvote {
  margin-top: .5em;
}
