/* == Event Viewer == */
#event-wrap {
  max-width: 500px
}
/* == Calendar == */
#calendar {
  position: relative;
}
#calendar .calheader {
  height: 40px;
  line-height: 40px;
  background-color: #5795AF;
  box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.15) inset;
}
#calendar .calheader > div {
  text-align: center;
  text-shadow: none;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff
}
#calendar .calbody {
  position: relative;
}
#calendar .section {}
#calendar .section:last-child {
  border-bottom: none
}
#calendar .section > div:first-child {
  box-shadow: none;
  box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.1);
}
#calendar .section > div,
#calendar .calheader > div {
  float: left;
  width: 14.28%
}
#calendar .section > div {
  height: 100px;
  box-shadow:inset 2px 2px 0 0 rgba(0,0,0,0.1);
}
#calendar .section > div > span.date {
  display: block;
  font-size: 26px;
  text-align: left;
  padding: 10px;
  font-weight: 600;
  font-family: 'Open Sans Condensed';
}
#calendar .section > div > div {
  padding: 0
}
#calendar .section > div > span.weekday {
  padding-left: .5em;
  display: none
}
#calendar .section > div.today {
  background-color: #F5F5F5;
}
#calendar .section > div.empty {
}
#calendar .section > div:last-child,
#calendar .calheader > div:last-child {
  border-right: none
}
#calendar .section > div > div a,
#calendar .section > div > div span {
  font-size: 10px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-bottom: 1px;
  padding: 0 5px
}
#calendar .section > div > div a:hover,
#calendar .section > div > div span:hover {
  opacity: 0.7
}
#calendar .calnav {
  height: 50px;
  position: relative;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 30px;
}
#calendar .calnav h3 {
  float: right;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 30px;
  margin-right: 100px
}
#calendar .calnav h3 span.month {
  margin-right: 10px
}
#calendar .calnav nav {
  position: absolute;
  right: 0;
  width: 70px;
  display: table
}
#calendar .calnav nav a {
  display: table-cell;
  width: 35px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}
#calendar .calnav nav a i.icon {
  margin: 0;
  text-align: center;
}
 @media screen and (max-width: 880px), screen and (max-height: 450px) {
#calendar .calnav {
  padding: 0
}
#calendar .calnav nav {
  top: 0
}
#calendar .calnav nav #calendar,
#calendar .calheader,
#calendar .section > div > span.date {
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  height: auto;
  width: auto
}
#calendar .nav h3 {
  float: none;
  width: auto;
  text-align: left;
  margin: 0
}
#calendar .section,
#calendar .section > div {
  height: auto;
  width: 100%;
  border: none
}
#calendar .section > div {
  box-shadow: none;
  float: none;
  min-height: 50px;
  border-radius: 0;
  box-shadow: inset 0 -2px rgba(0,0,0,0.1);
}
#calendar .section > div:first-child {
  box-shadow: inset 0 -2px rgba(0,0,0,0.1);
}
#calendar .section > div.empty {
  min-height: 0;
  height: 0;
  box-shadow: none;
  padding: 0
}
#calendar .section {
  box-shadow: none
}
#calendar .section > div > div {
  margin-top: 0;
  padding-left: 0;
  margin-left: 20px;
  max-width: 70%;
  display: inline-block
}
#calendar .section > div.today {
  background-color: #F5F5F5;
}
#calendar .section > div > span.date {
  width: 40px;
  display: inline-block;
  text-align: right
}
#calendar .section > div > span.weekday {
  display: inline-block;
  color: rgba(0,0,0,0.7);
  font-size: 10px;
  text-transform: uppercase;
  padding-right: .5em
}
#calendar .calheader,
#calendar .section > div.today:after {
  display: none
}
}