<h2 class="small-bottom-space">Carousel</h2>
<h6>Basic Carousel</h6>
<p>No Pagination, no navigation, single item and autoplay</p>
<div class="prolific basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <section class="prolific segment clearfix">
      <div class="prolific-carousel" 
    data-pagination="false" 
    data-navigation="false" 
    data-single-item="true"
    data-auto-play="3000"
    >
        <p>1. Mollis facilisi pertinacia ad has, vix no etiam principes percipitur. Pri cu quis populo nominavi, id eum autem libris, unum bonorum singulis in ius. Nam no stet meis interpretaris. </p>
        <p>2. Mollis facilisi pertinacia ad has, vix no etiam principes percipitur. Pri cu quis populo nominavi, id eum autem libris, unum bonorum singulis in ius. Nam no stet meis interpretaris. </p>
        <p>3. Mollis facilisi pertinacia ad has, vix no etiam principes percipitur. Pri cu quis populo nominavi, id eum autem libris, unum bonorum singulis in ius. Nam no stet meis interpretaris. </p>
        <p>4. Mollis facilisi pertinacia ad has, vix no etiam principes percipitur. Pri cu quis populo nominavi, id eum autem libris, unum bonorum singulis in ius. Nam no stet meis interpretaris. </p>
      </div>
    </section>
  </div>
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;section class=&quot;prolific segment clearfix&quot;&gt;
  &lt;div class=&quot;prolific-carousel&quot; 
    data-pagination=&quot;false&quot; 
    data-navigation=&quot;false&quot; 
    data-single-item=&quot;true&quot;
    data-auto-play=&quot;3000&quot;
    &gt;
    &lt;p&gt;Pri cu quis populo ... &lt;/p&gt;
    &lt;p&gt;Pri cu quis populo ... &lt;/p&gt;
    ...
  &lt;/div&gt;
&lt;/section&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<h6>Image Carousel</h6>
<p>Pagination, no navigation, 3 Items at the time and autoplay disabled</p>
<div class="prolific basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <section class="prolific segment clearfix">
      <div class="prolific-carousel" 
    data-pagination="false" 
    data-navigation="true" 
    data-items="3"
    data-auto-play="false"
    >
        <div class="item"> <img src="help/demo/logo-charity_html.png" alt=""> </div>
        <div class="item"> <img src="help/demo/logo-cleanspace.png" alt=""> </div>
        <div class="item"> <img src="help/demo/logo-dixit.png" alt=""> </div>
        <div class="item"> <img src="help/demo/logo-galaxy.png" alt=""> </div>
        <div class="item"> <img src="help/demo/logo-gt3.png" alt=""> </div>
        <div class="item"> <img src="help/demo/logo-hq.png" alt=""> </div>
        <div class="item"> <img src="help/demo/logo-incipiens.png" alt=""> </div>
        <div class="item"> <img src="help/demo/logo-johndoe.png" alt=""> </div>
        <div class="item"> <img src="help/demo/logo-output.png" alt=""> </div>
        <div class="item"> <img src="help/demo/logo-point.png" alt=""> </div>
        <div class="item"> <img src="help/demo/logo-showroom.png" alt=""> </div>
        <div class="item"> <img src="help/demo/logo-yellow.png" alt=""> </div>
      </div>
    </section>
  </div>
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;section class=&quot;prolific segment clearfix&quot;&gt;
  &lt;div class=&quot;prolific-carousel&quot; 
    data-pagination=&quot;false&quot; 
    data-navigation=&quot;true&quot; 
    data-items=&quot;3&quot;
    data-auto-play=&quot;false&quot;
  &gt;
    &lt;div class=&quot;item&quot;&gt; 
      &lt;img src=&quot;logo-charity_html.png&quot; alt=&quot;&quot;&gt; 
    &lt;/div&gt;
    &lt;div class=&quot;item&quot;&gt; 
      &lt;img src=&quot;logo-cleanspace.png&quot; alt=&quot;&quot;&gt; 
    &lt;/div&gt;
    ...
  &lt;/div&gt;
&lt;/section&gt;</pre>
  </div>
</div>
<script src="assets/prettify.js"></script> 
<script type="text/javascript">
  $(document).ready(function () {
     $(".prolific-carousel").owlCarousel({});
  });
</script>