    
    <h2 class="half-bottom-space">Dividers</h2>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <h6>Standard divider</h6>
    <p>Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    <div class="prolific divider"></div>
    <p>Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;p&gt;....&lt;/p&gt;
&lt;div class=&quot;prolific divider&quot;&gt;&lt;/div&gt;
&lt;p&gt;....&lt;/p&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <h6>Horizontal Divider</h6>
    <p>Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    <div class="prolific horizontal divider">Or</div>
    <p>Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;p&gt;....&lt;/p&gt;
&lt;div class=&quot;prolific horizontal divider&quot;&gt;
  Or
&lt;/div&gt;
&lt;p&gt;....&lt;/p&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<div class="columns gutters">
  <div class="screen-50 tablet-100 phone-100">
    <h6>Icon  Divider</h6>
    <p>Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    <div class="prolific horizontal icon divider"><i class="circular star icon"></i></div>
    <p>Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;p&gt;....&lt;/p&gt;
&lt;div class=&quot;prolific horizontal icon divider&quot;&gt;
  &lt;i class=&quot;circular star icon&quot;&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;p&gt;....&lt;/p&gt;</pre>
  </div>
</div>
<script src="assets/prettify.js"></script> 