    
    
    
    <h2 class="small-bottom-space">Icons</h2>
<p>An icon sets contains an arbitrary number of glyphs</p>
<div class="prolific basic divider"></div>
<h6>Content</h6>
<p>Icons can represent types of web content</p>
<div class="prolific-icon-grid clearfix">
  <div class="column"><i class="archive icon"></i>Archive</div>
  <div class="column"><i class="attachment icon"></i>Attachment</div>
  <div class="column"><i class="browser icon"></i>Browser</div>
  <div class="column"><i class="bug icon"></i>Bug</div>
  <div class="column"><i class="calendar icon"></i>Calendar</div>
  <div class="column"><i class="cart icon"></i>Cart</div>
  <div class="column"><i class="certificate icon"></i>Certificate</div>
  <div class="column"><i class="chat icon"></i>Chat</div>
  <div class="column"><i class="cloud icon"></i>Cloud</div>
  <div class="column"><i class="code icon"></i>Code</div>
  <div class="column"><i class="comment icon"></i>Comment</div>
  <div class="column"><i class="dashboard icon"></i>Dashboard</div>
  <div class="column"><i class="desktop icon"></i>Desktop</div>
  <div class="column"><i class="empty calendar icon"></i>Empty Calendar</div>
  <div class="column"><i class="external url icon"></i>External URL</div>
  <div class="column"><i class="external url sign icon"></i>External URL Sign</div>
  <div class="column"><i class="file icon"></i>File</div>
  <div class="column"><i class="file outline icon"></i>File Outline</div>
  <div class="column"><i class="folder icon"></i>Folder</div>
  <div class="column"><i class="open folder icon"></i>Open Folder</div>
  <div class="column"><i class="open folder outline icon"></i>Open Folder Outline</div>
  <div class="column"><i class="folder outline icon"></i>Folder Outline</div>
  <div class="column"><i class="help icon"></i>Help</div>
  <div class="column"><i class="home icon"></i>Home</div>
  <div class="column"><i class="inbox icon"></i>Inbox</div>
  <div class="column"><i class="information icon"></i>Info</div>
  <div class="column"><i class="information letter icon"></i>Info Letter</div>
  <div class="column"><i class="legal icon"></i>Legal</div>
  <div class="column"><i class="location icon"></i>Location</div>
  <div class="column"><i class="mail icon"></i>Mail</div>
  <div class="column"><i class="mail outline icon"></i>Mail Outline</div>
  <div class="column"><i class="map icon"></i>Map</div>
  <div class="column"><i class="map marker icon"></i>Map Marker</div>
  <div class="column"><i class="mobile icon"></i>Mobile</div>
  <div class="column"><i class="music icon"></i>Music</div>
  <div class="column"><i class="chat outline icon"></i>Chat Outline</div>
  <div class="column"><i class="comment outline icon"></i>Comment Outline</div>
  <div class="column"><i class="payment icon"></i>Payment</div>
  <div class="column"><i class="photo icon"></i>Photo</div>
  <div class="column"><i class="qr code icon"></i>QR Code</div>
  <div class="column"><i class="question icon"></i>Question</div>
  <div class="column"><i class="rss icon"></i>RSS</div>
  <div class="column"><i class="rss sign icon"></i>RSS Sign</div>
  <div class="column"><i class="setting icon"></i>Setting</div>
  <div class="column"><i class="settings icon"></i>Settings</div>
  <div class="column"><i class="signal icon"></i>Signal</div>
  <div class="column"><i class="sitemap icon"></i>Sitemap</div>
  <div class="column"><i class="table icon"></i>Table</div>
  <div class="column"><i class="tablet icon"></i>Tablet</div>
  <div class="column"><i class="tag icon"></i>Tag</div>
  <div class="column"><i class="tags icon"></i>Tags</div>
  <div class="column"><i class="tasks icon"></i>Tasks</div>
  <div class="column"><i class="terminal icon"></i>Terminal</div>
  <div class="column"><i class="text file icon"></i>Text File</div>
  <div class="column"><i class="text file outline icon"></i>Text File Outline</div>
  <div class="column"><i class="time icon"></i>Time</div>
  <div class="column"><i class="trash icon"></i>Trash</div>
  <div class="column"><i class="url icon"></i>URL</div>
  <div class="column"><i class="user icon"></i>User</div>
  <div class="column"><i class="users icon"></i>Users</div>
  <div class="column"><i class="video icon"></i>Video</div>
</div>
<pre class="prettyprint linenums">
&lt;i class=&quot;archive icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;attachment icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;browser icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bug icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;calendar icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;cart icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;certificate icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;chat icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;cloud icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;code icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;comment icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;dashboard icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;desktop icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;empty calendar icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;external url icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;external url sign icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;file icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;file outline icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;folder icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;open folder icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;open folder outline icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;folder outline icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;help icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;home icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;inbox icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;information icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;information letter icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;legal icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;location arrow icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;mail icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;mail outline icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;map icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;map marker icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;mobile icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;music icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;chat outline icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;comment outline icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;payment icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;photo icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;qr code icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;question icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;rss icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;rss sign icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;setting icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;settings icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;signal icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;sitemap icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;table icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;tablet icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;tag icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;tags icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;tasks icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;terminal icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;text file icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;text file outline icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;time icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;trash icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;url icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;user icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;users icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;video icon&quot;&gt;&lt;/i&gt;</pre>
<div class="prolific divider"></div>
<h6>User Actions</h6>
<p>Icons can represent a possible user action</p>
<div class="prolific-icon-grid clearfix">
  <div class="column"><i class="add icon"></i>Add</div>
  <div class="column"><i class="add sign icon"></i>Add Sign</div>
  <div class="column"><i class="add sign box icon"></i>Add Sign Box</div>
  <div class="column"><i class="adjust icon"></i>Adjust</div>
  <div class="column"><i class="empty bookmark icon"></i>Empty Bookmark</div>
  <div class="column"><i class="bookmark icon"></i>Bookmark</div>
  <div class="column"><i class="cloud download icon"></i>Cloud Download</div>
  <div class="column"><i class="cloud upload icon"></i>Cloud Upload</div>
  <div class="column"><i class="collapse icon"></i>Collapse</div>
  <div class="column"><i class="crop icon"></i>Crop</div>
  <div class="column"><i class="download disk icon"></i>Download Disk</div>
  <div class="column"><i class="download icon"></i>Download</div>
  <div class="column"><i class="edit icon"></i>Edit</div>
  <div class="column"><i class="edit sign icon"></i>Edit sign</div>
  <div class="column"><i class="empty flag icon"></i>Empty Flag</div>
  <div class="column"><i class="exchange icon"></i>Exchange</div>
  <div class="column"><i class="expand icon"></i>Expand</div>
  <div class="column"><i class="filter icon"></i>Filter</div>
  <div class="column"><i class="flag icon"></i>Flag</div>
  <div class="column"><i class="fork code icon"></i>Fork Code</div>
  <div class="column"><i class="forward mail icon"></i>Forward Mail</div>
  <div class="column"><i class="fullscreen icon"></i>Fullscreen</div>
  <div class="column"><i class="hide icon"></i>Hide</div>
  <div class="column"><i class="level down icon"></i>Level Down</div>
  <div class="column"><i class="level up icon"></i>Level Up</div>
  <div class="column"><i class="off icon"></i>Off</div>
  <div class="column"><i class="refresh icon"></i>Refresh</div>
  <div class="column"><i class="remove circle icon"></i>Remove Circle</div>
  <div class="column"><i class="remove icon"></i>Remove</div>
  <div class="column"><i class="remove sign icon"></i>Remove Sign</div>
  <div class="column"><i class="reorder icon"></i>Reorder</div>
  <div class="column"><i class="reply all mail icon"></i>Reply All Mail</div>
  <div class="column"><i class="reply mail icon"></i>Reply Mail</div>
  <div class="column"><i class="retweet icon"></i>Retweet</div>
  <div class="column"><i class="save icon"></i>Save</div>
  <div class="column"><i class="screenshot icon"></i>Screenshot</div>
  <div class="column"><i class="search icon"></i>Search</div>
  <div class="column"><i class="share icon"></i>Share</div>
  <div class="column"><i class="share sign icon"></i>Share Sign</div>
  <div class="column"><i class="sign in icon"></i>Sign in</div>
  <div class="column"><i class="sign out icon"></i>Sign out</div>
  <div class="column"><i class="tint icon"></i>Tint</div>
  <div class="column"><i class="unhide icon"></i>Unhide</div>
  <div class="column"><i class="upload disk icon"></i>Upload Disk</div>
  <div class="column"><i class="upload icon"></i>Upload</div>
</div>
<pre class="prettyprint linenums">
&lt;i class=&quot;add icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;add sign icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;add sign box icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;adjust icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bookmark empty icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bookmark icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;cloud download icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;cloud upload icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;collapse icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;crop icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;download disk icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;download icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;edit icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;edit sign icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;empty flag icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;exchange icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;expand icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;filter icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;flag icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;fork code icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;forward mail icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;fullscreen icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;hide icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;level down icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;level up icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;off icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;refresh icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;remove circle icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;remove icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;remove sign icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;reorder icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;reply all mail icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;reply mail icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;retweet icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;save icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;screenshot icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;search icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;share icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;share sign icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;sign in icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;sign out icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;tint icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;unhide icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;upload disk icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;upload icon&quot;&gt;&lt;/i&gt;</pre>
<div class="prolific divider"></div>
<h6>View Actions</h6>
<p>Icons can represent actions that modify a page view</p>
<div class="prolific-icon-grid clearfix">
  <div class="column"><i class="block layout icon"></i>Block Layout</div>
  <div class="column"><i class="column layout icon"></i>Column Layout</div>
  <div class="column"><i class="grid layout icon"></i>Grid Layout</div>
  <div class="column"><i class="list layout icon"></i>List Layout</div>
  <div class="column"><i class="resize full icon"></i>Resize Full</div>
  <div class="column"><i class="resize horizontal icon"></i>Resize Horizontal</div>
  <div class="column"><i class="resize small icon"></i>Resize Small</div>
  <div class="column"><i class="resize vertical icon"></i>Resize Vertical</div>
  <div class="column"><i class="sort alphabet descending icon"></i>Sort Alphabet Descending</div>
  <div class="column"><i class="sort alphabet icon"></i>Sort Alphabet Ascending</div>
  <div class="column"><i class="sort ascending icon"></i>Sort Ascending</div>
  <div class="column"><i class="sort attributes descending icon"></i>Sort Attributes Descending</div>
  <div class="column"><i class="sort attributes icon"></i>Sort Attributes Ascending</div>
  <div class="column"><i class="sort descending icon"></i>Sort Descending</div>
  <div class="column"><i class="sort icon"></i>Sort</div>
  <div class="column"><i class="sort order descending icon"></i>Sort Order Descending</div>
  <div class="column"><i class="sort order icon"></i>Sort Order Ascending</div>
  <div class="column"><i class="zoom in icon"></i>Zoom In</div>
  <div class="column"><i class="zoom out icon"></i>Zoom Out</div>
</div>
<pre class="prettyprint linenums">
&lt;i class=&quot;block layout icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;column layout icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;grid layout icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;list layout icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;resize full icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;resize horizontal icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;resize small icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;resize vertical icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;sort alphabet descending icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;sort alphabet icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;sort ascending icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;sort attributes descending icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;sort attributes icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;sort descending icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;sort icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;sort order descending icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;sort order icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;zoom in icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;zoom out icon&quot;&gt;&lt;/i&gt;</pre>
<div class="prolific divider"></div>
<h6>Text Actions</h6>
<p>Icons can represent actions that modify text</p>
<div class="prolific-icon-grid clearfix">
  <div class="column"><i class="align center icon"></i>Align Center</div>
  <div class="column"><i class="align justify icon"></i>Align Justify</div>
  <div class="column"><i class="align left icon"></i>Align Left</div>
  <div class="column"><i class="align right icon"></i>Align Right</div>
  <div class="column"><i class="bold icon"></i>Bold</div>
  <div class="column"><i class="copy icon"></i>Copy</div>
  <div class="column"><i class="cut icon"></i>Cut</div>
  <div class="column"><i class="ellipsis horizontal icon"></i>Ellipsis Horizontal</div>
  <div class="column"><i class="ellipsis vertical icon"></i>Ellipsis Vertical</div>
  <div class="column"><i class="font icon"></i>Font</div>
  <div class="column"><i class="indent left icon"></i>Indent Left</div>
  <div class="column"><i class="indent right icon"></i>Indent Right</div>
  <div class="column"><i class="italic icon"></i>Italic</div>
  <div class="column"><i class="list icon"></i>List</div>
  <div class="column"><i class="move icon"></i>Move</div>
  <div class="column"><i class="ordered list icon"></i>Ordered List</div>
  <div class="column"><i class="paste icon"></i>Paste</div>
  <div class="column"><i class="print icon"></i>Print</div>
  <div class="column"><i class="quote left icon"></i>Quote left</div>
  <div class="column"><i class="quote right icon"></i>Quote right</div>
  <div class="column"><i class="strikethrough icon"></i>Strikethrough</div>
  <div class="column"><i class="subscript icon"></i>Subscript</div>
  <div class="column"><i class="superscript icon"></i>Superscript</div>
  <div class="column"><i class="text height icon"></i>Text Height</div>
  <div class="column"><i class="text width icon"></i>Text Width</div>
  <div class="column"><i class="underline icon"></i>Underline</div>
  <div class="column"><i class="undo icon"></i>Undo</div>
  <div class="column"><i class="unlink icon"></i>Unlink</div>
  <div class="column"><i class="unordered list icon"></i>Unordered List</div>
</div>
<pre class="prettyprint linenums">
&lt;i class=&quot;align center icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;align justify icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;align left icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;align right icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bold icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;copy icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;cut icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;ellipsis horizontal icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;ellipsis vertical icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;font icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;indent left icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;indent right icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;italic icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;list icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;move icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;ordered list icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;paste icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;print icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;quote left icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;quote right icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;strikethrough icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;subscript icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;superscript icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;text height icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;text width icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;underline icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;undo icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;unlink icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;unordered list icon&quot;&gt;&lt;/i&gt;</pre>
<div class="prolific divider"></div>
<h6>Media Actions</h6>
<p>Icons can represent actions that occur on media</p>
<div class="prolific-icon-grid clearfix">
  <div class="column"><i class="backward icon"></i>Backward</div>
  <div class="column"><i class="forward icon"></i>Forward</div>
  <div class="column"><i class="eject icon"></i>Eject</div>
  <div class="column"><i class="fast backward icon"></i>Fast Backward</div>
  <div class="column"><i class="fast forward icon"></i>Fast Forward</div>
  <div class="column"><i class="mute icon"></i>Mute</div>
  <div class="column"><i class="pause icon"></i>Pause</div>
  <div class="column"><i class="play circle icon"></i>Play Circle</div>
  <div class="column"><i class="play icon"></i>Play</div>
  <div class="column"><i class="play sign icon"></i>Play Sign</div>
  <div class="column"><i class="shuffle icon"></i>Shuffle</div>
  <div class="column"><i class="repeat icon"></i>Repeat</div>
  <div class="column"><i class="step backward icon"></i>Step Backward</div>
  <div class="column"><i class="step forward icon"></i>Step Forward</div>
  <div class="column"><i class="stop icon"></i>Stop</div>
  <div class="column"><i class="unmute icon"></i>Unmute</div>
  <div class="column"><i class="volume down icon"></i>Volume Down</div>
  <div class="column"><i class="volume off icon"></i>Volume Off</div>
  <div class="column"><i class="volume up icon"></i>Volume Up</div>
</div>
<pre class="prettyprint linenums">
&lt;i class=&quot;backward icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;forward icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;eject icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;fast backward icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;fast forward icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;mute icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;pause icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;play circle icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;play icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;play sign icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;shuffle icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;repeat icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;step backward icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;step forward icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;stop icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;unmute icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;volume down icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;volume off icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;volume up icon&quot;&gt;&lt;/i&gt;</pre>
<div class="prolific divider"></div>
<h6>Objects</h6>
<p>Icons can represent literal objects</p>
<div class="prolific-icon-grid clearfix">
  <div class="column"><i class="ambulance icon"></i>Ambulance</div>
  <div class="column"><i class="anchor icon"></i>Anchor</div>
  <div class="column"><i class="barcode icon"></i>Barcode</div>
  <div class="column"><i class="lab icon"></i>Lab</div>
  <div class="column"><i class="beer icon"></i>Beer</div>
  <div class="column"><i class="bell outline icon"></i>Bell Outline</div>
  <div class="column"><i class="bolt icon"></i>Bolt</div>
  <div class="column"><i class="book icon"></i>Book</div>
  <div class="column"><i class="briefcase icon"></i>Briefcase</div>
  <div class="column"><i class="building icon"></i>Building</div>
  <div class="column"><i class="bullhorn icon"></i>Bullhorn</div>
  <div class="column"><i class="bullseye icon"></i>Bullseye</div>
  <div class="column"><i class="camera icon"></i>Camera</div>
  <div class="column"><i class="camera retro icon"></i>Camera retro</div>
  <div class="column"><i class="coffee icon"></i>Coffee</div>
  <div class="column"><i class="doctor icon"></i>Doctor</div>
  <div class="column"><i class="eraser icon"></i>Eraser</div>
  <div class="column"><i class="female icon"></i>Female</div>
  <div class="column"><i class="fighter jet icon"></i>Fighter Jet</div>
  <div class="column"><i class="fire extinguisher icon"></i>Fire Extinguisher</div>
  <div class="column"><i class="fire icon"></i>Fire</div>
  <div class="column"><i class="checkered flag icon"></i>Checkered Flag</div>
  <div class="column"><i class="food icon"></i>Food</div>
  <div class="column"><i class="gamepad icon"></i>Gamepad</div>
  <div class="column"><i class="gift icon"></i>Gift</div>
  <div class="column"><i class="glass icon"></i>Glass</div>
  <div class="column"><i class="globe icon"></i>Globe</div>
  <div class="column"><i class="hdd icon"></i>HDD</div>
  <div class="column"><i class="headphones icon"></i>Headphones</div>
  <div class="column"><i class="hospital icon"></i>Hospital</div>
  <div class="column"><i class="key icon"></i>Key</div>
  <div class="column"><i class="keyboard icon"></i>Keyboard</div>
  <div class="column"><i class="laptop icon"></i>Laptop</div>
  <div class="column"><i class="leaf icon"></i>Leaf</div>
  <div class="column"><i class="lemon icon"></i>Lemon</div>
  <div class="column"><i class="lightbulb icon"></i>Lightbulb</div>
  <div class="column"><i class="magic icon"></i>Magic</div>
  <div class="column"><i class="magnet icon"></i>Magnet</div>
  <div class="column"><i class="male icon"></i>Male</div>
  <div class="column"><i class="medkit icon"></i>Medkit</div>
  <div class="column"><i class="money icon"></i>Money</div>
  <div class="column"><i class="moon icon"></i>Moon</div>
  <div class="column"><i class="pencil icon"></i>Pencil</div>
  <div class="column"><i class="phone icon"></i>Phone</div>
  <div class="column"><i class="phone sign icon"></i>Phone Sign</div>
  <div class="column"><i class="pin icon"></i>Pin</div>
  <div class="column"><i class="plane icon"></i>Plane</div>
  <div class="column"><i class="puzzle piece icon"></i>Puzzle Piece</div>
  <div class="column"><i class="road icon"></i>Road</div>
  <div class="column"><i class="rocket icon"></i>Rocket</div>
  <div class="column"><i class="shield icon"></i>Shield</div>
  <div class="column"><i class="stethoscope icon"></i>Stethoscope</div>
  <div class="column"><i class="suitcase icon"></i>Suitcase</div>
  <div class="column"><i class="sun icon"></i>Sun</div>
  <div class="column"><i class="ticket icon"></i>Ticket</div>
  <div class="column"><i class="trophy icon"></i>Trophy</div>
  <div class="column"><i class="truck icon"></i>Truck</div>
  <div class="column"><i class="umbrella icon"></i>Umbrella</div>
  <div class="column"><i class="wheelchair icon"></i>Wheel Chair</div>
  <div class="column"><i class="wrench icon"></i>Wrench</div>
</div>
<pre class="prettyprint linenums">
&lt;i class=&quot;ambulance icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;anchor icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;barcode icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;lab icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;beer icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bell outline icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bolt icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;book icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;briefcase icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;building icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bullhorn icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bullseye icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;camera icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;camera retro icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;coffee icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;doctor icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;eraser icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;female icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;fighter jet icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;fire extinguisher icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;fire icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;checkered flag icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;food icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;gamepad icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;gift icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;glass icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;globe icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;hdd icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;headphones icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;hospital icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;key icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;keyboard icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;laptop icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;leaf icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;lemon icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;lightbulb icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;magic icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;magnet icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;male icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;medkit icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;money icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;moon icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;pencil icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;phone icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;phone sign icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;pin icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;plane icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;puzzle piece icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;road icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;rocket icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;shield icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;stethoscope icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;suitcase icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;sun icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;ticket icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;trophy icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;truck icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;umbrella icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;wrench icon&quot;&gt;&lt;/i&gt;</pre>
<div class="prolific divider"></div>
<h6>Status Indication</h6>
<p>Icons can indicate the status of something</p>
<div class="prolific-icon-grid clearfix">
  <div class="column"><i class="ban circle icon"></i>Ban Circle</div>
  <div class="column"><i class="checkmark icon"></i>Checkmark</div>
  <div class="column"><i class="checkmark sign icon"></i>Checkmark Sign</div>
  <div class="column"><i class="minus checkbox icon"></i>Minus Checkbox</div>
  <div class="column"><i class="empty checkbox icon"></i>Empty Checkbox</div>
  <div class="column"><i class="checked checkbox icon"></i>Checked Checkbox</div>
  <div class="column"><i class="exclamation icon"></i>Exclamation</div>
  <div class="column"><i class="attention icon"></i>Attention</div>
  <div class="column"><i class="frown icon"></i>Frown</div>
  <div class="column"><i class="heart empty icon"></i>Heart Empty</div>
  <div class="column"><i class="heart icon"></i>Heart</div>
  <div class="column"><i class="loading icon"></i>Loading</div>
  <div class="column"><i class="lock icon"></i>Lock</div>
  <div class="column"><i class="meh icon"></i>Meh</div>
  <div class="column"><i class="ok circle icon"></i>OK Circle</div>
  <div class="column"><i class="ok sign icon"></i>OK Sign</div>
  <div class="column"><i class="smile icon"></i>Smile</div>
  <div class="column"><i class="empty star icon"></i>Empty Star</div>
  <div class="column"><i class="half empty star icon"></i>Half Empty Star</div>
  <div class="column"><i class="half star icon"></i>Half Star</div>
  <div class="column"><i class="star icon"></i>Star</div>
  <div class="column"><i class="thumbs down icon"></i>Thumbs Down</div>
  <div class="column"><i class="thumbs down outline icon"></i>Thumbs Down Outline</div>
  <div class="column"><i class="thumbs up icon"></i>Thumbs Up</div>
  <div class="column"><i class="thumbs up outline icon"></i>Thumbs Up Outline</div>
  <div class="column"><i class="unlock alternate icon"></i>Unlock Alternate</div>
  <div class="column"><i class="unlock icon"></i>Unlock</div>
  <div class="column"><i class="warn icon"></i>Warning</div>
</div>
<pre class="prettyprint linenums">
&lt;i class=&quot;ban circle icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;checkmark icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;checkmark sign icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;minus checkbox icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;empty checkbox icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;checked checkbox icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;exclamation icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;attention icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;frown icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;heart empty icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;heart icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;loading icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;lock icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;meh icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;ok circle icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;ok sign icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;smile icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;empty star icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;half empty star icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;half star icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;star icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;thumbs down icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;thumbs down outline icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;thumbs up icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;thumbs up outline icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;unlock alternate icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;unlock icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;warn icon&quot;&gt;&lt;/i&gt;</pre>
<div class="prolific divider"></div>
<h6>Symbols</h6>
<p>Icons can represent common symbols</p>
<div class="prolific-icon-grid clearfix">
  <div class="column"><i class="angle down icon"></i>Angle Down</div>
  <div class="column"><i class="angle left icon"></i>Angle Left</div>
  <div class="column"><i class="angle right icon"></i>Angle Right</div>
  <div class="column"><i class="angle up icon"></i>Angle up</div>
  <div class="column"><i class="arrow box down icon"></i>Arrow Box Down</div>
  <div class="column"><i class="arrow box right icon"></i>Arrow Box Right</div>
  <div class="column"><i class="arrow box left icon"></i>Arrow Box Left</div>
  <div class="column"><i class="arrow box up icon"></i>Arrow Box Up</div>
  <div class="column"><i class="down icon"></i>Down</div>
  <div class="column"><i class="left icon"></i>Left</div>
  <div class="column"><i class="right icon"></i>Right</div>
  <div class="column"><i class="up icon"></i>Up</div>
  <div class="column"><i class="asterisk icon"></i>Asterisk</div>
  <div class="column"><i class="triangle down icon"></i>Triangle Down</div>
  <div class="column"><i class="triangle left icon"></i>Triangle Left</div>
  <div class="column"><i class="triangle right icon"></i>Triangle Right</div>
  <div class="column"><i class="triangle up icon"></i>Triangle Up</div>
  <div class="column"><i class="down arrow icon"></i>Down Arrow</div>
  <div class="column"><i class="left arrow icon"></i>Left Arrow</div>
  <div class="column"><i class="right arrow icon"></i>Right Arrow</div>
  <div class="column"><i class="up arrow icon"></i>Up Arrow</div>
  <div class="column"><i class="arrow sign down icon"></i>Arrow Sign Down</div>
  <div class="column"><i class="arrow sign left icon"></i>Arrow Sign Left</div>
  <div class="column"><i class="arrow sign right icon"></i>Arrow Sign Right</div>
  <div class="column"><i class="arrow sign up icon"></i>Arrow Sign Up</div>
  <div class="column"><i class="circle left icon"></i>Circle Left</div>
  <div class="column"><i class="circle right icon"></i>Circle Right</div>
  <div class="column"><i class="circle up icon"></i>Circle Up</div>
  <div class="column"><i class="circle down icon"></i>Circle Down</div>
  <div class="column"><i class="circle blank icon"></i>Circle Blank</div>
  <div class="column"><i class="circle icon"></i>Circle</div>
  <div class="column"><i class="circle dot icon"></i>Circle Dot</div>
  <div class="column"><i class="double angle down icon"></i>Double Angle Down</div>
  <div class="column"><i class="double angle left icon"></i>Double Angle Left</div>
  <div class="column"><i class="double angle right icon"></i>Double angle Right</div>
  <div class="column"><i class="double angle up icon"></i>Double Angle Up</div>
  <div class="column"><i class="hand down icon"></i>Hand Down</div>
  <div class="column"><i class="hand left icon"></i>Hand Left</div>
  <div class="column"><i class="hand right icon"></i>Hand Right</div>
  <div class="column"><i class="hand up icon"></i>Hand Up</div>
  <div class="column"><i class="long arrow down icon"></i>Long Arrow Down</div>
  <div class="column"><i class="long arrow left icon"></i>Long Arrow Left</div>
  <div class="column"><i class="long arrow right icon"></i>Long Arrow Right</div>
  <div class="column"><i class="long arrow up icon"></i>Long Arrow Up</div>
  <div class="column"><i class="minus icon"></i>Minus</div>
  <div class="column"><i class="minus sign alternate icon"></i>Minus Sign Alternate</div>
  <div class="column"><i class="minus sign icon"></i>Minus sign</div>
  <div class="column"><i class="sign icon"></i>Sign</div>
</div>
<pre class="prettyprint linenums">
&lt;i class=&quot;angle down icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;angle left icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;angle right icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;angle up icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;arrow box down icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;arrow box right icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;arrow box left icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;arrow box up icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;down icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;left icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;right icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;up icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;asterisk icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;triangle down icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;triangle left icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;triangle right icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;triangle up icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;down arrow icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;left arrow icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;right arrow icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;up arrow icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;arrow sign down icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;arrow sign left icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;arrow sign right icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;arrow sign up icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;circle left icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;circle right icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;circle up icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;circle down icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;circle blank icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;circle icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;circle dot icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;double angle down icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;double angle left icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;double angle right icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;double angle up icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;hand down icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;hand left icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;hand right icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;hand up icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;long arrow down icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;long arrow left icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;long arrow right icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;long arrow up icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;minus icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;minus sign alternate icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;minus sign icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;sign icon&quot;&gt;&lt;/i&gt;</pre>
<div class="prolific divider"></div>
<h6>Currency</h6>
<p>Icons can represent units of currency</p>
<div class="prolific-icon-grid clearfix">
  <div class="column"><i class="dollar icon"></i>Dollar</div>
  <div class="column"><i class="euro icon"></i>Euro</div>
  <div class="column"><i class="pound icon"></i>Pound</div>
  <div class="column"><i class="rupee icon"></i>Rupee</div>
  <div class="column"><i class="won icon"></i>Won</div>
  <div class="column"><i class="yen icon"></i>Yen</div>
  <div class="column"><i class="rouble icon"></i>Rouble</div>
  <div class="column"><i class="lira icon"></i>Turkish Lira</div>
</div>
<pre class="prettyprint linenums">
&lt;i class=&quot;dollar icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;euro icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;pound icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;rupee icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;won icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;yen icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;yuan icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;lira icon&quot;&gt;&lt;/i&gt;</pre>
<div class="prolific divider"></div>
<h6>Brands</h6>
<p>Icons can represent logos to common brands</p>
<div class="prolific-icon-grid clearfix">
  <div class="column"><i class="adn icon"></i>Adn</div>
  <div class="column"><i class="android icon"></i>Android</div>
  <div class="column"><i class="apple icon"></i>Apple</div>
  <div class="column"><i class="bitbucket icon"></i>Bitbucket</div>
  <div class="column"><i class="bitbucket sign icon"></i>Bitbucket Sign</div>
  <div class="column"><i class="bitcoin icon"></i>Bitcoin</div>
  <div class="column"><i class="css3 icon"></i>CSS3</div>
  <div class="column"><i class="dribbble icon"></i>Dribbble</div>
  <div class="column"><i class="dropbox icon"></i>Dropbox</div>
  <div class="column"><i class="facebook icon"></i>Facebook</div>
  <div class="column"><i class="facebook sign icon"></i>Facebook Sign</div>
  <div class="column"><i class="facetime video icon"></i>Facetime Video</div>
  <div class="column"><i class="flickr icon"></i>Flickr</div>
  <div class="column"><i class="foursquare icon"></i>Foursquare</div>
  <div class="column"><i class="github alternate icon"></i>Github Alternate</div>
  <div class="column"><i class="github icon"></i>Github</div>
  <div class="column"><i class="github sign icon"></i>Github Sign</div>
  <div class="column"><i class="gittip icon"></i>Gittip</div>
  <div class="column"><i class="google plus icon"></i>Google Plus</div>
  <div class="column"><i class="google plus sign icon"></i>Google Plus Sign</div>
  <div class="column"><i class="h sign icon"></i>H Sign</div>
  <div class="column"><i class="html5 icon"></i>HTML5</div>
  <div class="column"><i class="instagram icon"></i>Instagram</div>
  <div class="column"><i class="linkedin icon"></i>Linkedin</div>
  <div class="column"><i class="linkedin sign icon"></i>Linkedin Sign</div>
  <div class="column"><i class="linux icon"></i>Linux</div>
  <div class="column"><i class="maxcdn icon"></i>Maxcdn</div>
  <div class="column"><i class="pinterest icon"></i>Pinterest</div>
  <div class="column"><i class="pinterest sign icon"></i>Pinterest Sign</div>
  <div class="column"><i class="renren icon"></i>Renren</div>
  <div class="column"><i class="skype icon"></i>Skype</div>
  <div class="column"><i class="stackexchange icon"></i>Stackexchange</div>
  <div class="column"><i class="trello icon"></i>Trello</div>
  <div class="column"><i class="tumblr icon"></i>Tumblr</div>
  <div class="column"><i class="tumblr sign icon"></i>Tumblr Sign</div>
  <div class="column"><i class="twitter icon"></i>Twitter</div>
  <div class="column"><i class="twitter sign icon"></i>Twitter Sign</div>
  <div class="column"><i class="vk icon"></i>Vk</div>
  <div class="column"><i class="weibo icon"></i>Weibo</div>
  <div class="column"><i class="windows icon"></i>Windows</div>
  <div class="column"><i class="xing icon"></i>Xing</div>
  <div class="column"><i class="xing sign icon"></i>Xing Sign</div>
  <div class="column"><i class="youtube icon"></i>YouTube</div>
  <div class="column"><i class="youtube play icon"></i>YouTube Play</div>
  <div class="column"><i class="youtube sign icon"></i>YouTube Sign</div>
</div>
<pre class="prettyprint linenums">
&lt;i class=&quot;adn icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;android icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;apple icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bitbucket icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bitbucket sign icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bitcoin icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;css3 icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;dribbble icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;dropbox icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;facebook icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;facebook sign icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;facetime video icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;flickr icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;foursquare icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;github alternate icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;github icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;github sign icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;gittip icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;google plus icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;google plus sign icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;h sign icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;html5 icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;instagram icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;linkedin icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;linkedin sign icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;linux icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;maxcdn icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;pinterest icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;pinterest sign icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;renren icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;skype icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;stackexchange icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;trello icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;tumblr icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;tumblr sign icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;twitter icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;twitter sign icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;vk icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;weibo icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;windows icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;xing icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;xing sign icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;youtube icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;youtube play icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;youtube sign icon&quot;&gt;&lt;/i&gt;</pre>
<div class="prolific divider"></div>
<h6>Size</h6>
<p>An icon can vary in size</p>
<div class="prolific basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100"> <i class="small home icon"></i> <i class="home icon"></i> <i class="large home icon"></i> <i class="big home icon"></i> <i class="huge home icon"></i> <i class="massive home icon"></i> </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;i class=&quot;small home icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;home icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;large home icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;big home icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;huge home icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;massive home icon&quot;&gt;&lt;/i&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<h6>Flipped</h6>
<p>An icon can be flipped</p>
<div class="prolific basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100"> <i class="horizontally flipped cloud icon"></i> <i class="vertically flipped cloud icon"></i> </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;i class=&quot;horizontally flipped cloud icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;vertically flipped cloud icon&quot;&gt;&lt;/i&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<h6>Rotated</h6>
<p>An icon can be rotated</p>
<div class="prolific basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100"> <i class="clockwise rotated cloud icon"></i> <i class="counterclockwise rotated cloud icon"></i> </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;i class=&quot;clockwise rotated cloud icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;counterclockwise rotated cloud icon&quot;&gt;&lt;/i&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<h6>Circular</h6>
<p>An icon can be formatted to appear circular</p>
<div class="prolific basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100"> <i class="circular users icon"></i> <i class="circular teal users icon"></i> <i class="circular inverted users icon"></i> <i class="circular inverted teal users icon"></i> </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;i class=&quot;circular users icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;circular teal users icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;circular inverted users icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;circular inverted teal users icon&quot;&gt;&lt;/i&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<h6>Square</h6>
<p>An icon can be formatted to appear square</p>
<div class="prolific basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100"> <i class="square users icon"></i> <i class="square teal users icon"></i> <i class="square inverted users icon"></i> <i class="square inverted teal users icon"></i> </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;i class=&quot;square users icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;square teal users icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;square inverted users icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;square inverted teal users icon&quot;&gt;&lt;/i&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<h6>Colors</h6>
<p>An icon can be formatted with different colors</p>
<div class="prolific basic divider"></div>
<div class="columns gutters">
  <div class="screen-50 tablet-100 phone-100"> <i class="black users icon"></i> <i class="info user icon"></i> <i class="danger users icon"></i> <i class="success user icon"></i> <i class="purple chat icon"></i> <i class="warning comment icon"></i> <i class="teal comment icon"></i> </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;i class=&quot;black users icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;info user icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;danger users icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;success user icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;purple chat icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;warning comment icon&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;teal comment icon&quot;&gt;&lt;/i&gt;</pre>
  </div>
</div>
<script src="assets/prettify.js"></script>