<h2 class="small-bottom-space">Labels</h2>
<h6>Label</h6>
<p>Basic label</p>
<div class="prolific basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <div class="prolific label"> <i class="chat icon"></i> 23 </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific label&quot;&gt;
  &lt;i class=&quot;chat icon&quot;&gt;&lt;/i&gt; 23
&lt;/div&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<h6>Detail</h6>
<p>A label can contain a detail</p>
<div class="prolific basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <div class="prolific label"> Items
      <div class="detail">150</div>
    </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific label&quot;&gt;
  Items
  &lt;div class=&quot;detail&quot;&gt;150&lt;/div&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<h6>Removalle</h6>
<p>A label can contain a delete icon</p>
<div class="prolific basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <div class="prolific label"> Witty <i class="delete icon"></i> </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific label&quot;&gt;
  Witty
  &lt;i class=&quot;delete icon&quot;&gt;&lt;/i&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<h6>Corner Label</h6>
<p>A label can position itself in the corner of an element</p>
<div class="prolific basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <div class="prolific segment">
      <div class="prolific right info corner label"> <i class="heart icon"></i> </div>
      <div class="prolific left corner label">
        <div class="text">New</div>
      </div>
      This is a normal text segment </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific segment&quot;&gt;
  &lt;div class=&quot;prolific right info corner label&quot;&gt;
    &lt;i class=&quot;heart icon&quot;&gt;&lt;/i&gt;
  &lt;/div&gt;
  &lt;div class=&quot;prolific left corner label&quot;&gt;
    &lt;div class=&quot;text&quot;&gt;New&lt;/div&gt;
  &lt;/div&gt;
  This is a normal text segment
&lt;/div&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<h6>Ribbon Label</h6>
<p>A label can appear as a ribbon attaching itself to an element.</p>
<div class="prolific basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <div class="prolific segment">
      <div class="prolific ribbon">
        <div class="ribbon">50% Off</div>
      </div>
      <div class="header"> Welcome back! </div>
      <p> It's good to see you again. I have had a lot to think about since our last visit, I've changed much as a person and I can see that you have too. </p>
    </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific segment&quot;&gt;
  &lt;div class=&quot;prolific ribbon&quot;&gt;
    &lt;div class=&quot;ribbon&quot;&gt;50% Off&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;header&quot;&gt; Welcome back! &lt;/div&gt;
  &lt;p&gt; It's good to see you again. I have had a visit... &lt;/p&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<h6>Color Variations</h6>
<p>A label can have different colors.</p>
<div class="prolific basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100"> <a class="prolific label"> First </a> <a class="prolific positive label"> Fun </a> <a class="prolific negative label"> Happy </a> <a class="prolific info label"> Smart </a>
    <div class="prolific basic divider"></div>
    <a class="prolific warning label"> Radical </a> <a class="prolific purple label"> Insane </a> <a class="prolific teal label"> Exciting </a> </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;a class=&quot;prolific label&quot;&gt;First&lt;/a&gt;
&lt;a class=&quot;prolific positive label&quot;&gt;Fun&lt;/a&gt;
&lt;a class=&quot;prolific negative label&quot;&gt;Happy&lt;/a&gt;
&lt;a class=&quot;prolific info label&quot;&gt;Smart&lt;/a&gt;
&lt;a class=&quot;prolific warning label&quot;&gt;Radical&lt;/a&gt;
&lt;a class=&quot;prolific purple label&quot;&gt;Insane&lt;/a&gt;
&lt;a class=&quot;prolific teal label&quot;&gt;Exciting&lt;/a&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<h6>Horizontal Label</h6>
<p>A horizontal label is formatted to label content along-side it horizontally.</p>
<div class="prolific basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <div class="prolific divided selection list"> <a class="item">
      <div class="prolific positive horizontal label">Fruit</div>
      Kumquats </a> <a class="item">
      <div class="prolific purple horizontal label">Candy</div>
      Ice Cream </a> <a class="item">
      <div class="prolific negative horizontal label">Fruit</div>
      Orange </a> <a class="item">
      <div class="prolific horizontal label">Dog</div>
      Poodle </a> </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific divided selection list&quot;&gt;
  &lt;a class=&quot;item&quot;&gt;
    &lt;div class=&quot;prolific positive horizontal label&quot;&gt;Fruit&lt;/div&gt;
    Kumquats
  &lt;/a&gt;
  &lt;a class=&quot;item&quot;&gt;
    &lt;div class=&quot;prolific purple horizontal label&quot;&gt;Candy&lt;/div&gt;
    Ice Cream
  &lt;/a&gt;
  &lt;a class=&quot;item&quot;&gt;
    &lt;div class=&quot;prolific negative horizontal label&quot;&gt;Fruit&lt;/div&gt;
    Orange
  &lt;/a&gt;
  &lt;a class=&quot;item&quot;&gt;
    &lt;div class=&quot;prolific horizontal label&quot;&gt;Dog&lt;/div&gt;
    Poodle
  &lt;/a&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<h6>Circular Label</h6>
<p>A label can be circular.</p>
<div class="prolific basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100"> <a class="prolific circular label"> 12 </a> <a class="prolific positive circular label"> 11 </a> <a class="prolific negative circular label"> 10 </a> <a class="prolific info circular label"> 64 </a> <a class="prolific purple circular label"> 62 </a> <a class="prolific teal circular label"> 1 </a>
    <div class="prolific basic divider"></div>
    <div class="prolific circular label"></div>
    <div class="prolific positive circular label"></div>
    <div class="prolific negative circular label"></div>
    <div class="prolific info circular label"></div>
    <div class="prolific purple circular label"></div>
    <div class="prolific teal circular label"></div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;a class=&quot;prolific circular label&quot;&gt; 12 &lt;/a&gt;
&lt;a class=&quot;prolific positive circular label&quot;&gt; 11 &lt;/a&gt;
&lt;a class=&quot;prolific negative circular label&quot;&gt; 10 &lt;/a&gt;
&lt;a class=&quot;prolific info circular label&quot;&gt; 64 &lt;/a&gt;
&lt;a class=&quot;prolific purple circular label&quot;&gt; 62 &lt;/a&gt;
&lt;a class=&quot;prolific teal circular label&quot;&gt; 1 &lt;/a&gt;
&lt;div class=&quot;prolific circular label&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;prolific positive circular label&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;prolific negative circular label&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;prolific info circular label&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;prolific purple circular label&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;prolific teal circular label&quot;&gt;&lt;/div&gt;</pre>
  </div>
</div>
<script src="assets/prettify.js"></script>