    <h2 class="small-bottom-space">Messages</h2>
<h6>Text Message</h6>
<p>A basic message</p>
<div class="prolific basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <div class="prolific message">
      <div class="header"> Welcome back! </div>
      <p> It's good to see you again. I have had a lot to think about since our last visit, I've changed much as a person and I can see that you have too. </p>
    </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific message&quot;&gt;
  &lt;div class=&quot;header&quot;&gt;
    Welcome back!
  &lt;/div&gt;
  &lt;p&gt;
    ...
  &lt;/p&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<h6>List Message</h6>
<p>A message with a list</p>
<div class="prolific basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <div class="prolific message">
      <div class="header"> Welcome back! </div>
      <ul class="list">
        <li>It's good to see you again.</li>
        <li>Did you know it's been a while?</li>
      </ul>
    </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific message&quot;&gt;
  &lt;div class=&quot;header&quot;&gt;
    Welcome back!
  &lt;/div&gt;
  &lt;ul class=&quot;list&quot;&gt;
    &lt;li&gt;It's good to see you again.&lt;/li&gt;
    &lt;li&gt;Did you know it's been a while?&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<h6>Icon Message</h6>
<p>A message can contain an icon.</p>
<div class="prolific basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <div class="prolific icon message"> <i class="inbox icon"></i>
      <div class="content">
        <div class="header"> Have you heard about our mailing list? </div>
        <p>Get all the best inventions in your e-mail every day. Sign up now!</p>
      </div>
    </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific icon message&quot;&gt;
  &lt;i class=&quot;inbox icon&quot;&gt;&lt;/i&gt;
  &lt;div class=&quot;content&quot;&gt;
    &lt;div class=&quot;header&quot;&gt;
      Have you heard about our mailing list?
    &lt;/div&gt;
    &lt;p&gt;...&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<h6>Dismissable Block</h6>
<p>A message that the user can choose to hide.</p>
<div class="prolific basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <div class="prolific message"> <i class="close icon"></i>
      <div class="header"> Welcome back! </div>
      <p>This is a special notification which you can dismiss if you're bored with it.</p>
    </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific message&quot;&gt; &lt;i class=&quot;close icon&quot;&gt;&lt;/i&gt;
  &lt;div class=&quot;header&quot;&gt; Welcome back! &lt;/div&gt;
  &lt;p&gt;This is a ...&lt;/p&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<h6>Colored</h6>
<p>A message can be formatted to be different colors.</p>
<div class="prolific basic divider"></div>
<div class="columns gutters">
  <div class="screen-50 tablet-100 phone-100">
    <div class="prolific negative message">Red</div>
    <div class="prolific basic divider"></div>
    <div class="prolific info message">Blue</div>
    <div class="prolific basic divider"></div>
    <div class="prolific positive message">Green</div>
    <div class="prolific basic divider"></div>
    <div class="prolific warning message">Yellow</div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific negative message&quot;&gt;Red&lt;/div&gt;
&lt;div class=&quot;prolific info message&quot;&gt;Blue&lt;/div&gt;
&lt;div class=&quot;prolific positive message&quot;&gt;Green&lt;/div&gt;
&lt;div class=&quot;prolific warning message&quot;&gt;Yellow&lt;/div&gt;</pre>
  </div>
</div>
<script src="assets/prettify.js"></script> 