<h2 class="small-bottom-space">System Requirements</h2>
<p>These are the minimum requirements needed before installation of   CMS pro can be successful. If you hesitate what hosting services to choose, we can recommend few, such as: <a href="http://webline-services.com" target="_blank">webline-services for shared hosting</a> and <a href="http://www.ramnode.com/" target="_blank">ramnode for vps</a></p>
<ul>
  <li>Apache 2.0.x or above (mod_rewrite)</li>
  <li>MySQL 5.1.x or above</li>
  <li>PHP 5.3.x or above (GD, XML, zlib, php-pecl-zip libraries)</li>
</ul>
<h3>PHP Configuration</h3>
<div class="prolific divider"></div>
<ul>
  <li>PHP memory of 32MB</li>
  <li>The PHP extension for connecting to your MySQL database via MySQLi driver needs to be enabled</li>
  <li>PHP <a href="http://www.php.net/manual/en/ref.xml.php" rel="nofollow" target="_blank">XML extension</a></li>
  <li>PHP <a href="http://www.freetype.org/freetype2/index.html" rel="nofollow" target="_blank">Freetype</a> needs to be enabled</li>
  <li><a href="http://www.php.net/gd" rel="nofollow" target="_blank">GD library</a> is needed for image manipulation (resizing user pictures, images and captcha)</li>
  <li><a href="http://pecl.php.net/package/zip" rel="nofollow" target="_blank">PHP PECL Zip</a> needs to be installed and enabled</li>
</ul>
<p>On remote, hosted or dedicated servers the configuration and   availability of these applications will depend on the host provider or   the operating system that is installed upon the server. </p>
<p>Most of known and popular hostings can be used for CMS pro. There is no specific option in the   system requirements. You can also ask our support staff to check if your   hosting plan can be used for the software. <b>Checking service requires NO FEE!</b></p>
<h3>Local Testing</h3>
<div class="prolific divider"></div>
<p>If installing on your home or office computer (for local testing   only) there are a number of packages for the various operating systems   that will assist in establishing these requirements.</p>
<ul>
  <li><a href="http://www.apachefriends.org/en/xampp.html" rel="nofollow" target="_blank">XAMPP</a> - multi-platform - Apache, MySQL, PHP, installation. </li>
  <li>LAMP - Linux platform - Apache, MySQL, PHP, installation.</li>
  <li><a href="http://www.wampserver.com/en/" rel="nofollow" target="_blank">WAMP</a> - Windows platform - Apache, MySQL, PHP, installation.</li>
  <li>Install each of the components separately and configure them all to work together.</li>
</ul>