<h2 class="small-bottom-space">Segments</h2>
<h6>Segment</h6>
<p>A segment of content</p>
<br>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <div class="prolific segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
  </div>
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit...&lt;/p&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<h6>Piled</h6>
<p>A segment can be formatted to look like a pile of pages</p>
<br>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <div class="prolific piled segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
  </div>
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific piled segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit...&lt;/p&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<h6>Stacked</h6>
<p>A segment can be formatted to show it contains multiple pages</p>
<br>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <div class="prolific stacked segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
  </div>
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific stacked segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit...&lt;/p&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<h6>Raised</h6>
<p>A segment may be formatted to raise above the page.</p>
<br>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <div class="prolific raised segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
  </div>
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific raised segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit...&lt;/p&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<h6>Colored</h6>
<p>A segment can be colored.</p>
<br>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <div class="prolific info segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
    <div class="prolific positive segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
    <div class="prolific negative segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
    <div class="prolific warning segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
    <div class="prolific purple segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
    <div class="prolific teal segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
  </div>
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific info segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific positive segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific negative segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific warning segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific purple segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific teal segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<h6>Inverted</h6>
<p>These colors can be inverted.</p>
<br>
<div class="columns gutters">
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <div class="prolific info inverted segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
    <div class="prolific positive inverted segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
    <div class="prolific negative inverted segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
    <div class="prolific warning inverted segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
    <div class="prolific purple inverted segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
    <div class="prolific teal inverted segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
  </div>
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific info inverted segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific positive inverted segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific negative inverted segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific warning inverted segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific purple inverted segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class=&quot;prolific teal inverted segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<script src="assets/prettify.js"></script> 