<h2 class="small-bottom-space">Tabs</h2>
<h6>Tabs</h6>
<div class="prolific basic divider"></div>
<div class="columns gutters">
  <div class="screen-50 tablet-100 phone-100">
    <ul class="prolific tabs">
      <li><a data-tab="#first" class="active"><i class="icon desktop"></i> First Tab</a></li>
      <li><a data-tab="#second"><i class="icon code fork"></i> Second Tab</a></li>
      <li><a data-tab="#third"><i class="icon code"></i> Third Tab</a></li>
    </ul>
    <div class="prolific bottom attached segment">
      <div class="tab_content" id="first">
        <p> <span class="prolific positive circular label"></span> Maecenas interdum lobortis nunc, sit amet ultrices urna lobortis et. Donec iaculis dui in pretium hendrerit. Integer et nisi dictum, posuere tellus eget, posuere nulla. Curabitur a augue eget nibh bibendum egestas.</p>
      </div>
      <div class="tab_content" id="second">
        <p> <span class="prolific negative circular label"></span> Maecenas interdum lobortis nunc, sit amet ultrices urna lobortis et. Donec iaculis dui in pretium hendrerit. Integer et nisi dictum, posuere tellus eget, posuere nulla. Curabitur a augue eget nibh bibendum egestas.</p>
      </div>
      <div class="tab_content" id="third">
        <p> <span class="prolific info circular label"></span> Maecenas interdum lobortis nunc, sit amet ultrices urna lobortis et. Donec iaculis dui in pretium hendrerit. Integer et nisi dictum, posuere tellus eget, posuere nulla. Curabitur a augue eget nibh bibendum egestas.</p>
      </div>
    </div>
  </div>
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;ul class=&quot;prolific tabs&quot;&gt;
  &lt;li&gt;&lt;a data-tab=&quot;#first&quot;&gt;
    &lt;i class=&quot;icon desktop&quot;&gt;&lt;/i&gt; First Tab
  &lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a data-tab=&quot;#second&quot;&gt;
    &lt;i class=&quot;icon code fork&quot;&gt;&lt;/i&gt; Second Tab&lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;&lt;a data-tab=&quot;#third&quot;&gt;
    &lt;i class=&quot;icon code&quot;&gt;&lt;/i&gt; Third Tab
  &lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;div class=&quot;tab_content&quot; id=&quot;first&quot;&gt;
  &lt;p&gt; 1. Tab content...  &lt;/p&gt;
&lt;/div&gt;
&lt;div class=&quot;tab_content&quot; id=&quot;second&quot;&gt;
  &lt;p&gt; 2. Tab content...  &lt;/p&gt;
&lt;/div&gt;
&lt;div class=&quot;tab_content&quot; id=&quot;third&quot;&gt;
  &lt;p&gt; 3. Tab content... &lt;/p&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<script src="assets/prettify.js"></script> 
<script type="text/javascript">
  $(document).ready(function () {
    /* == Tabs == */
	$(".tab_content").hide();
	$(".prolific.tabs li:first a").addClass("active").show(); 
	$(".tab_content:first").show();
	$(".prolific.tabs li a").on('click', function () {
		$(".prolific.tabs li a").removeClass("active");
		$(this).addClass("active");
		$(".tab_content").hide();
		var activeTab = $(this).attr("data-tab");
		$(activeTab).show();
		//return false;
	});;
  });
</script> 