<h2 class="half-bottom-space">Tooltips</h2>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <h6>Popup</h6>
    <p>A standard popup</p>
    <div class="prolific basic divider"></div>
    <i class="heart circular icon link" data-content="Hello, I am a pop-up."></i> </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;i class=&quot;heart circular icon link&quot; data-content=&quot;Hello, I am a pop-up.&quot;&gt;&lt;/i&gt;</pre>
  </div>
</div>
<div class="prolific divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <h6>Title</h6>
    <p>A popup can be formatted with a title</p>
    <div class="prolific basic divider"></div>
    <img src="help/demo/avatar.jpg" data-title="PonyDog" data-content="Ponydog has been a member for 10 days" class="prolific avatar image"> PonyDog </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;img src=&quot;images/demo/avatar.jpg&quot; 
  data-title=&quot;PonyDog&quot; 
  data-content=&quot;Ponydog has been a member for 10 days&quot; 
  class=&quot;prolific avatar image&quot;
&gt; </pre>
  </div>
</div>
<script src="assets/prettify.js"></script> 
<script type="text/javascript">
  $(document).ready(function () {
    $('body [data-content]').popover({trigger: 'hover'});
  });
</script>