/* == Images == */
.prolific.image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
}
img.prolific.image {
  background: none;
}
.prolific.image .caption {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .8em;
  font-family: 'Open Sans Condensed';
  text-align: center;
  box-shadow: inset 0 1px 0 0 #fff;
  position: relative;
}
.prolific.image img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
  border: 0
}
/* == State == */
.prolific.disabled.image {
  cursor: default;
  opacity: 0.3;
}
/* == Variations == */
.prolific.basic.image {
  box-shadow: none;
}
.prolific.rounded.images .image,
.prolific.rounded.images img,
.prolific.rounded.image img,
.prolific.rounded.image {
  border-radius: 0.3125em;
}
.prolific.circular.images .image,
.prolific.circular.images img,
.prolific.circular.image img,
.prolific.circular.image {
  border-radius: 500rem;
}
.prolific.fluid.images,
.prolific.fluid.image,
.prolific.fluid.images img,
.prolific.fluid.image img {
  display: block;
  width: 100%;
}
.prolific.avatar.images .image,
.prolific.avatar.images img,
.prolific.avatar.image img,
.prolific.avatar.image {
  margin-right: 0.5em;
  display: inline-block;
  width: 3em;
  height: 3em;
  border-radius: 500rem;
}
.prolific.left.floated.image,
.prolific.left.floated.images {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
.prolific.right.floated.images,
.prolific.right.floated.image {
  float: right;
  margin-bottom: 1em;
  margin-left: 1em;
}
.prolific.center.floated.images,
.prolific.center.floated.image {
  float: none;
  margin: 0 auto;
  text-align: center;
  display: block;
}
/* == Size == */
.prolific.tiny.images .image,
.prolific.tiny.images img,
.prolific.tiny.image {
  width: 20px;
  font-size: 0.7rem;
}
.prolific.mini.images .image,
.prolific.mini.images img,
.prolific.mini.image {
  width: 35px;
  font-size: 0.8rem;
}
.prolific.small.images .image,
.prolific.small.images img,
.prolific.small.image {
  width: 80px;
  font-size: 0.9rem;
}
.prolific.normal.images .image,
.prolific.normal.images img,
.prolific.normal.image {
  width: 150px;
  font-size: 0.9rem;
}
.prolific.medium.images .image,
.prolific.medium.images img,
.prolific.medium.image {
  width: 300px;
  font-size: 1rem;
}
.prolific.large.images .image,
.prolific.large.images img,
.prolific.large.image {
  width: 450px;
  font-size: 1.1rem;
}
.prolific.huge.images .image,
.prolific.huge.images img,
.prolific.huge.image {
  width: 600px;
  font-size: 1.2rem;
}
/* == Groups == */
.prolific.images {
  font-size: 0em;
  margin: 0em -0.25rem 0rem;
}
.prolific.images .image,
.prolific.images img {
  display: inline-block;
  margin: 0em 0.25em 0.5em;
}
