/* == Menu == */
.prolific.menu {
  margin: 1rem 0;
  background-color: #FFF;
  font-size: 0;
  font-weight: 400;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
 border-radius:.1875rem
}
.prolific.menu:first-child {
  margin-top: 0
}
.prolific.menu:last-child {
  margin-bottom: 0
}
.prolific.menu:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
.prolific.menu > .item:first-child {
  border-radius: .1875em 0 0 .1875em
}
.prolific.menu > .item:last-child {
  border-radius: 0 .1875em .1875em 0
}
.prolific.menu .item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity .2s ease, background .2s ease, 0 .2s ease;
  transition: opacity .2s ease, background .2s ease, box-shadow .2s ease
}
/* == Text Colors == */
.prolific.menu .item,
.prolific.menu .item > a:not(.button) {
  color: rgba(0,0,0,0.75)
}
.prolific.menu .item .item,
.prolific.menu .item .item > a:not(.button) {
  color: rgba(30,30,30,0.7)
}
.prolific.menu .item .item .item,
.prolific.menu .item .item .item > a:not(.button) {
  color: rgba(30,30,30,0.6)
}
.prolific.menu .dropdown .menu .item,
.prolific.menu .dropdown .menu .item a:not(.button) {
  color: rgba(0,0,0,0.75)
}
.prolific.menu .item .menu a.item:hover,
.prolific.menu .item .menu .link.item:hover {
  color: rgba(0,0,0,0.85)
}
.prolific.menu .dropdown .menu .item a:not(.button):hover {
  color: rgba(0,0,0,0.85)
}
.prolific.menu .active.item,
.prolific.menu .active.item a:not(.button) {
  color: rgba(0,0,0,0.85);
  border-radius: 0
}
/* == Items == */
.prolific.menu .item {
  position: relative;
  display: inline-block;
  padding: .83em .95em;
  border-top: 0 solid rgba(0,0,0,0);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-user-select: 0;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.prolific.menu .menu {
  margin: 0
}
.prolific.menu .item.left,
.prolific.menu .menu.left {
  float: left
}
.prolific.menu .item.right,
.prolific.menu .menu.right {
  float: right
}
/* == Borders == */
.prolific.menu .item:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  box-shadow: inset 1px 0 0 0 rgba(0,0,0,0.08)
}
.prolific.menu > .menu:not(.right):first-child > .item:first-child:before,
.prolific.menu .item:first-child:before {
  display: none
}
.prolific.menu .menu.right .item:before,
.prolific.menu .item.right:before {
  right: auto;
  left: 0
}
/* == Text Content == */
.prolific.menu .text.item > *,
.prolific.menu .item > p:only-child {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  line-height: 1.3;
  color: rgba(0,0,0,0.6)
}
.prolific.menu .item > p:first-child {
  margin-top: 0
}
.prolific.menu .item > p:last-child {
  margin-bottom: 0
}
/* == Button == */
.prolific.menu:not(.vertical) .item > .button {
  position: relative;
  top: -.05em;
  margin: -.55em 0;
  padding-bottom: .55em;
  padding-top: .55em;
  font-size: .875em
}
/* == Input == */
.prolific.menu:not(.vertical) .item > .input {
  margin-top: -.85em;
  margin-bottom: -.85em;
  /*
  padding-top: .3em;
  padding-bottom: .3em;
  */
  width: 100%;
  vertical-align: top
}
.prolific.menu .item > .input input {
  padding-top: .5em;
  padding-bottom: .5em
}
.prolific.vertical.menu .item > .input input {
  margin: 0;
  padding-top: .63em;
  padding-bottom: .63em
}
.prolific.vertical.menu .prolific.input > .icon {
  padding-top: .63em
}
.prolific.menu:not(.vertical) .item > .button.labeled > .icon {
  padding-top: .6em
}
.prolific.menu:not(.vertical) .item .action.input > .button {
  font-size: .8em;
  padding: .55em .8em
}
/* == Size == */
.prolific.small.menu:not(.vertical) .item > .input input {
  padding-top: .4em;
  padding-bottom: .4em
}
.prolific.large.menu:not(.vertical) .item > .input input {
  top: -.125em;
  padding-bottom: .6em;
  padding-top: .6em
}
.prolific.large.menu:not(.vertical) .item .action.input > .button {
  font-size: .8em;
  padding: .9em
}
.prolific.large.menu:not(.vertical) .item .action.input > .button > .icon {
  padding-top: .8em
}
/* == Header == */
.prolific.menu .header.item {
  background-color: rgba(0,0,0,0.04);
  margin: 0
}
.prolific.vertical.menu .header.item {
  font-weight: 700
}
/* == Dropdowns == */
.prolific.menu .dropdown .menu .item .icon {
  float: none;
  margin: 0 .75em 0 0
}
.prolific.menu .dropdown.item .menu {
  left: 1px;
  margin: 0;
  min-width: 0;
  min-width: calc(99%);
  -webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1)
}
.prolific.secondary.menu .dropdown.item .menu {
  left: 0;
  min-width: 100%
}
.prolific.menu .pointing.dropdown.item .menu {
  margin-top: .75em
}
.prolific.menu .simple.dropdown.item .menu {
  margin: 0
}
.prolific.menu .dropdown.item .menu .item {
  width: 100%;
  color: rgba(0,0,0,0.75)
}
.prolific.menu .dropdown.item .menu .active.item {
  -webkit-box-shadow: none;
  box-shadow: none
}
.prolific.menu .prolific.dropdown .menu .item:before {
  display: none
}
/* == Labels == */
.prolific.menu .item > .label {
  background-color: rgba(0,0,0,0.35);
  color: #FFF;
  margin: -.15em 0 -.15em .5em;
  padding: .3em .8em;
  vertical-align: baseline
}
.prolific.menu .item > .floating.label {
  padding: .3em .8em
}
.prolific.menu .item > img:only-child {
  display: block;
  max-width: 100%;
  margin: 0 auto
}
/* == States == */
.prolific.link.menu .item:hover,
.prolific.menu .link.item:hover,
.prolific.menu a.item:hover,
.prolific.menu .prolific.dropdown .menu .item:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.02)
}
.prolific.menu .prolific.dropdown.item.active {
  background-color: rgba(0,0,0,0.02);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0
}
.prolific.link.menu .item:active,
.prolific.menu .link.item:active,
.prolific.menu a.item:active,
.prolific.menu .prolific.dropdown .menu .item:active {
  background-color: rgba(0,0,0,0.05)
}
.prolific.menu .active.item {
  background-color: rgba(0,0,0,0.01);
  color: rgba(0,0,0,0.95);
  -webkit-box-shadow: 0 .2em 0 inset;
  box-shadow: 0 .2em 0 inset
}
.prolific.vertical.menu .active.item {
  border-radius: 0;
  -webkit-box-shadow: .2em 0 0 inset;
  box-shadow: .2em 0 0 inset
}
.prolific.vertical.menu > .active.item:first-child {
  border-radius: 0 .1875em 0 0
}
.prolific.vertical.menu > .active.item:last-child {
  border-radius: 0 0 .1875em 0
}
.prolific.vertical.menu > .active.item:only-child {
  border-radius: 0 .1875em .1875em 0
}
.prolific.vertical.menu .active.item .menu .active.item {
  border-left: none
}
.prolific.vertical.menu .active.item .menu .active.item {
  padding-left: 1.5rem
}
.prolific.vertical.menu .item .menu .active.item {
  background-color: rgba(0,0,0,0.03);
  -webkit-box-shadow: none;
  box-shadow: none
}
.prolific.menu .item.disabled,
.prolific.menu .item.disabled:hover {
  cursor: default;
  color: rgba(0,0,0,0.2);
  background-color: transparent
}
.prolific.menu.loading {
  position: relative
}
.prolific.menu.loading:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8) url(../images/loader-large.gif) no-repeat 50% 50%;
  visibility: visible
}
/* == Types == */
.prolific.vertical.menu .item {
  display: block;
  height: auto;
  border-top: none;
  border-left: 0 solid rgba(0,0,0,0);
  border-right: none
}
.prolific.vertical.menu > .item:first-child {
  border-radius: .1875em .1875em 0 0
}
.prolific.vertical.menu > .item:last-child {
  border-radius: 0 0 .1875em .1875em
}
.prolific.vertical.menu .item > .label {
  float: right;
  text-align: center
}
.prolific.vertical.menu .item > i.icon {
  float: right;
  width: 1.22em;
  margin: 0 0 0 .5em
}
.prolific.vertical.menu .item > .label + i.icon {
  float: none;
  margin: 0 .25em 0 0
}
.prolific.vertical.menu .item:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
.prolific.vertical.menu .item:first-child:before {
  background-image: none
}
.prolific.vertical.menu .dropdown.item > i {
  float: right;
  content: "\f0da"
}
.prolific.vertical.menu .dropdown.item .menu {
  top: 0;
  left: 100%;
  margin: 0 0 0 1px;
  -webkit-box-shadow: 0 0 1px 1px #DDD;
  box-shadow: 0 0 1px 1px #DDD
}
.prolific.vertical.menu .dropdown.item.active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}
.prolific.vertical.menu .dropdown.item .menu .item {
  font-size: 1rem
}
.prolific.vertical.menu .dropdown.item .menu .item i.icon {
  margin-right: 0
}
.prolific.vertical.menu .dropdown.item.active {
  -webkit-box-shadow: none;
  box-shadow: none
}
.prolific.vertical.menu .item > .menu {
  margin: .5em -.95em 0
}
.prolific.vertical.menu .item > .menu > .item {
padding:.5rem 1.5rem;
  font-size: .875em
}
.prolific.vertical.menu .item > .menu > .item:before {
  display: none
}
/* == Tiered == */
.prolific.tiered.menu > .sub.menu > .item {
  color: rgba(0,0,0,0.4)
}
.prolific.tiered.menu > .menu > .item:hover {
  color: rgba(0,0,0,0.8)
}
.prolific.tiered.menu .item.active {
  color: rgba(0,0,0,0.8)
}
.prolific.tiered.menu > .menu .item.active:after {
  position: absolute;
  content: '';
  margin-top: -1px;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FBFBFB
}
.prolific.tiered.menu .sub.menu {
  background-color: rgba(0,0,0,0.01);
  border-radius: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #FFF
}
.prolific.tiered.menu .sub.menu .item {
font-size:.875rem
}
.prolific.tiered.menu .sub.menu .item:before {
  background-image: none
}
.prolific.tiered.menu .sub.menu .active.item {
  padding-top: .83em;
  background-color: transparent;
  border-radius: 0 0 0 0;
  border-top: medium none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgba(0,0,0,0.7)
}
.prolific.tiered.menu .sub.menu .active.item:after {
  display: none
}
.prolific.pointing.tiered.menu > .menu > .item:after {
  display: none
}
.prolific.pointing.tiered.menu > .sub.menu > .item:after {
  display: block
}
/* == Pagination == */
.prolific.pagination.menu {
  display: inline-block;
  vertical-align: middle;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1),0 2px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px #FFFFFF inset;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1),0 2px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px #FFFFFF inset;
  margin: 1rem 0;
}

.prolific.pagination.menu .item {
  min-width: 3em;
  text-align: center;
 font-size:.875rem;
}
.prolific.pagination.menu .icon.item i.icon {
  vertical-align: middle
}
.prolific.pagination.menu.floated {
  display: block
}
.prolific.pagination.menu .active.item {
  border-top: none;
  padding-top: .83em;
  background-color: #F4BF1E;
  color:#fff;
  -webkit-box-shadow: none;
  box-shadow: none
}
/* == Secondary == */
.prolific.secondary.menu {
  background-color: transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none
}
.prolific.secondary.menu > .menu > .item,
.prolific.secondary.menu > .item {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  height: auto;
  margin: 0 .25em;
  padding: .5em 1em;
  border-radius: .3125em
}
.prolific.secondary.menu > .menu > .item:before,
.prolific.secondary.menu > .item:before {
  display: none
}
.prolific.secondary.menu .item > .input input {
  background-color: transparent;
  border: none
}
.prolific.secondary.menu .link.item,
.prolific.secondary.menu a.item {
  opacity: 0.8;
  -webkit-transition: none;
  transition: none
}
.prolific.secondary.menu .header.item {
  border-right: .1em solid rgba(0,0,0,0.1);
  background-color: transparent;
  border-radius: 0
}
.prolific.secondary.menu .link.item:hover,
.prolific.secondary.menu a.item:hover {
  opacity: 1
}
.prolific.secondary.menu > .menu > .active.item,
.prolific.secondary.menu > .active.item {
  background-color: rgba(0,0,0,0.08);
  opacity: 1;
  -webkit-box-shadow: none;
  box-shadow: none
}
.prolific.secondary.vertical.menu > .active.item {
  border-radius: .3125em
}
.prolific.secondary.item.menu > .item {
  margin: 0
}
.prolific.secondary.attached.menu {
  -webkit-box-shadow: none;
  box-shadow: none
}
.prolific.secondary.pointing.menu {
  border-bottom: 3px solid rgba(0,0,0,0.1)
}
.prolific.secondary.pointing.menu > .menu > .item,
.prolific.secondary.pointing.menu > .item {
  margin: 0 0 -3px;
  padding: .6em .95em;
  border-bottom: 3px solid rgba(0,0,0,0);
  border-radius: 0;
  -webkit-transition: color .2s;
  transition: color .2s
}
.prolific.secondary.pointing.menu .header.item {
  margin-bottom: -3px;
  background-color: transparent;
  border-right-width: 0;
  font-weight: 700;
  color: rgba(0,0,0,0.8)
}
.prolific.secondary.pointing.menu .text.item {
  -webkit-box-shadow: none;
  box-shadow: none
}
.prolific.secondary.pointing.menu > .menu > .item:after,
.prolific.secondary.pointing.menu > .item:after {
  display: none
}
.prolific.secondary.pointing.menu > .menu > .link.item:hover,
.prolific.secondary.pointing.menu > .link.item:hover,
.prolific.secondary.pointing.menu > .menu > a.item:hover,
.prolific.secondary.pointing.menu > a.item:hover {
  background-color: transparent;
  color: rgba(0,0,0,0.7)
}
.prolific.secondary.pointing.menu > .menu > .link.item:active,
.prolific.secondary.pointing.menu > .link.item:active,
.prolific.secondary.pointing.menu > .menu > a.item:active,
.prolific.secondary.pointing.menu > a.item:active {
  background-color: transparent;
  border-color: rgba(0,0,0,0.2)
}
.prolific.secondary.pointing.menu > .menu > .item.active,
.prolific.secondary.pointing.menu > .item.active {
  background-color: transparent;
  border-color: rgba(0,0,0,0.4);
  -webkit-box-shadow: none;
  box-shadow: none
}
.prolific.secondary.vertical.pointing.menu {
  border: none;
  border-right: 3px solid rgba(0,0,0,0.1)
}
.prolific.secondary.vertical.menu > .item {
  border: none;
  margin: 0 0 .3em;
  padding: .6em .8em;
  border-radius: .1875em
}
.prolific.secondary.vertical.menu > .header.item {
  border-radius: 0
}
.prolific.secondary.vertical.pointing.menu > .item {
  margin: 0 -3px 0 0;
  border-bottom: none;
  border-right: 3px solid transparent;
  border-radius: 0
}
.prolific.secondary.vertical.pointing.menu > .item:hover {
  background-color: transparent;
  color: rgba(0,0,0,0.7)
}
.prolific.secondary.vertical.pointing.menu > .item:active {
  background-color: transparent;
  border-color: rgba(0,0,0,0.2)
}
.prolific.secondary.vertical.pointing.menu > .item.active {
  background-color: transparent;
  border-color: rgba(0,0,0,0.4);
  color: rgba(0,0,0,0.85)
}
/* == Labeled Icon == */
.prolific.labeled.icon.menu {
  text-align: center
}
.prolific.labeled.icon.menu > .item > .icon {
  display: block;
  font-size: 1.5em;
  margin: 0 auto .3em
}
/* == Selection == */
.prolific.selection.menu > .item {
  color: rgba(0,0,0,0.4)
}
.prolific.selection.menu > .item:hover {
  color: rgba(0,0,0,0.6)
}
.prolific.selection.menu > .item.active {
  color: rgba(0,0,0,0.85)
}
.prolific.inverted.selection.menu > .item {
  color: rgba(255,255,255,0.4)
}
.prolific.inverted.selection.menu > .item:hover {
  color: rgba(255,255,255,0.9)
}
.prolific.inverted.selection.menu > .item.active {
  color: #FFF
}
/* == Floated == */
.prolific.floated.menu {
  float: left;
margin:0 .5rem 0 0
}
.prolific.right.floated.menu {
  float: right;
margin:0 0 0 .5rem
}
/* == Fitted == */
.prolific.fitted.menu .item,
.prolific.fitted.menu .item .menu .item,
.prolific.menu .fitted.item {
  padding: 0
}
.prolific.horizontally.fitted.menu .item,
.prolific.horizontally.fitted.menu .item .menu .item,
.prolific.menu .horizontally.fitted.item {
  padding-top: .83em;
  padding-bottom: .83em
}
.prolific.vertically.fitted.menu .item,
.prolific.vertically.fitted.menu .item .menu .item,
.prolific.menu .vertically.fitted.item {
  padding-left: .95em;
  padding-right: .95em
}
/* == Compact == */
.prolific.compact.menu {
  display: inline-block;
  margin: 0;
  vertical-align: middle
}
.prolific.compact.vertical.menu {
  width: auto
}
.prolific.compact.vertical.menu .item:last-child::before {
  display: block
}
/* == Fluid == */
.prolific.menu.fluid,
.prolific.vertical.menu.fluid {
  display: block;
  width: 100%
}
/* == Evenly Sized == */
.prolific.item.menu,
.prolific.item.menu .item {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  text-align: center
}
.prolific.menu.two.item .item {
  width: 50%
}
.prolific.menu.three.item .item {
  width: 33.333%
}
.prolific.menu.four.item .item {
  width: 25%
}
.prolific.menu.five.item .item {
  width: 20%
}
.prolific.menu.six.item .item {
  width: 16.666%
}
.prolific.menu.seven.item .item {
  width: 14.285%
}
.prolific.menu.eight.item .item {
  width: 12.5%
}
.prolific.menu.nine.item .item {
  width: 11.11%
}
.prolific.menu.ten.item .item {
  width: 10%
}
.prolific.menu.eleven.item .item {
  width: 9.09%
}
.prolific.menu.twelve.item .item {
  width: 8.333%
}
/* == Fixed == */
.prolific.menu.fixed {
  position: fixed;
  z-index: 999;
  margin: 0;
  border: none;
  width: 100%
}
.prolific.menu.fixed,
.prolific.menu.fixed .item:first-child,
.prolific.menu.fixed .item:last-child {
  border-radius: 0
}
.prolific.menu.fixed.top {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto
}
.prolific.menu.fixed.right {
  top: 0;
  right: 0;
  left: auto;
  bottom: auto;
  width: auto;
  height: 100%
}
.prolific.menu.fixed.bottom {
  bottom: 0;
  left: 0;
  top: auto;
  right: auto
}
.prolific.menu.fixed.left {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  width: auto;
  height: 100%
}
.prolific.fixed.menu + .prolific.grid {
  padding-top: 2.75rem
}
/* == Pointing == */
.prolific.pointing.menu .active.item:after {
  position: absolute;
  bottom: -.3em;
  left: 50%;
  content: "";
  margin-left: -.3em;
  width: .6em;
  height: .6em;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
  background-image: none;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 2;
  -webkit-transition: background .2s ease;
  transition: background .2s ease
}
.prolific.pointing.menu .active.item .menu .active.item:after {
  display: none
}
.prolific.vertical.pointing.menu .active.item:after {
  position: absolute;
  top: 50%;
  margin-top: -.3em;
  right: -.4em;
  bottom: auto;
  left: auto;
  border: none;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1)
}
.prolific.pointing.menu .active.item:after {
  background-color: #FCFCFC
}
.prolific.pointing.menu .active.item:hover:after {
  background-color: #FAFAFA
}
.prolific.vertical.pointing.menu .menu .active.item:after {
  background-color: #F4F4F4
}
.prolific.pointing.menu a.active.item:active:after {
  background-color: #F0F0F0
}
/* == Size == */
.prolific.menu .item {
  font-size: 1rem;
}
.prolific.menu.small .item {
 font-size:.75rem;
}
.prolific.vertical.menu {
  width: 15rem
}