#gallerywrap {
  position: relative
}
#gallerywrap .item {
   background:#FFFFFF;
    border-bottom: 3px solid #E2E8EC;
    border-radius: 4px;
}
#gallerywrap .item > a {
  display: block;
  line-height: 0
}
#gallerywrap section {
  padding: 1.5em;
  padding-bottom: 4em;
  position: relative;
}
#gallerywrap section:before {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 10px solid transparent;
}
#gallerywrap section:before {
  border-bottom-color: #fff;
  position: absolute;
  top: -20px;
  left: 48%;
  z-index: 2;
}

#gallerywrap section a.like {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  padding: .4em 1.1em;
  border-radius: 4px 0 0 0;
  border-left: 2px solid #E2E8EC;
  border-top: 2px solid #E2E8EC;
  text-align: center;
}
#gallerywrap section a.like i.icon {
  font-size: 1.571em;
}
#gallerywrap section a.like.active {
  background-color: #00B8E1;
  color: #fff;
}
#gallerywrap section a.like small {
  display: block;
  font-size: .85em;
}
#gallerywrap section a.like.active small {
  color: #fff;
}
.gallery-nav {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}