/* == Buttons == */
.prolific.button {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  min-height: 1em;
  outline: none;
  border: none;
  background-color: #EEEDE6;
  color: inherit;
  font-family: 'Open Sans Condensed';
  margin: 0em;
  padding: 0.8em 1.5em;
  font-size: 1em;
  line-height: 1;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.35em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, -webkit-box-shadow 0.25s ease;
  transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, box-shadow 0.25s ease;
  white-space: nowrap;
}
/* == Active == */
.prolific.buttons .active.button,
.prolific.active.button {
  background-color: #b0b5b5;
}
/* == Hover == */
.prolific.button:hover {
  background-color: #E4E4DA;
  outline: none;
  text-decoration: none;
}
.prolific.button.active:hover {

}
.prolific.button:hover .icon,
.prolific.button.hover .icon {
  opacity: 0.85;
}
/* == Down == */
.prolific.button:active,
.prolific.active.button:active {
  background-color: #b0b5b5;
  color: rgba(0, 0, 0, 0.7);
}
/* == Loading == */
.prolific.loading.button,
.prolific.loading.button.positive,
.prolific.loading.button.success,
.prolific.loading.button.black,
.prolific.loading.button.warning,
.prolific.loading.button.negative,
.prolific.loading.button.danger {
  position: relative;
  cursor: default;
  color: transparent;
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
  box-shadow:none;
}
.prolific.loading.button:after,
.prolific.loading.button.positive:after,
.prolific.loading.button.success:after,
.prolific.loading.button.black:after,
.prolific.loading.button.warning:after,
.prolific.loading.button.negative:after,
.prolific.loading.button.danger:after  {
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url(../images/loader-mini.gif);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.prolific.loading.button.danger:after  {
  background-color: #BF5A67;
  background: transparent url(../images/loader-mini-danger.gif) no-repeat 50% 50%;
}
.prolific.labeled.icon.loading.button .icon {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* == Disabled == */
.prolific.disabled.button,
.prolific.disabled.button:hover,
.prolific.disabled.button.active {
  background-color: #DDDDDD;
  cursor: default;
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.3;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* == Animated == */
.prolific.animated.button {
  position: relative;
  overflow: hidden;
}
.prolific.animated.button .visible.content {
  position: relative;
}
.prolific.animated.button .hidden.content {
  position: absolute;
  width: 100%;
}
.prolific.animated.button .visible.content,
.prolific.animated.button .hidden.content {
  -webkit-transition: right 0.3s ease 0s;
  transition: right 0.3s ease 0s;
}
.prolific.animated.button .visible.content {
  left: auto;
  right: 0%;
}
.prolific.animated.button .hidden.content {
  top: 50%;
  left: auto;
  right: -100%;
  margin-top: -0.55em;
}
.prolific.animated.button:hover .visible.content {
  left: auto;
  right: 200%;
}
.prolific.animated.button:hover .hidden.content {
  left: auto;
  right: 0%;
}
.prolific.vertical.animated.button .visible.content,
.prolific.vertical.animated.button .hidden.content {
  -webkit-transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0s;
}
.prolific.vertical.animated.button .visible.content {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  right: auto;
}
.prolific.vertical.animated.button .hidden.content {
  top: -100%;
  left: 0%;
  right: auto;
}
.prolific.vertical.animated.button:hover .visible.content {
  -webkit-transform: translateY(200%);
  -ms-transform: translateY(200%);
  transform: translateY(200%);
  right: auto;
}
.prolific.vertical.animated.button:hover .hidden.content {
  top: 50%;
  right: auto;
}
.prolific.fade.animated.button .visible.content,
.prolific.fade.animated.button .hidden.content {
  -webkit-transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
}
.prolific.fade.animated.button .visible.content {
  left: auto;
  right: auto;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.prolific.fade.animated.button .hidden.content {
  opacity: 0;
  left: 0%;
  right: auto;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.prolific.fade.animated.button:hover .visible.content {
  left: auto;
  right: auto;
  opacity: 0;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}
.prolific.fade.animated.button:hover .hidden.content {
  left: 0%;
  right: auto;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
/* == Primary == */
.prolific.primary.buttons .button,
.prolific.primary.button {
  background-color: #D95C5C;
  color: #FFFFFF;
}
.prolific.primary.buttons .button:hover,
.prolific.primary.button:hover,
.prolific.primary.buttons .active.button,
.prolific.primary.button.active {
  background-color: #E75859;
  color: #FFFFFF;
}
.prolific.primary.buttons .button:active,
.prolific.primary.button:active {
  background-color: #D24B4C;
  color: #FFFFFF;
}
/* == Secondary == */
.prolific.secondary.buttons .button,
.prolific.secondary.button {
  background-color: #3CC9CA;
  color: #FFFFFF;
}
.prolific.secondary.buttons .button:hover,
.prolific.secondary.button:hover,
.prolific.secondary.buttons .active.button,
.prolific.secondary.button.active {
  background-color: #2EA5A5;
  color: #FFFFFF;
}
.prolific.secondary.buttons .button:active,
.prolific.secondary.button:active {
  background-color: #00847E;
  color: #FFFFFF;
}
/* == Social == */
.prolific.facebook.button {
  background-color: #3B579D;
  color: #FFFFFF;
}
.prolific.facebook.button:hover {
  background-color: #3A59A9;
  color: #FFFFFF;
}
.prolific.facebook.button:active {
  background-color: #334F95;
  color: #FFFFFF;
}
.prolific.twitter.button {
  background-color: #4092CC;
  color: #FFFFFF;
}
.prolific.twitter.button:hover {
  background-color: #399ADE;
  color: #FFFFFF;
}
.prolific.twitter.button:active {
  background-color: #3283BC;
  color: #FFFFFF;
}
.prolific.google.plus.button {
  background-color: #D34836;
  color: #FFFFFF;
}
.prolific.google.plus.button:hover {
  background-color: #E3432E;
  color: #FFFFFF;
}
.prolific.google.plus.button:active {
  background-color: #CA3A27;
  color: #FFFFFF;
}
.prolific.linkedin.button {
  background-color: #1F88BE;
  color: #FFFFFF;
}
.prolific.linkedin.button:hover {
  background-color: #1394D6;
  color: #FFFFFF;
}
.prolific.linkedin.button:active {
  background-color: #1179AE;
  color: #FFFFFF;
}
.prolific.youtube.button {
  background-color: #CC181E;
  color: #FFFFFF;
}
.prolific.youtube.button:hover {
  background-color: #DF0209;
  color: #FFFFFF;
}
.prolific.youtube.button:active {
  background-color: #A50006;
  color: #FFFFFF;
}
.prolific.instagram.button {
  background-color: #49769C;
  color: #FFFFFF;
}
.prolific.instagram.button:hover {
  background-color: #4781B1;
  color: #FFFFFF;
}
.prolific.instagram.button:active {
  background-color: #38658A;
  color: #FFFFFF;
}
.prolific.pinterest.button {
  background-color: #00ACED;
  color: #FFFFFF;
}
.prolific.pinterest.button:hover {
  background-color: #00B9FF;
  color: #FFFFFF;
}
.prolific.pinterest.button:active {
  background-color: #009EDA;
  color: #FFFFFF;
}
.prolific.vk.button {
  background-color: #4D7198;
  color: #FFFFFF;
}
.prolific.vk.button:hover {
  background-color: #537AA5;
  color: #FFFFFF;
}
.prolific.vk.button:active {
  background-color: #405E7E;
  color: #FFFFFF;
}
/* == Floated == */
.prolific.left.floated.buttons,
.prolific.left.floated.button {
  float: left;
  margin-right: 0.25em;
}
.prolific.right.floated.buttons,
.prolific.right.floated.button {
  float: right;
  margin-left: 0.25em;
}
/* == Size == */
.prolific.buttons .button,
.prolific.button {
  font-size:inherit;
}
.prolific.mini.buttons .button,
.prolific.mini.buttons .or,
.prolific.mini.button {
  font-size: 0.8rem;
}
.prolific.mini.buttons .button,
.prolific.mini.button {
  padding: 0.3em 0.5em;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3) inset;
}
.prolific.mini.icon.buttons .button,
.prolific.mini.buttons .icon.button {
  padding: 0.3em 0.5em;
}
.prolific.tiny.buttons .button,
.prolific.tiny.buttons .or,
.prolific.tiny.button {
  font-size: 0.875em;
}
.prolific.tiny.buttons .button,
.prolific.tiny.button {
  padding: 0.4em 0.6em;
  box-shadow: 0 -2px 0 rgba(255, 255, 255, 0.3) inset;
}
.prolific.tiny.icon.buttons .button,
.prolific.tiny.buttons .icon.button {
  padding: 0.4em 0.6em;
}
.prolific.small.buttons .button,
.prolific.small.buttons .or,
.prolific.small.button {
  font-size: 0.975rem;
  padding: 0.6em 1em;
}
.prolific.large.buttons .button,
.prolific.large.buttons .or,
.prolific.large.button {
  font-size: 1.125rem;
}
.prolific.big.buttons .button,
.prolific.big.buttons .or,
.prolific.big.button {
  font-size: 1.25rem;
}
.prolific.huge.buttons .button,
.prolific.huge.buttons .or,
.prolific.huge.button {
  font-size: 1.375rem;
}
.prolific.massive.buttons .button,
.prolific.massive.buttons .or,
.prolific.massive.button {
  font-size: 1.5rem;
  font-weight: bold;
}
.prolific.tiny.buttons .or:before,
.prolific.mini.buttons .or:before {
  width: 1.45em;
  height: 1.55em;
  line-height: 1.4;
  margin-left: -0.725em;
  margin-top: -0.25em;
}
.prolific.tiny.buttons .or:after,
.prolific.mini.buttons .or:after {
  height: 1.45em;
}
/* == Loading == */
.prolific.huge.loading.button:after {
  background-image: url(../images/loader-small.gif);
}
.prolific.massive.buttons .loading.button:after,
.prolific.gigantic.buttons .loading.button:after,
.prolific.massive.loading.button:after,
.prolific.gigantic.loading.button:after {
  background-image: url(../images/loader-medium.gif);
}
.prolific.huge.loading.button:after,
.prolific.huge.loading.button.active:after {
  background-image: url(../images/loader-small.gif);
}
.prolific.massive.buttons .loading.button:after,
.prolific.gigantic.buttons .loading.button:after,
.prolific.massive.loading.button:after,
.prolific.gigantic.loading.button:after,
.prolific.massive.buttons .loading.button.active:after,
.prolific.gigantic.buttons .loading.button.active:after,
.prolific.massive.loading.button.active:after,
.prolific.gigantic.loading.button.active:after {
  background-image: url(../images/loader-medium.gif);
}
/* == Icon Only == */
.prolific.button > .icon {
  margin-right: 0.6em;
  line-height: 1;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
.prolific.icon.buttons .button,
.prolific.icon.button {
  padding: 0.8em;
}
.prolific.icon.buttons .button > .icon,
.prolific.icon.button > .icon {
  opacity: 0.9;
  margin: 0em;
  vertical-align: middle;
}
/* == Basic == */
.prolific.basic.buttons .button,
.prolific.basic.button {
  background-color: transparent;
  background-image: none;
  color: #808080;
  text-transform: none;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
}
.prolific.basic.buttons {
  border-radius: 0.25em;
}
.prolific.basic.buttons .button:hover,
.prolific.basic.button:hover {
  color: #7F7F7F;
  background-color: rgba(0, 0, 0, 0.02);

}
.prolific.basic.buttons .button:active,
.prolific.basic.button:active {
  background-color: rgba(0, 0, 0, 0.04);
  color: #7F7F7F;
}
.prolific.basic.buttons .button.active,
.prolific.basic.button.active {
  background-color: rgba(0, 0, 0, 0.05);
  color: #7F7F7F;
}
.prolific.basic.buttons .button.active:hover,
.prolific.basic.button.active:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/* == Inverted == */
.prolific.basic.inverted.buttons .button,
.prolific.basic.inverted.button {
  color: #FAFAFA;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.3) inset;
}
.prolific.basic.inverted.buttons .button:hover,
.prolific.basic.inverted.button:hover {
  background-image: none;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5) inset;
}
.prolific.basic.inverted.buttons .button:active,
.prolific.basic.inverted.button:active {
  background-color: rgba(255, 255, 255, 0.05);
  color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.8) inset;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.8) inset;
}
.prolific.basic.inverted.buttons .button.active,
.prolific.basic.inverted.button.active {
  background-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.prolific.basic.inverted.buttons .button.active:hover,
.prolific.basic.inverted.button.active:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.prolific.basic.buttons .button {
  box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.1);
}
.prolific.basic.buttons .button:hover,
.prolific.basic.buttons .button:active {

}
.prolific.basic.buttons .button.active,
.prolific.basic.buttons .button.active:hover {

}
/* == Labeled Icon == */
.prolific.labeled.icon.buttons .button,
.prolific.labeled.icon.button {
  position: relative;
  padding-left: 4em;
  padding-right: 1.4em;
}
.prolific.labeled.icon.buttons > .button > .icon,
.prolific.labeled.icon.button > .icon {
  position: absolute;
  top: 0em;
  left: 0em;
  right:0;
  height:100%;
  line-height:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 2.75em;
  padding: .8em 0;
  background-color: rgba(0, 0, 0, 0.05);
  text-align: center;
  border-radius: 0.25em 0px 0px 0.25em;
  line-height: 1;
  -webkit-box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
  box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
}
.prolific.labeled.icon.buttons .button > .icon {
  border-radius: 0em;
}
.prolific.labeled.icon.buttons .button:first-child > .icon {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
}
.prolific.labeled.icon.buttons .button:last-child > .icon {
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}
.prolific.vertical.labeled.icon.buttons .button:first-child > .icon {
  border-radius: 0em;
  border-top-left-radius: 0.25em;
}
.prolific.vertical.labeled.icon.buttons .button:last-child > .icon {
  border-radius: 0em;
  border-bottom-left-radius: 0.25em;
}
.prolific.right.labeled.icon.button {
  padding-left: 1.4em;
  padding-right: 4em;
}
.prolific.left.fluid.labeled.icon.button,
.prolific.right.fluid.labeled.icon.button {
  padding-left: 1.4em;
  padding-right: 1.4em;
}
.prolific.right.labeled.icon.button .icon {
  left: auto;
  right: 0em;
  border-radius: 0em 0.25em 0.25em 0em;
  -webkit-box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
}
/* == Toggle == */
.prolific.toggle.buttons .active.button,
.prolific.buttons .button.toggle.active,
.prolific.button.toggle.active {
  background-color: #B2D280;
  color: rgba(255, 255, 255, 0.8);
}
.prolific.button.toggle.active:hover {
  background-color: #A6CB6E;
  color: rgba(255, 255, 255,1);
}
/* == Circular == */
.prolific.circular.button {
  border-radius: 10em;
}
/* == OR Buttons == */
.prolific.buttons .or {
  position: relative;
  float: left;
  width: 0.3em;
  height: 1.1em;
  z-index: 3;
}
.prolific.buttons .or:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: 'or';
  background-color: #FFFFFF;
  margin-top: -0.1em;
  margin-left: -0.9em;
  width: 1.8em;
  height: 1.8em;
  line-height: 1.55;
  color: #AAAAAA;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  border-radius: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.prolific.buttons .or[data-text]:before {
  content: attr(data-text);
}
.prolific.buttons .or:after {
  position: absolute;
  top: 0em;
  left: 0em;
  content: ' ';
  width: 0.3em;
  height: 1.7em;
  background-color: transparent;
  border-top: 0.5em solid #FFFFFF;
  border-bottom: 0.5em solid #FFFFFF;
}
.prolific.fluid.buttons .or {
  width: 0em;
}
.prolific.fluid.buttons .or:after {
  display: none;
}
/* == Fluid == */
.prolific.fluid.buttons,
.prolific.button.fluid,
.prolific.fluid.buttons > .button {
  display: block;
  width: 100%;
}
.prolific.\32.buttons > .button,
.prolific.two.buttons > .button {
  width: 50%;
}
.prolific.\33.buttons > .button,
.prolific.three.buttons > .button {
  width: 33.333%;
}
.prolific.\34.buttons > .button,
.prolific.four.buttons > .button {
  width: 25%;
}
.prolific.\35.buttons > .button,
.prolific.five.buttons > .button {
  width: 20%;
}
.prolific.\36.buttons > .button,
.prolific.six.buttons > .button {
  width: 16.666%;
}
.prolific.\37.buttons > .button,
.prolific.seven.buttons > .button {
  width: 14.285%;
}
.prolific.\38.buttons > .button,
.prolific.eight.buttons > .button {
  width: 12.500%;
}
.prolific.\39.buttons > .button,
.prolific.nine.buttons > .button {
  width: 11.11%;
}
.prolific.\31\30.buttons > .button,
.prolific.ten.buttons > .button {
  width: 10%;
}
.prolific.\31\31.buttons > .button,
.prolific.eleven.buttons > .button {
  width: 9.09%;
}
.prolific.\31\32.buttons > .button,
.prolific.twelve.buttons > .button {
  width: 8.3333%;
}
.prolific.fluid.vertical.buttons,
.prolific.fluid.vertical.buttons > .button {
  display: block;
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.prolific.\32.vertical.buttons > .button,
.prolific.two.vertical.buttons > .button {
  height: 50%;
}
.prolific.\33.vertical.buttons > .button,
.prolific.three.vertical.buttons > .button {
  height: 33.333%;
}
.prolific.\34.vertical.buttons > .button,
.prolific.four.vertical.buttons > .button {
  height: 25%;
}
.prolific.\35.vertical.buttons > .button,
.prolific.five.vertical.buttons > .button {
  height: 20%;
}
.prolific.\36.vertical.buttons > .button,
.prolific.six.vertical.buttons > .button {
  height: 16.666%;
}
.prolific.\37.vertical.buttons > .button,
.prolific.seven.vertical.buttons > .button {
  height: 14.285%;
}
.prolific.\38.vertical.buttons > .button,
.prolific.eight.vertical.buttons > .button {
  height: 12.500%;
}
.prolific.\39.vertical.buttons > .button,
.prolific.nine.vertical.buttons > .button {
  height: 11.11%;
}
.prolific.\31\30.vertical.buttons > .button,
.prolific.ten.vertical.buttons > .button {
  height: 10%;
}
.prolific.\31\31.vertical.buttons > .button,
.prolific.eleven.vertical.buttons > .button {
  height: 9.09%;
}
.prolific.\31\32.vertical.buttons > .button,
.prolific.twelve.vertical.buttons > .button {
  height: 8.3333%;
}
/* == Colors == */
.prolific.black.buttons .button,
.prolific.black.button {
  background-color: #5C6166;
  color:#fff
}
.prolific.black.buttons .button:hover,
.prolific.black.button:hover,
.prolific.black.buttons .active.button,
.prolific.black.button.active {
  background-color: #4C4C4C;
}
.prolific.black.buttons .button:active,
.prolific.black.button:active {
  background-color: #333333;
}
.prolific.warning.buttons,
.prolific.warning.buttons .button,
.prolific.warning.button {
  background-color: #F0B174;
  color:#fff
}
.prolific.warning.buttons .button:hover,
.prolific.warning.button:hover,
.prolific.warning.buttons .active.button,
.prolific.warning.button.active {
  background-color: #EEA45D;
}
.prolific.warning.buttons .button:active,
.prolific.warning.button:active {
  background-color: #EA9747;
  color: rgba(255, 255, 255,1);
}
.prolific.info.buttons,
.prolific.info.buttons .button,
.prolific.info.button {
  background-color: #79C0D8;
  color:#fff
}
.prolific.info.buttons .button:hover,
.prolific.info.button:hover,
.prolific.info.buttons .active.button,
.prolific.info.button.active {
  background-color: #66B7D2;
}
.prolific.info.buttons .button:active,
.prolific.info.button:active {
  background-color: #53ADCC;
  color: rgba(255, 255, 255,1);
}
.prolific.purple.buttons .button,
.prolific.purple.button {
  background-color: #8A3ECA;
  color:#fff
}
.prolific.purple.buttons .button:hover,
.prolific.purple.button:hover,
.prolific.purple.buttons .active.button,
.prolific.purple.button.active {
  background-color: #7D34BA;
}
.prolific.purple.buttons .button:active,
.prolific.purple.button:active {
  background-color: #702FA6;
  color: rgba(255, 255, 255,1);
}
.prolific.teal.buttons .button,
.prolific.teal.button {
  background-color: #3CC9CA;
  color:#fff
}
.prolific.teal.buttons .button:hover,
.prolific.teal.button:hover,
.prolific.teal.buttons .active.button,
.prolific.teal.button.active {
  background-color: #2EA5A5;
}
.prolific.teal.buttons .button:active,
.prolific.teal.button:active {
  background-color: #00847E;
  color: rgba(255, 255, 255,1);
}
.prolific.positive.buttons,
.prolific.positive.buttons .button,
.prolific.positive.button {
  background-color: #B2D280;
  color:#fff
}
.prolific.positive.buttons .button:hover,
.prolific.positive.button:hover,
.prolific.positive.buttons .active.button,
.prolific.positive.button.active {
  background-color: #A6CB6E;
}
.prolific.positive.buttons .button:active,
.prolific.positive.button:active {
  background-color: #9AC45C;
  color: rgba(255, 255, 255,1);
}
.prolific.negative.buttons,
.prolific.negative.buttons .button,
.prolific.negative.button,
.prolific.danger.buttons,
.prolific.danger.buttons .button,
.prolific.danger.button  {
  background-color: #FA5C4E;
  color:#fff
}
.prolific.negative.buttons .button:hover,
.prolific.negative.button:hover,
.prolific.negative.buttons .active.button,
.prolific.negative.button.active,
.prolific.danger.buttons .button:hover,
.prolific.danger.button:hover,
.prolific.danger.buttons .active.button,
.prolific.danger.button.active  {
  background-color: #FB4434;
  
}
.prolific.negative.buttons .button:active,
.prolific.negative.button:active,
.prolific.danger.buttons .button:active,
.prolific.danger.button:active {
  background-color: #F7301E;
  color: rgba(255, 255, 255,1);
}

/* == Groups == */
.prolific.buttons {
  display: inline-block;
  vertical-align: middle;
  /*border: 1px solid rgba(0, 0, 0, 0.1);*/
  border-radius: 0.25em;
}
.prolific.buttons:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.prolific.buttons .button:first-child {

}
.prolific.buttons .button {
  float: left;
  border-radius: 0em;
  border:none;
  box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.1),inset 1px 0 0 0 rgba(255, 255, 255, 0.2);
}
.prolific.buttons .button:first-child {
  margin-left: 0em;
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  box-shadow:none;
}
.prolific.buttons .button:last-child {
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;

}
.prolific.vertical.buttons {
  display: inline-block;
}
.prolific.vertical.buttons .button {
  display: block;
  float: none;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
}
.prolific.vertical.buttons .button:first-child,
.prolific.vertical.buttons .mini.button:first-child,
.prolific.vertical.buttons .tiny.button:first-child,
.prolific.vertical.buttons .small.button:first-child,
.prolific.vertical.buttons .massive.button:first-child,
.prolific.vertical.buttons .huge.button:first-child {
  margin-top: 0px;
  border-radius: 0.25em 0.25em 0px 0px;
}
.prolific.vertical.buttons .button:last-child,
.prolific.vertical.buttons .mini.button:last-child,
.prolific.vertical.buttons .tiny.button:last-child,
.prolific.vertical.buttons .small.button:last-child,
.prolific.vertical.buttons .massive.button:last-child,
.prolific.vertical.buttons .huge.button:last-child,
.prolific.vertical.buttons .gigantic.button:last-child {
  border-radius: 0px 0px 0.25em 0.25em;
}