/* == Font Size == */
.prolific.small.font {
  font-size: .675em
}
.prolific.large.font {
  font-size: 1.5em;
}
.prolific.big.font {
  font-size: 2em;
}
.prolific.huge.font {
  font-size: 4em;
}
.prolific.massive.font {
  font-size: 6em;
}
.prolific.gigant.font {
  font-size: 8em;
}
.prolific.caps {
  text-transform: uppercase;
}
/* == Font Color == */
.prolific.font.info {
  color: #79C0D8;
}
.prolific.font.warning {
  color: #F0B174;
}
.prolific.font.success {
  color: #B2D280;
}
.prolific.font.danger {
  color: #FA5C4E;
}
.prolific.font.purple {
  color: #8A3ECA;
}
.prolific.font.teal {
  color: #3CC9CA;
}
/* == Dialog == */
.messi-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0,0,0,0.8);
}
.messi {
  position: absolute;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 7px 7px 0 rgba(0, 0, 0, 0.4);
  margin: 0;
  padding: 0;
  min-width: 300px;
  min-height: 50px;
  max-width: 90%;
  max-height: 75%;
  overflow-y: auto;
  top: -100%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
}
.messi-box {
  position: relative;
  height: auto;
  overflow: hidden;
  opacity: 1;
}
.messi-wrapper {
  position: relative
}
.messi-titlebox {
  font-size: 1.3em;
  font-weight: 400;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  background-color: rgba(0, 0, 0, 0.1);
  height: 45px;
  line-height: 45px;
  padding: 0 60px 0 15px;
}
.messi-titlebox .messi-title {
  text-shadow: 0 1px #fff;
  font-weight: 600;
  font-family: 'Open Sans Condensed';
}
.messi-closebtn {
  border-left: 1px solid rgba(0,0,0,0.1);
  box-shadow: inset 1px 0px 0 rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 45px;
  height: 45px;
  cursor: pointer;
  text-align: center;
  line-height: 45px;
  font-size: 1.6em;
  color: rgba(0, 0, 0, 0.4);
}
.messi-closebtn i {
  margin: 0
}
.messi-content {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1em;
  box-shadow: inset 0px 3px 0 rgba(255, 255, 255, 0.4);
}
.messi-content .messi-warning {
  display: table
}
.messi-content .messi-warning p {
  display: table-cell;
  vertical-align: middle;
}
.messi-content .messi-warning p:last-child {
  padding-left: 1em;
}
.messi-footbox {
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 1px solid #ddd;
  box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.4);
  padding: 0
}
.messi-actions {
  display: block
}
.messi-actions .btnbox {
  display: block;
  float: right;
  border-left: 1px solid rgba(0,0,0,0.1);
  box-shadow: inset 1px 0px 0 rgba(255, 255, 255, 0.5);
  padding: 5px
}
.messi .mod-button.button {
  border-radius: 0
}
.messi .mod-button.warn {
  color: #ee5f5b
}
.messi .mod-button i {
  padding-left: 10px;
  padding-right: 5px
}
/* == Animations == */

.prolific.reveal {
  overflow: hidden;
  position: relative;
}
.prolific.reveal .mask {
  z-index: 10;
  position: absolute;
  display: table;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.prolific.reveal .mask > .content {
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.prolific.reveal.slide img {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.prolific.reveal.slide .mask {
  background-color: #000;
  opacity: .80;
  -webkit-transform: translateX(-600px);
  -moz-transform: translateX(-600px);
  -o-transform: translateX(-600px);
  -ms-transform: translateX(-600px);
  transform: translateX(-600px);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.prolific.reveal.slide:hover .mask {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px)
}
.prolific.reveal.slide:hover img {
  -webkit-transform: translateX(600px);
  -moz-transform: translateX(600px);
  -o-transform: translateX(600px);
  -ms-transform: translateX(600px);
  transform: translateX(600px)
}
.prolific.reveal.zoom img {
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear
}
.prolific.reveal.zoom .mask {
  opacity: 0;
  background-color: rgba(0,0,0,0.6);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out
}
.prolific.reveal.zoom:hover img {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1)
}
.prolific.reveal.zoom:hover .mask {
  opacity: 1
}
.prolific.reveal.slice img {
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  transition: all .2s ease-in
}
.prolific.reveal.slice .mask {
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -moz-transform: translate(460px, -100px) rotate(180deg);
  -o-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all .2s .4s ease-in-out;
  -moz-transition: all .2s .4s ease-in-out;
  -o-transition: all .2s .4s ease-in-out;
  -ms-transition: all .2s .4s ease-in-out;
  transition: all .2s .4s ease-in-out
}
.prolific.reveal.slice:hover .mask {
  opacity: 1;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -ms-transition-delay: 0;
  transition-delay: 0;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px)
}
.prolific.reveal.vortex img {
  -webkit-transition: all .4s ease-in-out .2s;
  -moz-transition: all .4s ease-in-out .2s;
  -o-transition: all .4s ease-in-out .2s;
  -ms-transition: all .4s ease-in-out .2s;
  transition: all .4s ease-in-out .2s;
  opacity: 1
}
.prolific.reveal.vortex .mask {
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  -webkit-transform: scale(0) rotate(-180deg);
  -moz-transform: scale(0) rotate(-180deg);
  -o-transform: scale(0) rotate(-180deg);
  -ms-transform: scale(0) rotate(-180deg);
  transform: scale(0) rotate(-180deg);
  -webkit-transition: all .4s ease-in;
  -moz-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  -ms-transition: all .4s ease-in;
  transition: all .4s ease-in;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0
}
.prolific.reveal.vortex:hover .mask {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  -o-transition-delay: .2s;
  -ms-transition-delay: .2s;
  transition-delay: .2s
}
.prolific.reveal.vortex:hover img {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -ms-transition-delay: 0;
  transition-delay: 0
}
.prolific.reveal.spin img {
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  -ms-transition: all .5s ease-out;
  transition: all .5s ease-out;
  opacity: 1
}
.prolific.reveal.spin .mask {
  background-color: rgba(77,44,35,0.5);
  -webkit-transform: rotate(0deg) scale(1);
  -moz-transform: rotate(0deg) scale(1);
  -o-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out
}
.prolific.reveal.spin:hover img {
  -webkit-transform: rotate(720deg) scale(0);
  -moz-transform: rotate(720deg) scale(0);
  -o-transform: rotate(720deg) scale(0);
  -ms-transform: rotate(720deg) scale(0);
  transform: rotate(720deg) scale(0);
  opacity: 0
}
.prolific.reveal.spin:hover .mask {
  opacity: 1;
  -webkit-transform: translateY(0px) rotate(0deg);
  -moz-transform: translateY(0px) rotate(0deg);
  -o-transform: translateY(0px) rotate(0deg);
  -ms-transform: translateY(0px) rotate(0deg);
  transform: translateY(0px) rotate(0deg);
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -o-transition-delay: .4s;
  -ms-transition-delay: .4s;
  transition-delay: .4s
}
.prolific.reveal.zoomin img {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out
}
.prolific.reveal.zoomin .mask {
  background-color: rgba(230,230,130,0.3);
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -o-transition: all .5s linear;
  -ms-transition: all .5s linear;
  transition: all .5s linear;
  opacity: 0
}
.prolific.reveal.zoomin:hover img {
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -o-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  opacity: 0
}
.prolific.reveal.zoomin:hover .mask {
  opacity: 1
}
/* == Image Viewer == */
html.swipebox-html.swipebox-touch {
  overflow: hidden !important;
}
#swipebox-overlay img {
  border: none !important;
}
#swipebox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999 !important;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#swipebox-slider {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  display: none;
}
#swipebox-slider .slide {
  height: 100%;
  width: 100%;
  line-height: 1px;
  text-align: center;
  display: inline-block;
}
#swipebox-slider .slide:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}
#swipebox-slider .slide img,
#swipebox-slider .slide .swipebox-video-container {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  vertical-align: middle;
}
#swipebox-slider .slide .swipebox-video-container {
  background: none;
  max-width: 1140px;
  max-height: 100%;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#swipebox-slider .slide .swipebox-video-container .swipebox-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}
#swipebox-slider .slide .swipebox-video-container .swipebox-video iframe {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}
#swipebox-action,
#swipebox-caption {
  position: absolute;
  left: 0;
  z-index: 999;
  height: 50px;
  width: 100%;
}
#swipebox-action {
  bottom: -50px;
}
#swipebox-action.visible-bars {
  -ms-transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}
#swipebox-action #swipebox-prev,
#swipebox-action #swipebox-next,
#swipebox-action #swipebox-close {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  line-height: 50px;
  font-size: 2em;
}
#swipebox-action #swipebox-prev {
  right: 100px;
}
#swipebox-action #swipebox-next {
  right: 40px;
}
#swipebox-action #swipebox-close {
  left: 40px;
}
#swipebox-action #swipebox-prev.disabled,
#swipebox-action #swipebox-next.disabled {
  opacity: 0.3;
}
#swipebox-caption {
  top: -50px;
  text-align: center;
}
#swipebox-caption.visible-bars {
  -ms-transform: translateY(50px);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}
#swipebox-slider.rightSpring {
  -webkit-animation: rightSpring 0.3s;
  animation: rightSpring 0.3s;
}
#swipebox-slider.leftSpring {
  -webkit-animation: leftSpring 0.3s;
  animation: leftSpring 0.3s;
}
 @-webkit-keyframes rightSpring {
 0% {
 margin-left: 0px;
}
 50% {
 margin-left: -30px;
}
 100% {
 margin-left: 0px;
}
}
 @keyframes rightSpring {
 0% {
 margin-left: 0px;
}
 50% {
 margin-left: -30px;
}
 100% {
 margin-left: 0px;
}
}
@-webkit-keyframes leftSpring {
 0% {
 margin-left: 0px;
}
 50% {
 margin-left: 30px;
}
 100% {
 margin-left: 0px;
}
}
@keyframes leftSpring {
 0% {
 margin-left: 0px;
}
 50% {
 margin-left: 30px;
}
 100% {
 margin-left: 0px;
}
}
@media screen and (max-width: 800px) {
#swipebox-action #swipebox-close {
  left: 0;
}
#swipebox-action #swipebox-prev {
  right: 60px;
}
#swipebox-action #swipebox-next {
  right: 0;
}
}
/* Skin 
--------------------------*/
#swipebox-overlay {
  background: #0d0d0d;
}
#swipebox-action,
#swipebox-caption {
  text-shadow: 1px 1px 1px black;
  background-color: #0d0d0d;
  background-color: #0d0d0d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0d0d0d), to(black));
  background-image: -webkit-linear-gradient(top, #0d0d0d, black);
  background-image: linear-gradient(to bottom, #0d0d0d, black);
  opacity: 0.95;
}
#swipebox-action {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
#swipebox-caption {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: white !important;
  font-size: 15px;
  line-height: 43px;
  font-family: Helvetica, Arial, sans-serif;
}
/* == Tabs == */	
#tabs {
  float: right;
  display: block;
  position: absolute;
  right: .65em;
  top: .55em;
}
/* == File Upload == */
#drop {
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  border: 5px dashed rgba(0,0,0,0.25);
  padding: 30px
}
#drop a {
  margin-left: 10px;
  background-color: #62A8DB;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  line-height: 1;
  padding: .9em 2em
}
#drop a:hover {
  background-color: #424343
}
#drop input,
#upload ul li input {
  display: none
}
#upload ul {
  list-style: none;
  margin: 0;
  padding: 0
}
#upload ul li {
  list-style: none;
  clear: both;
  margin: 0;
  position: relative;
  min-height: 18px;
  margin: 0;
  height: auto;
  background-color: #F1F2EA;
  padding: 1em;
  line-height: 1.33;
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);
}
#upload ul li:first-child {
  margin-top: 0.5em
}
#upload ul li p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
  font-weight: 400;
  margin-left: 4em;
}
#upload ul li i {
  font-weight: 400;
  font-style: normal;
  display: block
}
#upload ul li canvas {
  float: left
}
#upload ul li small {
  display: block;
  font-size: 0.85em;
  font-weight: 400
}
#upload ul li span:before {
  content: "\f058";
  width: 1.4em;
  height: 1.4em;
  position: absolute;
  top: 0.5em;
  right: 0;
  cursor: pointer;
  font-family: Icons;
  font-size: 1.4em;
  color: #B2D280
}
#upload ul li span.ferror:before {
  content: "\f06a";
  color: #BF5A67
}
#upload ul li.working span:before {
  content: "";
}
#upload ul li.error p small {
  color: #BF5A67;
}
#drop.hover {
  border: 5px dashed #2984AD
}
#drop.fade {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1
}
/* == Editable Content == */
[contenteditable=true]:empty:before {
  content: attr(placeholder);
}
.editable {
  padding: 0.25em;
  background-color: #E9E9E1;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  font-size: .95em;
}
.editable.active {
  background-color: #FFC;
}
/* == Google Map Hack == */
.gm-style img {
  max-width: none!important;
  max-height: auto!important;
}
.gm-style label {
  width: auto;
  display: inline!important
}
/* == Off Canvas Sidebar == */
body {
  -webkit-transition: margin 0.3s ease, -webkit-transform 0.3s ease;
  transition: margin 0.3s ease, transform 0.3s ease;
}
.prolific.sidebar {
  position: fixed;
  margin: 0;
  height: 100%;
  border-radius: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-y: auto;
  overflow-y: auto;
  top: 0px;
  left: 0px;
  z-index: 999;
  -webkit-transition: margin-left 0.3s ease, margin-top 0.3s ease;
  transition: margin-left 0.3s ease, margin-top 0.3s ease;
}
body.pushed.scrolling.prolific.dimmable {
  position: static;
}
/* == Directions == */
.prolific.right.slim.sidebar,
.prolific.right.thin.sidebar,
.prolific.right.sidebar,
.prolific.right.wide.sidebar,
.prolific.right.very.wide.sidebar {
  left: 100%;
  margin: 0px;
}
.prolific.top.sidebar {
  width: 100%;
}
.prolific.bottom.sidebar {
  width: 100%;
  top: 100%;
  margin: 0px;
}
/* == States == */
.prolific.active.sidebar {
  margin-left: 0px;
}
.prolific.active.top.sidebar,
.prolific.active.bottom.sidebar {
  margin-top: 0px;
}
/* == Variations == */
.prolific.styled.sidebar {
  padding: 0;
  background-color: #F1F2EA;
  -webkit-box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1);
}
.prolific.styled.sidebar .header {
  line-height: 0;
  background-color: #424343;
  text-align: center;
  height: 5em;
  position: fixed;
  width: 275px;
  z-index: 2
}
.prolific.styled.slim.sidebar {
}
.prolific.styled.thin.sidebar {
}
/* == Floating == */
.prolific.floating.sidebar {
  -webkit-box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2);
  margin-right: 4px;
}
.prolific.right.floating.sidebar {
  -webkit-box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.2);
  margin-left: 4px;
}
.prolific.top.floating.sidebar {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.prolific.bottom.floating.sidebar {
  -webkit-box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2);
}
/* == Width == */
.prolific.slim.sidebar {
  width: 60px;
  margin-left: -60px;
}
.prolific.active.slim.sidebar {
  margin-left: 0px;
}
.prolific.active.right.slim.sidebar {
  margin-left: -60px;
}
.prolific.thin.sidebar {
  width: 150px;
  margin-left: -150px;
}
.prolific.active.thin.sidebar {
  margin-left: 0px;
}
.prolific.active.right.thin.sidebar {
  margin-left: -150px;
}
.prolific.sidebar {
  width: 275px;
  margin-left: -275px;
}
.prolific.active.sidebar {
  margin-left: 0px;
}
.prolific.active.right.sidebar {
  margin-left: -275px;
}
.prolific.wide.sidebar {
  width: 350px;
  margin-left: -350px;
}
.prolific.active.wide.sidebar {
  margin-left: 0px;
}
.prolific.active.right.wide.sidebar {
  margin-left: -350px;
}
.prolific.very.wide.sidebar {
  width: 475px;
  margin-left: -475px;
}
.prolific.active.very.wide.sidebar {
  margin-left: 0px;
}
.prolific.active.right.very.wide.sidebar {
  margin-left: -475px;
}
/* == Height == */
.prolific.top.sidebar {
  margin: -40px 0px 0px 0px;
}
.prolific.top.sidebar,
.prolific.bottom.sidebar {
  height: 40px;
}
.prolific.active.bottom.sidebar {
  margin-top: -40px;
}
/* == Loading == */
.prolific.sidebar.info.loading:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: #79C0D8 url(../images/loader-sidebar.gif) no-repeat 50% 50%;
  visibility: visible
}
/* == Custom Help == */
.prolific.sidebar.info {
  background-color: #79C0D8;
  color: #fff
}
.prolific.info.sidebar .header {
  background-color: #53ADCC;
  font-family: 'Open Sans Condensed';
  font-weight: 600;
  font-size: 1.2rem;
  position: fixed;
  display: table;
  width: 350px;
  height: 4em;
  box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.4);
  border-bottom: 1px solid #53ADCC
}
.prolific.info.sidebar .header > p,
.prolific.info.sidebar a.helper {
  display: table-cell;
  padding: .5em;
  vertical-align: middle;
}
.prolific.info.sidebar a.helper {
  font-size: 2rem;
  color: #fff;
  text-align: right;
}
.prolific.info.sidebar a.helper:hover {
  color: #266479;
}
#help-items {
  padding-top: 5.5em;
}
#help-items .item {
  box-shadow: inset 0 -1px 0 0 #8dcadf, inset 0 -2px 0 0 #40a3c6;
  margin-bottom: .35em;
  padding-bottom: .35em;
 font-size:.95rem;
  font-weight: 600;
  text-shadow: 0 1px 0 #40a3c6
}
#help-items h5 {
  margin-bottom: .25em;
  color: #266479;
  text-shadow: 0 1px 0 #8dcadf
}
/* == Pie Charts == */
.roundchart {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 180px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.roundchart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 180px;
  z-index: 2;
  font-size: 2em;
  font-weight: 400;
  font-family: 'Open Sans Condensed'
}
.percent:after {
}
.scrolltrack {
  width: 6px;
  background: rgba(0, 0, 0, 0);
  margin-right: 2px;
  border-radius: 2px;
  -webkit-transition: background 250ms linear;
  transition: background 250ms linear;
}
.scrolltrack:hover,
.scrolltrack.dragging {
  background: rgba(0, 0, 0, 0.15);
}
.scrollhandle {
  width: 4px;
  right: 0;
  background: #999;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1px;
  -webkit-transition: width 250ms;
  transition: width 250ms;
}
.scrolltrack:hover .scrollhandle,
.scrolltrack.dragging .scrollhandle {
  width: 6px;
}
/* == Tabs == */	
#tabs {
  position: absolute;
  right: 1em;
  bottom: 0;
}
#tabs,
#tabs li {
  list-style-type: none;
  margin: 0;
  padding: 0
}
#tabs li {
  display: block;
  float: left
}
#tabs li a {
  font-size: 1rem;
  display: block;
  padding: .5em 1em
}
#tabs li a.active {
  background-color: #E9E9E1;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
  border-radius: 0.225em;
}
/*RangeSlider */
.irs {
  position: relative;
  display: block;
}
.irs-line {
  position: relative;
  display: block;
  overflow: hidden;
}
.irs-diapason {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
}
.irs-slider {
  position: absolute;
  display: block;
  cursor: default;
  z-index: 1;
}
.irs-slider.single {
  left: 10px;
}
.irs-slider.single:before {
  position: absolute;
  display: block;
  content: "";
  top: -30%;
  left: -30%;
  width: 160%;
  height: 160%;
  background: rgba(0,0,0,0.0);
}
.irs-slider.from {
  left: 100px;
}
.irs-slider.from:after,
 .irs-slider.to:after,
 .irs-slider.single:before {
  position: absolute;
  display: block;
  font-size: 1em;
  font-weight: 900;
  top: .30em;
  left: .7em;
  width: .25em;
  height: 1.5em;
  content: "";
  background-color: #A6CB6E;
}
.irs-slider.to {
  left: 300px;
}
.irs-slider.last {
  z-index: 2;
}
.irs-min {
  position: absolute;
  display: block;
  left: 0;
  cursor: default;
}
.irs-max {
  position: absolute;
  display: block;
  right: 0;
  cursor: default;
}
.irs-from,
.irs-to,
.irs-single {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  cursor: default;
  white-space: nowrap;
}
.irs-grid {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}
.irs-with-grid .irs-grid {
  display: block;
}
.irs-grid-pol {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 8px;
  background: #000;
}
.irs-grid-pol.small {
  height: 4px;
}
.irs-grid-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  white-space: nowrap;
  text-align: center;
  font-size: 9px;
  line-height: 9px;
  color: #000;
}
.irs-disable-mask {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  background: rgba(0,0,0,0.0);
  z-index: 2;
}
.irs-disabled {
  opacity: 0.4;
}
/* Skin details */
.irs {
  height: 40px;
}
.irs-with-grid {
  height: 60px;
}
.irs-line {
  height: 10px;
  top: 25px;
  background-color: rgba(0,0,0,0.15);
  border-radius: 2px;
}
.irs-diapason {
  height: 10px;
  top: 25px;
  background-color: #A6CB6E;
}
.irs-slider {
  width: 22px;
  height: 22px;
  top: 17px;
}
#irs-active-slider,
.irs-slider:hover {
}
.irs-min,
.irs-max {
  color: #999;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  top: 0;
  padding: 1px 3px;
  background: rgba(0,0,0,0.1);
  border-radius: 3px;
}
.lt-ie9 .irs-min,
.lt-ie9 .irs-max {
  background: #ccc;
}
.irs-from,
.irs-to,
.irs-single {
  color: #fff;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background: rgba(0,0,0,0.3);
  border-radius: 3px;
}
.lt-ie9 .irs-from,
.lt-ie9 .irs-to,
.lt-ie9 .irs-single {
  background: #999;
}
.irs-grid-pol {
  background: #99a4ac;
}
.irs-grid-text {
  color: #99a4ac;
}
.irs-disabled {}

/* == Weather Widget == */
@font-face {
  font-family: 'weather';
  src: url(../fonts/artill_clean_icons-webfont.eot);
  src: url(../fonts/artill_clean_icons-webfont.eot?#iefix) format('embedded-opentype'),
  url(../fonts/artill_clean_icons-webfont.svg#icons) format('svg'),
  url(../fonts/artill_clean_icons-webfont.woff) format('woff'),  url(../fonts/artill_clean_icons-webfont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
#weather [class^="wicon-"]:before,
#weather [class*=" wicon-"]:before {
  color: #FFFFFF;
  font-family: weather;
  font-size: 80px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin-left: 0;
}
#weather {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  background-color: #B2D280;
  color: #FFFFFF;
  overflow: hidden;
  padding: 0;
  position: relative;
  height: 350px;
}
#weather .big-img-weather:before {
  font-size: 11em;
}
#weather .weather-footer {
  max-height: 100px;
  box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.2);
}
#weather .weather-body {
  height: 230px;
  padding: 20px;
}
#weather .weather-footer-block {
  background-color: rgba(0,0,0,0.2);
  box-shadow: -1px 0 0 0 rgba(0,0,0,0.2);
  border-left: 1px solid rgba(255,255,255,0.2);
}
#weather .weather-footer-block:first-child {
  box-shadow: none;
  border-left: 0
}
#weather .weather-place h3 {
  margin-top: .5em;
}
.wicon-0:before {
  content: ":";
}
.wicon-1:before {
  content: "p";
}
.wicon-2:before {
  content: "S";
}
.wicon-3:before {
  content: "Q";
}
.wicon-4:before {
  content: "S";
}
.wicon-5:before {
  content: "W";
}
.wicon-6:before {
  content: "W";
}
.wicon-7:before {
  content: "W";
}
.wicon-8:before {
  content: "W";
}
.wicon-9:before {
  content: "I";
}
.wicon-10:before {
  content: "W";
}
.wicon-11:before {
  content: "I";
}
.wicon-12:before {
  content: "I";
}
.wicon-13:before {
  content: "I";
}
.wicon-14:before {
  content: "I";
}
.wicon-15:before {
  content: "W";
}
.wicon-16:before {
  content: "I";
}
.wicon-17:before {
  content: "W";
}
.wicon-18:before {
  content: "U";
}
.wicon-19:before {
  content: "Z";
}
.wicon-20:before {
  content: "Z";
}
.wicon-21:before {
  content: "Z";
}
.wicon-22:before {
  content: "Z";
}
.wicon-23:before {
  content: "Z";
}
.wicon-24:before {
  content: "E";
}
.wicon-25:before {
  content: "E";
}
.wicon-26:before {
  content: "3";
}
.wicon-27:before {
  content: "a";
}
.wicon-28:before {
  content: "A";
}
.wicon-29:before {
  content: "a";
}
.wicon-30:before {
  content: "A";
}
.wicon-31:before {
  content: "6";
}
.wicon-32:before {
  content: "1";
}
.wicon-33:before {
  content: "6";
}
.wicon-34:before {
  content: "1";
}
.wicon-35:before {
  content: "W";
}
.wicon-36:before {
  content: "1";
}
.wicon-37:before {
  content: "S";
}
.wicon-38:before {
  content: "S";
}
.wicon-39:before {
  content: "S";
}
.wicon-40:before {
  content: "M";
}
.wicon-41:before {
  content: "W";
}
.wicon-42:before {
  content: "I";
}
.wicon-43:before {
  content: "W";
}
.wicon-44:before {
  content: "a";
}
.wicon-45:before {
  content: "S";
}
.wicon-46:before {
  content: "U";
}
.wicon-47:before {
  content: "S";
}