.prolific.button {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  min-height: 1em;
  outline: none;
  border: none;
  font-family: "Quicksand", sans-serif;
  background-color: #E7ECF0;
  color: #333;
  margin: 0em;
  padding: 1em 1.5em;
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.25em;
  -webkit-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, -webkit-box-shadow 0.25s ease;
  -moz-transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, box-shadow 0.25s ease;
  transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, box-shadow 0.25s ease;
}
/*--------------
     Active
---------------*/
.prolific.buttons .active.button,
.prolific.active.button {
  background-color: #a3b5c2;
  background-image: none;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05) inset;
  color: rgba(0, 0, 0, 0.7);
}
/*--------------
      Hover
---------------*/
.prolific.button:hover {
  color: rgba(0, 0, 0, 0.7);
  background-color: #c1ced7;
}
.prolific.button.active:hover {
  background-image: none;
}
.prolific.button:hover .icon,
.prolific.button.hover .icon {
  opacity: 0.85;
}
/*--------------
      Down
---------------*/
.prolific.button:active,
.prolific.active.button:active {
  background-color: #F1F1F1;
  color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05) inset;
}
/*--------------
    Loading
---------------*/
.prolific.loading.button {
  position: relative;
  cursor: default;
  background-color: #FFFFFF;
  color: transparent;
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  transition: all 0s linear;
}
.prolific.loading.button:after {
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 100%;
  content: '';
  background: transparent url(../images/loader-mini.gif) no-repeat 50% 50%;
}
.prolific.labeled.icon.loading.button .icon {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*-------------------
      Disabled
--------------------*/
.prolific.disabled.button,
.prolific.disabled.button:hover,
.prolific.disabled.button.active {
  background-color: #DDDDDD;
  cursor: default;
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.3;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*******************************
             Types
*******************************/
/*-------------------
       Animated
--------------------*/
.prolific.animated.button {
  position: relative;
  overflow: hidden;
}
.prolific.animated.button .visible.content {
  position: relative;
}
.prolific.animated.button .hidden.content {
  position: absolute;
  width: 100%;
}
/* Horizontal */
.prolific.animated.button .visible.content,
.prolific.animated.button .hidden.content {
  -webkit-transition: right 0.3s ease 0s;
  -moz-transition: right 0.3s ease 0s;
  transition: right 0.3s ease 0s;
}
.prolific.animated.button .visible.content {
  left: auto;
  right: 0%;
}
.prolific.animated.button .hidden.content {
  top: 50%;
  left: auto;
  right: -100%;
  margin-top: -0.55em;
}
.prolific.animated.button:hover .visible.content {
  left: auto;
  right: 200%;
}
.prolific.animated.button:hover .hidden.content {
  left: auto;
  right: 0%;
}
/* Vertical */
.prolific.vertical.animated.button .visible.content,
.prolific.vertical.animated.button .hidden.content {
  -webkit-transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -moz-transition: top 0.3s ease 0s, -moz-transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0s;
}
.prolific.vertical.animated.button .visible.content {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  right: auto;
}
.prolific.vertical.animated.button .hidden.content {
  top: -100%;
  left: 0%;
  right: auto;
}
.prolific.vertical.animated.button:hover .visible.content {
  -webkit-transform: translateY(200%);
  -moz-transform: translateY(200%);
  -ms-transform: translateY(200%);
  transform: translateY(200%);
  right: auto;
}
.prolific.vertical.animated.button:hover .hidden.content {
  top: 50%;
  right: auto;
}
/* Fade */
.prolific.fade.animated.button .visible.content,
.prolific.fade.animated.button .hidden.content {
  -webkit-transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -moz-transition: opacity 0.3s ease 0s, -moz-transform 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
}
.prolific.fade.animated.button .visible.content {
  left: auto;
  right: auto;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.prolific.fade.animated.button .hidden.content {
  opacity: 0;
  left: 0%;
  right: auto;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.prolific.fade.animated.button:hover .visible.content {
  left: auto;
  right: auto;
  opacity: 0;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}
.prolific.fade.animated.button:hover .hidden.content {
  left: 0%;
  right: auto;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
/*-------------------
       Primary
--------------------*/
.prolific.primary.buttons .button,
.prolific.primary.button {
  background-color: #D95C5C;
  color: #FFFFFF;
}
.prolific.primary.buttons .button:hover,
.prolific.primary.button:hover,
.prolific.primary.buttons .active.button,
.prolific.primary.button.active {
  background-color: #E75859;
  color: #FFFFFF;
}
.prolific.primary.buttons .button:active,
.prolific.primary.button:active {
  background-color: #D24B4C;
  color: #FFFFFF;
}
/*-------------------
      Secondary
--------------------*/
.prolific.secondary.buttons .button,
.prolific.secondary.button {
  background-color: #00B5AD;
  color: #FFFFFF;
}
.prolific.secondary.buttons .button:hover,
.prolific.secondary.button:hover,
.prolific.secondary.buttons .active.button,
.prolific.secondary.button.active {
  background-color: #009A93;
  color: #FFFFFF;
}
.prolific.secondary.buttons .button:active,
.prolific.secondary.button:active {
  background-color: #00847E;
  color: #FFFFFF;
}
/*-------------------
       Social
--------------------*/
/* Facebook */
.prolific.facebook.button {
  background-color: #3B579D;
  color: #FFFFFF;
}
.prolific.facebook.button:hover {
  background-color: #3A59A9;
  color: #FFFFFF;
}
.prolific.facebook.button:active {
  background-color: #334F95;
  color: #FFFFFF;
}
/* Twitter */
.prolific.twitter.button {
  background-color: #4092CC;
  color: #FFFFFF;
}
.prolific.twitter.button:hover {
  background-color: #399ADE;
  color: #FFFFFF;
}
.prolific.twitter.button:active {
  background-color: #3283BC;
  color: #FFFFFF;
}
/* Google Plus */
.prolific.google.plus.button {
  background-color: #D34836;
  color: #FFFFFF;
}
.prolific.google.plus.button:hover {
  background-color: #E3432E;
  color: #FFFFFF;
}
.prolific.google.plus.button:active {
  background-color: #CA3A27;
  color: #FFFFFF;
}
/* Linked In */
.prolific.linkedin.button {
  background-color: #1F88BE;
  color: #FFFFFF;
}
.prolific.linkedin.button:hover {
  background-color: #1394D6;
  color: #FFFFFF;
}
.prolific.linkedin.button:active {
  background-color: #1179AE;
  color: #FFFFFF;
}
/* YouTube */
.prolific.youtube.button {
  background-color: #CC181E;
  color: #FFFFFF;
}
.prolific.youtube.button:hover {
  background-color: #DF0209;
  color: #FFFFFF;
}
.prolific.youtube.button:active {
  background-color: #A50006;
  color: #FFFFFF;
}
/* Instagram */
.prolific.instagram.button {
  background-color: #49769C;
  color: #FFFFFF;
}
.prolific.instagram.button:hover {
  background-color: #4781B1;
  color: #FFFFFF;
}
.prolific.instagram.button:active {
  background-color: #38658A;
  color: #FFFFFF;
}
/* Pinterest */
.prolific.pinterest.button {
  background-color: #00ACED;
  color: #FFFFFF;
}
.prolific.pinterest.button:hover {
  background-color: #00B9FF;
  color: #FFFFFF;
}
.prolific.pinterest.button:active {
  background-color: #009EDA;
  color: #FFFFFF;
}
/* vk.com */
.prolific.vk.button {
  background-color: #4D7198;
  color: #FFFFFF;
}
.prolific.vk.button:hover {
  background-color: #537AA5;
  color: #FFFFFF;
}
.prolific.vk.button:active {
  background-color: #405E7E;
  color: #FFFFFF;
}
/*--------------
     Icon
---------------*/
.prolific.button > .icon {
  margin-right: 0.6em;
  line-height: 1;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
/*******************************
           Variations
*******************************/
/*-------------------
       Floated
--------------------*/
.prolific.left.floated.buttons,
.prolific.left.floated.button {
  float: left;
  margin-right: 0.25em;
}
.prolific.right.floated.buttons,
.prolific.right.floated.button {
  float: right;
  margin-left: 0.25em;
}
/*-------------------
        Sizes
--------------------*/
.prolific.buttons .button,
.prolific.button {
  font-size: 1rem;
}
.prolific.mini.buttons .button,
.prolific.mini.buttons .or,
.prolific.mini.button {
  font-size: 0.8rem;
}
.prolific.mini.buttons .button,
.prolific.mini.button {
  padding: 0.6em 0.8em;
}
.prolific.mini.icon.buttons .button,
.prolific.mini.buttons .icon.button {
  padding: 0.6em 0.6em;
}
.prolific.tiny.buttons .button,
.prolific.tiny.buttons .or,
.prolific.tiny.button {
  font-size: 0.875em;
}
.prolific.tiny.buttons .button,
.prolific.tiny.buttons .button,
.prolific.tiny.button {
  padding: 0.6em 0.8em;
}
.prolific.tiny.icon.buttons .button,
.prolific.tiny.buttons .icon.button {
  padding: 0.6em 0.6em;
}
.prolific.small.buttons .button,
.prolific.small.buttons .or,
.prolific.small.button {
  font-size: 0.875rem;
}
.prolific.large.buttons .button,
.prolific.large.buttons .or,
.prolific.large.button {
  font-size: 1.125rem;
}
.prolific.big.buttons .button,
.prolific.big.buttons .or,
.prolific.big.button {
  font-size: 1.25rem;
}
.prolific.huge.buttons .button,
.prolific.huge.buttons .or,
.prolific.huge.button {
  font-size: 1.375rem;
}
.prolific.massive.buttons .button,
.prolific.massive.buttons .or,
.prolific.massive.button {
  font-size: 1.5rem;
  font-weight: bold;
}
/* Or resize */
.prolific.tiny.buttons .or:before,
.prolific.mini.buttons .or:before {
  width: 1.45em;
  height: 1.55em;
  line-height: 1.4;
  margin-left: -0.725em;
  margin-top: -0.25em;
}
.prolific.tiny.buttons .or:after,
.prolific.mini.buttons .or:after {
  height: 1.45em;
}
/* loading */
.prolific.huge.loading.button:after {
  background-image: url(../images/loader-small.gif);
}
.prolific.massive.buttons .loading.button:after,
.prolific.gigantic.buttons .loading.button:after,
.prolific.massive.loading.button:after,
.prolific.gigantic.loading.button:after {
  background-image: url(../images/loader-medium.gif);
}
.prolific.huge.loading.button:after,
.prolific.huge.loading.button.active:after {
  background-image: url(../images/loader-small.gif);
}
.prolific.massive.buttons .loading.button:after,
.prolific.gigantic.buttons .loading.button:after,
.prolific.massive.loading.button:after,
.prolific.gigantic.loading.button:after,
.prolific.massive.buttons .loading.button.active:after,
.prolific.gigantic.buttons .loading.button.active:after,
.prolific.massive.loading.button.active:after,
.prolific.gigantic.loading.button.active:after {
  background-image: url(../images/loader-medium.gif);
}
/*--------------
    Icon Only
---------------*/
.prolific.icon.buttons .button,
.prolific.icon.button {
  padding: 1em;
}
.prolific.icon.buttons .button > .icon,
.prolific.icon.button > .icon {
  opacity: 0.9;
  margin: 0em;
  vertical-align: top;
}
/*-------------------
        Basic
--------------------*/
.prolific.basic.buttons .button,
.prolific.basic.button {
  background-color:transparent;
  background-image: none;
  color: #808080;
  font-weight: normal;
  text-transform: none;
  -webkit-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
}
.prolific.basic.buttons {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0.25em;
}
.prolific.basic.buttons .button:hover,
.prolific.basic.button:hover {
  background-image: none;
  color: #888888;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.18) inset;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.18) inset;
}
.prolific.basic.buttons .button:active,
.prolific.basic.button:active {
  background-color: rgba(0, 0, 0, 0.02);
  color: #888888;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
}
.prolific.basic.buttons .button.active,
.prolific.basic.button.active {
  background-color: rgba(0, 0, 0, 0.05);
  color: #888888;
  -webkit-box-shadow: 0px 0px 0px 2px #BDBDBD inset;
  box-shadow: 0px 0px 0px 2px #BDBDBD inset;
}
.prolific.basic.buttons .button.active:hover,
.prolific.basic.button.active:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/* Inverted */
.prolific.basic.inverted.buttons .button,
.prolific.basic.inverted.button {
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset;
}
.prolific.basic.inverted.buttons .button:hover,
.prolific.basic.inverted.button:hover {
  background-image: none;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.8) inset;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.8) inset;
}
.prolific.basic.inverted.buttons .button:active,
.prolific.basic.inverted.button:active {
  background-color: rgba(255, 255, 255, 0.05);
  color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1) inset;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1) inset;
}
.prolific.basic.inverted.buttons .button.active,
.prolific.basic.inverted.button.active {
  background-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.prolific.basic.inverted.buttons .button.active:hover,
.prolific.basic.inverted.button.active:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/* Basic Group */
.prolific.basic.buttons .button {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.prolific.basic.buttons .button:hover,
.prolific.basic.buttons .button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.prolific.basic.buttons .button.active,
.prolific.basic.buttons .button.active:hover {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) inset;
}
/*--------------
   Labeled Icon
---------------*/
.prolific.labeled.icon.buttons .button,
.prolific.labeled.icon.button {
  position: relative;
  padding-left: 4em;
  padding-right: 1.4em;
}
.prolific.labeled.icon.buttons > .button > .icon,
.prolific.labeled.icon.button > .icon {
  position: absolute;
  top: 0em;
  left: 0em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 2.75em;
  height: 100%;
  padding-top: 1em;
  background-color: rgba(0, 0, 0, 0.05);
  text-align: center;
  border-radius: 0.25em 0px 0px 0.25em;
  line-height: 1;
  -webkit-box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
  box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
}
.prolific.labeled.icon.buttons .button > .icon {
  border-radius: 0em;
}
.prolific.labeled.icon.buttons .button:first-child > .icon {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
}
.prolific.labeled.icon.buttons .button:last-child > .icon {
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}
.prolific.vertical.labeled.icon.buttons .button:first-child > .icon {
  border-radius: 0em;
  border-top-left-radius: 0.25em;
}
.prolific.vertical.labeled.icon.buttons .button:last-child > .icon {
  border-radius: 0em;
  border-bottom-left-radius: 0.25em;
}
.prolific.right.labeled.icon.button {
  padding-left: 1.4em;
  padding-right: 4em;
}
.prolific.left.fluid.labeled.icon.button,
.prolific.right.fluid.labeled.icon.button {
  padding-left: 1.4em;
  padding-right: 1.4em;
}
.prolific.right.labeled.icon.button .icon {
  left: auto;
  right: 0em;
  border-radius: 0em 0.25em 0.25em 0em;
  -webkit-box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
}
/*--------------
     Toggle
---------------*/
.prolific.toggle.buttons .active.button,
.prolific.buttons .button.toggle.active,
.prolific.button.toggle.active {
  background-color: #69A261;
  color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.prolific.button.toggle.active:hover {
  background-color: #78ac70;
  color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*--------------
    Circular
---------------*/
.prolific.circular.button {
  border-radius: 10em;
}
/*--------------
     Attached
---------------*/
.prolific.attached.button {
  display: block;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}
.prolific.attached.top.button {
  border-radius: 0.25em 0.25em 0em 0em;
}
.prolific.attached.bottom.button {
  border-radius: 0em 0em 0.25em 0.25em;
}
.prolific.attached.left.button {
  display: inline-block;
  border-left: none;
  padding-right: 0.75em;
  text-align: right;
  border-radius: 0.25em 0em 0em 0.25em;
}
.prolific.attached.right.button {
  display: inline-block;
  padding-left: 0.75em;
  text-align: left;
  border-radius: 0em 0.25em 0.25em 0em;
}
/*-------------------
      Or Buttons
--------------------*/
.prolific.buttons .or {
  position: relative;
  float: left;
  width: 0.3em;
  height: 1.1em;
  z-index: 3;
}
.prolific.buttons .or:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: 'or';
  background-color: #FFFFFF;
  margin-top: 0;
  margin-left: -0.9em;
  width: 1.8em;
  height: 1.8em;
  line-height: 1.55;
  color: #AAAAAA;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  border-radius: 500px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.prolific.buttons .or[data-text]:before {
  content: attr(data-text);
}
.prolific.buttons .or:after {
  position: absolute;
  top: 0em;
  left: 0em;
  content: ' ';
  width: 0.3em;
  height: 1.7em;
  background-color: transparent;
  border-top: 0.5em solid #FFFFFF;
  border-bottom: 0.5em solid #FFFFFF;
}
/* Fluid Or */
.prolific.fluid.buttons .or {
  width: 0em;
}
.prolific.fluid.buttons .or:after {
  display: none;
}
/*-------------------
       Attached
--------------------*/
/* Plural Attached */
.attached.prolific.buttons {
  margin: 0px;
  border-radius: 4px 4px 0px 0px;
}
.attached.prolific.buttons .button:first-child {
  border-radius: 4px 0px 0px 0px;
}
.attached.prolific.buttons .button:last-child {
  border-radius: 0px 4px 0px 0px;
}
/* Bottom Side */
.bottom.attached.prolific.buttons {
  margin-top: -1px;
  border-radius: 0px 0px 4px 4px;
}
.bottom.attached.prolific.buttons .button:first-child {
  border-radius: 0px 0px 0px 4px;
}
.bottom.attached.prolific.buttons .button:last-child {
  border-radius: 0px 0px 4px 0px;
}
/* Left Side */
.left.attached.prolific.buttons {
  margin-left: -1px;
  border-radius: 0px 4px 4px 0px;
}
.left.attached.prolific.buttons .button:first-child {
  margin-left: -1px;
  border-radius: 0px 4px 0px 0px;
}
.left.attached.prolific.buttons .button:last-child {
  margin-left: -1px;
  border-radius: 0px 0px 4px 0px;
}
/* Right Side */
.right.attached.prolific.buttons,
.right.attached.prolific.buttons .button {
  margin-right: -1px;
  border-radius: 4px 0px 0px 4px;
}
.right.attached.prolific.buttons .button:first-child {
  margin-left: -1px;
  border-radius: 4px 0px 0px 0px;
}
.right.attached.prolific.buttons .button:last-child {
  margin-left: -1px;
  border-radius: 0px 0px 0px 4px;
}
/* Fluid */
.prolific.fluid.buttons,
.prolific.button.fluid,
.prolific.fluid.buttons > .button {
  display: block;
  width: 100%;
}
.prolific.\32.buttons > .button,
.prolific.two.buttons > .button {
  width: 50%;
}
.prolific.\33.buttons > .button,
.prolific.three.buttons > .button {
  width: 33.333%;
}
.prolific.\34.buttons > .button,
.prolific.four.buttons > .button {
  width: 25%;
}
.prolific.\35.buttons > .button,
.prolific.five.buttons > .button {
  width: 20%;
}
.prolific.\36.buttons > .button,
.prolific.six.buttons > .button {
  width: 16.666%;
}
.prolific.\37.buttons > .button,
.prolific.seven.buttons > .button {
  width: 14.285%;
}
.prolific.\38.buttons > .button,
.prolific.eight.buttons > .button {
  width: 12.500%;
}
.prolific.\39.buttons > .button,
.prolific.nine.buttons > .button {
  width: 11.11%;
}
.prolific.\31\30.buttons > .button,
.prolific.ten.buttons > .button {
  width: 10%;
}
.prolific.\31\31.buttons > .button,
.prolific.eleven.buttons > .button {
  width: 9.09%;
}
.prolific.\31\32.buttons > .button,
.prolific.twelve.buttons > .button {
  width: 8.3333%;
}
/* Fluid Vertical Buttons */
.prolific.fluid.vertical.buttons,
.prolific.fluid.vertical.buttons > .button {
  display: block;
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.prolific.\32.vertical.buttons > .button,
.prolific.two.vertical.buttons > .button {
  height: 50%;
}
.prolific.\33.vertical.buttons > .button,
.prolific.three.vertical.buttons > .button {
  height: 33.333%;
}
.prolific.\34.vertical.buttons > .button,
.prolific.four.vertical.buttons > .button {
  height: 25%;
}
.prolific.\35.vertical.buttons > .button,
.prolific.five.vertical.buttons > .button {
  height: 20%;
}
.prolific.\36.vertical.buttons > .button,
.prolific.six.vertical.buttons > .button {
  height: 16.666%;
}
.prolific.\37.vertical.buttons > .button,
.prolific.seven.vertical.buttons > .button {
  height: 14.285%;
}
.prolific.\38.vertical.buttons > .button,
.prolific.eight.vertical.buttons > .button {
  height: 12.500%;
}
.prolific.\39.vertical.buttons > .button,
.prolific.nine.vertical.buttons > .button {
  height: 11.11%;
}
.prolific.\31\30.vertical.buttons > .button,
.prolific.ten.vertical.buttons > .button {
  height: 10%;
}
.prolific.\31\31.vertical.buttons > .button,
.prolific.eleven.vertical.buttons > .button {
  height: 9.09%;
}
.prolific.\31\32.vertical.buttons > .button,
.prolific.twelve.vertical.buttons > .button {
  height: 8.3333%;
}
/*-------------------
       Colors
--------------------*/
/*--- Black ---*/
.prolific.black.buttons .button,
.prolific.black.button {
  background-color: #34495E;
  color: #FFFFFF;
}
.prolific.black.buttons .button:hover,
.prolific.black.button:hover {
  background-color: #2C3E50;
  color: #FFFFFF;
}
.prolific.black.buttons .button.active,
.prolific.black.button.active {
  background-color: #2C3E50;
  color: #FFFFFF;
}
/*--- danger ---*/
.prolific.danger.buttons .button,
.prolific.danger.button {
  background-color: #A26161;
  color: #FFFFFF;
}
.prolific.danger.buttons .button:hover,
.prolific.danger.button:hover,
.prolific.danger.buttons .active.button,
.prolific.danger.button.active {
  background-color: #ac7070;
  color: #FFFFFF;
}
.prolific.danger.buttons .button:active,
.prolific.danger.button:active {
  background-color: #925757;
  color: #FFFFFF;
}
/*--- warning ---*/
.prolific.warning.buttons .button,
.prolific.warning.button {
  background-color: #EDAA10;
  color: #FFFFFF;
}
.prolific.warning.buttons .button:hover,
.prolific.warning.button:hover,
.prolific.warning.buttons .active.button,
.prolific.warning.button.active {
  background-color: #f0b327;
  color: #FFFFFF;
}
.prolific.warning.buttons .button:active,
.prolific.warning.button:active {
  background-color: #d39810;
  color: #FFFFFF;
}
/*--- info ---*/
.prolific.info.buttons .button,
.prolific.info.button {
  background-color: #5795AF;
  color: #FFFFFF;
}
.prolific.info.buttons .button:hover,
.prolific.info.button:hover,
.prolific.info.buttons .active.button,
.prolific.info.button.active {
  background-color: #68a0b8;
  color: #FFFFFF;
}
.prolific.info.buttons .button:active,
.prolific.info.button:active {
  background-color: #4d87a0;
  color: #FFFFFF;
}
/*--- Purple ---*/
.prolific.purple.buttons .button,
.prolific.purple.button {
  background-color: #7A6591;
  color: #FFFFFF;
}
.prolific.purple.buttons .button:hover,
.prolific.purple.button:hover,
.prolific.purple.buttons .active.button,
.prolific.purple.button.active {
  background-color: #87719f;
  color: #FFFFFF;
}
.prolific.purple.buttons .button:active,
.prolific.purple.button:active {
  background-color: #6d5a82;
  color: #FFFFFF;
}
/*--- Teal ---*/
.prolific.teal.buttons .button,
.prolific.teal.button {
  background-color: #61A299;
  color: #FFFFFF;
}
.prolific.teal.buttons .button:hover,
.prolific.teal.button:hover,
.prolific.teal.buttons .active.button,
.prolific.teal.button.active {
  background-color: #70aca4;
  color: #FFFFFF;
}
.prolific.teal.buttons .button:active,
.prolific.teal.button:active {
  background-color: #57928a;
  color: #FFFFFF;
}
/*---------------
    Positive
----------------*/
.prolific.positive.buttons .button,
.prolific.positive.button {
  background-color: #61A270;
  color: #FFFFFF;
}
.prolific.positive.buttons .button:hover,
.prolific.positive.button:hover,
.prolific.positive.buttons .active.button,
.prolific.positive.button.active {
  background-color: #70ac7e;
  color: #FFFFFF;
}
.prolific.positive.buttons .button:active,
.prolific.positive.button:active {
  background-color: #579265;
  color: #FFFFFF;
}
/*---------------
     Negative
----------------*/
.prolific.negative.buttons .button,
.prolific.negative.button {
  background-color: #A26161;
  color: #FFFFFF;
}
.prolific.negative.buttons .button:hover,
.prolific.negative.button:hover,
.prolific.negative.buttons .active.button,
.prolific.negative.button.active {
  background-color: #ac7070;
  color: #FFFFFF;
}
.prolific.negative.buttons .button:active,
.prolific.negative.button:active {
  background-color: #925757;
  color: #FFFFFF;
}
/*******************************
            Groups
*******************************/
.prolific.buttons {
  display: inline-block;
  vertical-align: middle;
}
.prolific.buttons:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.prolific.buttons .button:first-child {
  border-left: none;
}
.prolific.buttons .button {
  float: left;
  border-radius: 0em;
  -webkit-box-shadow: inset 1px 0 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 0 0 0 rgba(0, 0, 0, 0.075), -1px 0 0 0 rgba(255,255,255,0.25)
}
.prolific.buttons .button:first-child {
  margin-left: 0em;
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.prolific.buttons .button:last-child {
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}
/* Vertical  Style */
.prolific.vertical.buttons {
  display: inline-block;
}
.prolific.vertical.buttons .button {
  display: block;
  float: none;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
}
.prolific.vertical.buttons .button:first-child,
.prolific.vertical.buttons .mini.button:first-child,
.prolific.vertical.buttons .tiny.button:first-child,
.prolific.vertical.buttons .small.button:first-child,
.prolific.vertical.buttons .massive.button:first-child,
.prolific.vertical.buttons .huge.button:first-child {
  margin-top: 0px;
  border-radius: 0.25em 0.25em 0px 0px;
}
.prolific.vertical.buttons .button:last-child,
.prolific.vertical.buttons .mini.button:last-child,
.prolific.vertical.buttons .tiny.button:last-child,
.prolific.vertical.buttons .small.button:last-child,
.prolific.vertical.buttons .massive.button:last-child,
.prolific.vertical.buttons .huge.button:last-child,
.prolific.vertical.buttons .gigantic.button:last-child {
  border-radius: 0px 0px 0.25em 0.25em;
}