/* == Inputs == */
.prolific.input {
  display: inline-block;
  position: relative;
  color: rgba(0,0,0,0.7)
}
.prolific.input.inverted{
  color: rgba(255,255,255,0.75)
}
.prolific.input input {
  width: 100%;
  font-family: inherit;
  margin: 0;
  padding: .85em 1.2em;
  font-size: 1rem;
  background-color: #FFF;
  border: 1px solid rgba(0,0,0,0.15);
  outline: none;
  color: rgba(0,0,0,0.7);
  border-radius: .3125em;
  -webkit-transition: background-color .3s ease-out, 0 .2s ease, border-color .2s ease;
  transition: background-color .3s ease-out, box-shadow .2s ease, border-color .2s ease;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box
}
.prolific.input.inverted input {
color: rgba(255,255,255,0.75)
}
/* == Placeholder == */
.prolific.input.inverted::-webkit-input-placeholder {
color: rgba(255,255,255,0.75)
}
.prolific.input.inverted::-moz-placeholder {
color: rgba(255,255,255,0.75)
}
.prolific.input::-webkit-input-placeholder {
color:#BBB
}
 .prolific.input::-moz-placeholder {
color:#BBB
}
/* == States == */
.prolific.input input:active,
.prolific.input.down input {
  border-color: rgba(0,0,0,0.3);
  background-color: #FAFAFA
}
/* == Loading == */
.prolific.loading.input > .icon {
  background: url(../images/loader-mini.gif) no-repeat 50% 50%
}
.prolific.loading.input > .icon:before,
.prolific.loading.input > .icon:after {
  display: none
}
/* == Focus == */
.prolific.input.focus input,
.prolific.input input:focus {
  border-color: rgba(0,0,0,0.2);
  color: rgba(0,0,0,0.85)
}
.prolific.input.focus input input::-webkit-input-placeholder, 
.prolific.input input:focus input::-webkit-input-placeholder {
  color:#AAA
}
.prolific.input.focus input input::-moz-placeholder, 
.prolific.input input:focus input::-moz-placeholder {
  color:#AAA
}
.prolific.input.inverted.focus input,
.prolific.input.inverted input:focus {
  border-color: rgba(0,0,0,0.2);
color: rgba(255,255,255,0.5)
}
.prolific.input.inverted.focus input input::-webkit-input-placeholder, 
.prolific.input.inverted input:focus input::-webkit-input-placeholder {
color: rgba(255,255,255,0.5)
}
.prolific.input.inverted.focus input input::-moz-placeholder, 
.prolific.input.inverted input:focus input::-moz-placeholder {
color: rgba(255,255,255,0.5)
}
/* == Error == */
.prolific.input.error input {
  background-color: #FFFAFA;
  border-color: #E7BEBE;
  color: #D95C5C
}
 .prolific.input.error input ::-webkit-input-placeholder {
color:rgba(255,80,80,0.4)
}
 .prolific.input.error input ::-moz-placeholder {
color:rgba(255,80,80,0.4)
}
 .prolific.input.error input :focus::-webkit-input-placeholder {
color:rgba(255,80,80,0.7)
}
 .prolific.input.error input :focus::-moz-placeholder {
color:rgba(255,80,80,0.7)
}
.prolific.transparent.input input {
  border: none;
  background-color: transparent
}
/* == Icon == */
.prolific.icon.input > .icon {
  cursor: default;
  position: absolute;
  opacity: 0.5;
  top: 0;
  right: 0;
  margin: 0;
  width: 2.6em;
  height: 100%;
  padding-top:1em;
  text-align: center;
  border-radius: 0 .3125em .3125em 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out
}
.prolific.icon.input > .link.icon {
  cursor: pointer
}
.prolific.icon.input input {
  padding-right: 3em
}
.prolific.icon.input > .circular.icon {
  top: .35em;
  right: .5em
}
.prolific.left.icon.input > .icon {
  right: auto;
  left: 1px;
  border-radius: .3125em 0 0 .3125em
}
.prolific.left.icon.input > .circular.icon {
  right: auto;
  left: .5em
}
.prolific.left.icon.input > input {
  padding-left: 3em;
  padding-right: 1.2em
}
.prolific.icon.input > input:focus ~ .icon {
  opacity: 1
}
/* == Labeled == */
.prolific.labeled.input .corner.label {
  font-size: .7em;
  border-top-right-radius: .3125em
}
.prolific.labeled.input input {
  padding-right: 2.5em
}
.prolific.labeled.icon.input:not(.left) > input {
  padding-right: 3.25em
}
.prolific.labeled.icon.input:not(.left) > .icon {
  margin-right: 1.25em
}
/* == Action == */
.prolific.action.input {
  display: table
}
.prolific.action.input > input {
  display: table-cell;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none
}
.prolific.action.input > .button,
.prolific.action.input > .buttons {
  display: table-cell;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  white-space: nowrap;
  /*background-color: #C6C6BF;*/
}
.prolific.action.input > .button:hover,
.prolific.action.input > .buttons:hover {
 opacity:.75
}
.prolific.action.input > .button > .icon,
.prolific.action.input > .buttons > .button > .icon {
  display: inline;
  vertical-align: top
}
.prolific.fluid.action.input {
  display: table;
  width: 100%
}
.prolific.fluid.action.input > .button {
  width: .01%
}
/* == Fluid == */
.prolific.fluid.input {
  display: block
}
/* == Size == */
.prolific.small.form .icon.input > .icon{
  padding-top: .95em;
}
.prolific.mini.input {
font-size:.8125rem
}
.prolific.small.input {
font-size:.875rem
}
.prolific.input {
  font-size: 1rem
}
.prolific.large.input {
  font-size: 1.125rem
}
.prolific.big.input {
  font-size: 1.25rem
}
.prolific.huge.input {
  font-size: 1.375rem
}
.prolific.massive.input {
  font-size: 1.5rem
}