/* == Segment == */
.prolific.segment {
  position: relative;
  background-color: #fff;
  margin: 1em 0;
  padding: 1em;
  border-radius: .225em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 3px solid #E2E8EC
}
.prolific.segment:first-child {
  margin-top: 0
}
.prolific.segment:last-child {
  margin-bottom: 0
}
.prolific.segment:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
.prolific.segment > :first-child {
  margin-top: 0
}
.prolific.segment > :last-child {
  margin-bottom: 0
}
.prolific.segment > .content {
  padding: 1em
}
/* == Types == */
.prolific.piled.segment {
  margin: 2em 0;
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.15);
  -ms-box-shadow: 0 0 1px 1px rgba(0,0,0,0.15);
  -o-box-shadow: 0 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.15)
}
.prolific.piled.segment:first-child {
  margin-top: 0
}
.prolific.piled.segment:last-child {
  margin-bottom: 0
}
.prolific.piled.segment:after,
.prolific.piled.segment:before {
  background-color: #FFF;
  visibility: visible;
  content: "";
  display: block;
  height: 100%;
  left: -1px;
  position: absolute;
  width: 100%;
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.1)
}
.prolific.piled.segment:after {
  -webkit-transform: rotate(1.2deg);
  -ms-transform: rotate(1.2deg);
  transform: rotate(1.2deg);
  top: 0;
  z-index: -1
}
.prolific.piled.segment:before {
  -webkit-transform: rotate(-1.2deg);
  -ms-transform: rotate(-1.2deg);
  transform: rotate(-1.2deg);
  top: 0;
  z-index: -2
}
.prolific.stacked.segment {
  padding-bottom: 1.7em
}
.prolific.stacked.segment:after,
.prolific.stacked.segment:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.02);
  width: 100%;
  height: 5px;
  visibility: visible
}
.prolific.stacked.segment:before {
  bottom: 0
}
.prolific.stacked.inverted.segment:after,
.prolific.stacked.inverted.segment:before {
  background-color: rgba(255,255,255,0.1);
  border-top: 1px solid rgba(255,255,255,0.35)
}
.prolific.raised.segment {
  -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1)
}
/* == Variations == */
.prolific.basic.segment {
  position: relative;
  background-color: transparent;
  border: 1px solid #EDEDED;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
  border-radius: 0;
  padding: 0;
}
.prolific.basic.segment:first-child {
  padding-top: 0
}
.prolific.basic.segment:last-child {
  padding-bottom: 0
}
.prolific.fitted.segment {
  padding: 0;
  border: 0
}
.prolific.tabular.segment {
  background-color: #fff;
  padding:0;
  margin:0;
  margin-bottom:4px;
  border-radius: 0;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.075);
  display:table;
  width:100%
}
/*
.prolific.tabular.segment > section,
.prolific.tabular.segment > aside  {
  display:table-cell;
  padding:0
}
.prolific.tabular.segment > section  {
  width: auto;
}
*/
.prolific.secondary.segment {
  background-color: #fff;
}
.prolific.tertiary.segment {
  border: 1px solid rgba(0,0,0,.075);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  margin: 0;
  padding: 1.5em;
  border-radius: 0;
  position: relative;
  z-index: 1;
}

/* == Colors == */
.prolific.info.segment .header,
.prolific.positive.segment .header,
.prolific.danger.segment .header,
.prolific.negative.segment .header,
.prolific.warning.segment .header,
.prolific.purple.segment .header,
.prolific.teal.segment .header,
.prolific.info.segment .footer,
.prolific.positive.segment .footer,
.prolific.danger.segment .footer,
.prolific.negative.segment .footer,
.prolific.warning.segment .footer,
.prolific.purple.segment .footer,
.prolific.teal.segment .footer {
  background-color: #5795AF;
  color: #fff;
  border-radius: .225em .225em 0 0;
  padding: 1em;
}
.prolific.info.segment .footer,
.prolific.positive.segment .footer,
.prolific.danger.segment .footer,
.prolific.negative.segment .footer,
.prolific.warning.segment .footer,
.prolific.purple.segment .footer,
.prolific.teal.segment .footer {
  border-radius: 0 0 .225em .225em;
}
.prolific.info.segment .header a.link,
.prolific.positive.segment .header a.link,
.prolific.danger.segment .header a.link,
.prolific.negative.segment .header a.link,
.prolific.warning.segment .header a.link,
.prolific.purple.segment .header a.link,
.prolific.teal.segment .header a.link {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.prolific.info.segment .header a.link {
  color: #5795AF;
}
.prolific.positive.segment .header a.link {
  color: #3E7558;
}
.prolific.danger.segment .header a.link,
.prolific.negative.segment .header a.link {
  color: #ac7070;
}
.prolific.warning.segment .header a.link {
  color: #FEDD8C;
}
.prolific.purple.segment .header a.link {
  color: #87719f;
}
.prolific.teal.segment .header a.link {
  color: #61A299;
}
.prolific.positive.inverted.segment,
.prolific.danger.inverted.segment,
.prolific.negative.inverted.segment,
.prolific.warning.inverted.segment,
.prolific.purple.inverted.segment,
.prolific.teal.inverted.segment,
.prolific.info.inverted.segment,
.prolific.info.segment .header a.link:hover,
.prolific.positive.segment .header a.link:hover,
.prolific.danger.segment .header a.link:hover,
.prolific.negative.segment .header a.link:hover,
.prolific.warning.segment .header a.link:hover,
.prolific.purple.segment .header a.link:hover,
.prolific.teal.segment .header a.link:hover {
  color: #fff;
  text-shadow: none;
}
.prolific.positive.inverted.segment,
.prolific.positive.segment .header,
.prolific.positive.segment .footer {
  background-color: #61A270;
}
.prolific.danger.inverted.segment,
.prolific.danger.segment .header,
.prolific.danger.segment .footer,
.prolific.negative.inverted.segment,
.prolific.negative.segment .header,
.prolific.negative.segment .footer {
  background-color: #A26161
}
.prolific.warning.inverted.segment,
.prolific.warning.segment .header,
.prolific.warning.segment .footer {
  background-color: #EDAA10
}
.prolific.purple.inverted.segment,
.prolific.purple.segment .header,
.prolific.purple.segment .footer {
  background-color: #7A6591
}
.prolific.teal.inverted.segment,
.prolific.teal.segment .header,
.prolific.teal.segment .footer {
  background-color: #3CC9CA
}
.prolific.info.inverted.segment,
.prolific.info.segment .header,
.prolific.info.segment .footer {
  background-color: #5795AF
}
.prolific.info.segment:not(.fitted) {
  box-shadow: 0 -2px 0 0 #5795AF;
  border-top: 0
}
.prolific.positive.segment:not(.fitted) {
  box-shadow: 0 -2px 0 0 #B2D280;
  border-top: 0
}
.prolific.danger.segment:not(.fitted),
.prolific.negative.segment:not(.fitted) {
  box-shadow: 0 -2px 0 0 #A26161;
  border-top: 0
}
.prolific.warning.segment:not(.fitted) {
  box-shadow: 0 -2px 0 0 #EDAA10;
  border-top: 0
}
.prolific.purple.segment:not(.fitted) {
  box-shadow: 0 -2px 0 0 #7A6591;
  border-top: 0
}
.prolific.teal.segment:not(.fitted) {
  box-shadow: 0 -2px 0 0 #3CC9CA;
  border-top: 0
}
.prolific.positive.inverted.segment,
.prolific.danger.inverted.segment,
.prolific.negative.inverted.segment,
.prolific.warning.inverted.segment,
.prolific.purple.inverted.segment,
.prolific.teal.inverted.segment,
.prolific.info.inverted.segment {
  -webkit-box-shadow:none;
  box-shadow:none
}
/* == Aligned == */
.prolific.left.aligned.segment {
  text-align: left
}
.prolific.right.aligned.segment {
  text-align: right
}
.prolific.center.aligned.segment {
  text-align: center
}
.prolific.justified.segment {
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto
}
/* == Floated == */
.prolific.floated.segment,
.prolific.left.floated.segment {
  float: left
}
.prolific.right.floated.segment {
  float: right
}
/* == Attached == */
.prolific.segment.attached {
  top: -1px;
  bottom: -1px;
  border-radius: 0;
  margin: 0;
  -webkit-box-shadow: 0 0 0 1px #DDD;
  box-shadow: 0 0 0 1px #DDD
}
.prolific.top.attached.segment {
  top: 0;
  bottom: -1px;
  margin-top: 1em;
  margin-bottom: 0;
  border-radius: 5px 5px 0 0
}
.prolific.segment.top.attached:first-child {
  margin-top: 0
}
.prolific.segment.bottom.attached {
  top: -1px;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 1em;
  border-radius: 0 0 5px 5px
}
.prolific.segment.bottom.attached:last-child {
  margin-bottom: 0
}
/* == Loading == */
.prolific.segment.loading {
  position: relative
}
.prolific.segment.loading:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8) url(../images/loader-large.gif) no-repeat 50% 50%;
  visibility: visible;
  z-index: 5000;
}