/* == Popup == */
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 60001;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #272727;
  color: #FFFFFF;
  border-radius: 0.2em;
  font-size:.9rem;
  -webkit-box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  -webkit-bg-clip: padding-box;
  -moz-bg-clip: padding;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  padding: .5em 1em;
  margin: 0;
  font-size:1rem;
  font-weight: normal;
  line-height:1;
  background-color: #272727;
  color: #FFFFFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: .5em 1em;
}
.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover .arrow {
  border-width: 11px;
}
.popover .arrow:after {
  border-width: 10px;
  content: "";
}
.popover.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}
.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #272727;
  border-bottom-width: 0;
  content: " ";
}
.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}
.popover.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #272727;
  border-left-width: 0;
  content: " ";
}
.popover.bottom .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}
.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #272727;
  border-top-width: 0;
  content: " ";
}
.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}
.popover.left .arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #272727;
  border-right-width: 0;
  content: " ";
}