/* == Progress == */
.prolific.progress {
  width: 100%;
  height: 26px;
  background-color: #F2F2F2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box
}
.prolific.thin.progress {
  height: 6px;
  border-radius: 0;
  padding: 0;
  margin-bottom: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.prolific.progress .bar,
.prolific.thin.progress .bar {
  display: inline-block;
  height: 100%;
  line-height: 24px;
  font-size: .85em;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: width 1s ease-in-out, background-color 1s ease-out;
  transition: width 1s ease-in-out, background-color 1s ease-out;
}
.prolific.thin.progress .bar {
  line-height: 20px;
  height: 5px;
  text-align: center;
  border-radius: 0;
  font-size: 1em;
  float: left;
}
.prolific.successful.progress .bar {
  background-color: #61A270;
}
.prolific.successful.progress .bar,
.prolific.successful.progress .bar::after {
  -webkit-animation: none;
  animation: none
}
.prolific.negative.progress .bar {
  background-color: #A26161
}
.prolific.negative.progress .bar,
.prolific.negative.progress .bar::after {
  -webkit-animation: none;
  animation: none
}
.prolific.active.progress .bar {
  position: relative
}
.prolific.active.progress .bar::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 3px;
  -webkit-animation: progress-active 2s ease-out infinite;
  animation: progress-active 2s ease-out infinite
}
@-webkit-keyframes progress-active {
0 {
opacity:0;
width:0
}
50% {
opacity:.3
}
100% {
opacity:0;
width:95%
}
}
@keyframes progress-active {
0 {
opacity:0;
width:0
}
50% {
opacity:.3
}
100% {
opacity:0;
width:100%
}
}
.prolific.disabled.progress {
  opacity: .35
}
.prolific.disabled.progress .bar,
.prolific.disabled.progress .bar::after {
  -webkit-animation: none;
  animation: none
}
.prolific.progress.attached {
  position: relative;
  border: 0
}
.prolific.progress.attached,
.prolific.progress.attached .bar {
  display: block;
  height: 3px;
  padding: 0;
  overflow: hidden;
  border-radius: 0 0 .3125em .3125em
}
.prolific.progress.attached .bar {
  border-radius: 0
}
.prolific.progress.top.attached,
.prolific.progress.top.attached .bar {
  top: -2px;
  border-radius: .3125em .3125em 0 0
}
.prolific.progress.top.attached .bar {
  border-radius: 0
}
.prolific.info.progress .bar {
  background-color: #5795AF
}
.prolific.black.progress .bar {
  background-color: #5C6166
}
.prolific.success.progress .bar {
  background-color: #61A270
}
.prolific.danger.progress .bar {
  background-color: #A26161
}
.prolific.purple.progress .bar {
  background-color: #7A6591
}
.prolific.warning.progress .bar {
  background-color: #EDAA10
}
.prolific.teal.progress .bar {
  background-color: #61A299
}
.prolific.progress.striped .bar {
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
.prolific.progress.active.striped .bar:after {
  -webkit-animation: none;
  -ms-animation: none;
  animation: none
}
.prolific.progress.active.striped .bar {
  -webkit-animation: progress-striped 3s linear infinite;
  animation: progress-striped 3s linear infinite
}
@-webkit-keyframes progress-striped {
0 {
background-position:0 0
}
100% {
background-position:60px 0
}
}
@keyframes progress-striped {
0 {
background-position:0 0
}
100% {
background-position:60px 0
}
}
.prolific.small.progress .bar {
  height: 14px
}