/* == Calendar == */
#cal-wrap-small {
  position: relative;
  overflow: hidden;
  background-color: #5E6265;
}
#cal-wrap-small .small-calendar thead tr td {
  text-align: center;
  font-weight: 600;
  vertical-align: top;
  padding: 5px 0;
  color: #fff;
}
#cal-wrap-small .small-calendar thead tr td a {
  text-decoration: none;
  display: block
}
#cal-wrap-small .small-calendar thead tr td a.prev,
#cal-wrap-small .small-calendar thead tr td a.next {
  font-family: Icons;
  height: 2em;
  width: 2em;
  font-size: 1.5em;
  line-height: 2em;
  margin: 0;
  color: #fff;
  opacity: .75;
  text-align: center;
  vertical-align: middle;
}
#cal-wrap-small .small-calendar thead tr td a.prev:hover,
#cal-wrap-small .small-calendar thead tr td a.next:hover {
  opacity: 1;
}
#cal-wrap-small .small-calendar thead tr td a.prev:after {
  content: "\f060"
}
#cal-wrap-small .small-calendar thead tr td a.next:after {
  content: "\f061"
}
#cal-wrap-small .small-calendar thead tr td span {
  display: block
}
#cal-wrap-small .small-calendar thead tr td span.month {
  font-size: 1.5em;
  font-weight: 400;
}
#cal-wrap-small .small-calendar thead th {
  width: 14%;
  font-size: .9em;
  font-family:'Raleway';
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255,255,255,0.25);
  border-top: 1px solid rgba(255,255,255,0.25);
  padding: .25em 0;
  font-weight: 400;
  color: #fff
}
#cal-wrap-small .small-calendar tbody tr td {
  text-align: center;
  font-weight: 700;
  font-family:'Raleway';
  padding: .5em 0;
  color: #fff;
}
#cal-wrap-small .small-calendar tbody tr td.today span {
  color: #fff;
  display: block;
  line-height: 2;
  width: 2em;
  height: 2em;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.25);
  text-shadow: none
}
#cal-wrap-small .small-calendar tr td.events a {
  color: #fff;
  display: block;
  line-height: 2em;
  width: 2em;
  height: 2em;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #9AD03E;
}
#cal-wrap-small .small-calendar tr td.events a:hover {
  background-color: #fff;
  color: #E14D43;
}
#cal-wrap-small .small-calendar {
  width: 100%
}
#event-wrap {
  max-width: 600px
}