* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block
}
audio,
canvas,
video {
  display: inline-block
}
video {
  width: 100%;
  height: auto
}
.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
audio:not([controls]) {
  display: none !important;
  height: 0
}
[hidden] {
display:none
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}
body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  height: 100%
}
a:focus {
  outline: thin dotted
}
a:active,
a:hover {
  outline: 0
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0
}
abbr[title] {
  border-bottom: 1px dotted
}
b,
strong {
  font-weight: bold
}
dfn {
  font-style: italic
}
mark {
  background: #ff0;
  color: #000
}
code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word
}
code {
  display: block;
  padding: 9.5px;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border-left: 5px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border-left: 5px solid #ccc;
  border-radius: 4px
}
blockquote {
  background:#F9F9F9;
  border-radius: 4px;
  padding: 20px 40px;
  position: relative;
}
blockquote p {
    font-family: "georgia","times new roman","times",serif;
    font-size: 16px;
    font-style: italic;
    line-height: 170%;
}
blockquote p:first-child:before {
    color: #CCCCCC;
    content: "";
    font-family: Icons;
    font-size: 22px;
    left: 8px;
    position: absolute;
    top: 6px;
}
blockquote p:last-child:after {
    bottom: 2px;
    color: #CCCCCC;
    content: "";
    font-family: Icons;
    font-size: 22px;
    position: absolute;
    right: 10px;
}
blockquote p:last-child {
    padding: 0;
}
blockquote.pullquote.alignright {
    margin-left: 20px;
    display: inline;
    float: right;
}
blockquote.pullquote {
    width: 40%;
}

small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sup {
  top: -0.5em
}
sub {
  bottom: -0.25em
}
cite {
  font-style: normal
}
img {
  border: 0 none;
  vertical-align: top;
  width: auto;
  max-width: 100%;
  max-height: auto;
}
svg:not(:root) {
  overflow: hidden
}
figure {
  margin: 0;
  line-height: 0;
  position: relative
}
fieldset {
  border: 1px solid silver;
  margin: 0;
  padding: .35em .625em .75em
}
legend {
  border: 0;
  padding: 0
}
.not-allowed {
  cursor: not-allowed
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
.font-normal {
  text-transform: none
}
.content-left {
  text-align: left
}
.content-center {
  text-align: center
}
.content-right {
  text-align: right
}
.show-all {
  display: inherit
}
.hide-all {
  display: none
}
.relative {
  position: relative
}
.prolific-grid {
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0
}
.columns {
  clear: both;
}
.columns:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
.columns.gutters {
  margin-left: -2em
}
.columns.small-gutters {
  margin-left: -1em
}
.columns.mini-gutters {
  margin-left: -0.5em
}
.columns.horizontal-gutters {
  margin-left: -2em
}
.columns.small-horizontal-gutters {
  margin-left: -1em
}
.columns.mini-horizontal-gutters {
  margin-left: -0.5em
}
.screen-95 {
  width: 95%;
  float: left
}
.screen-90 {
  width: 90%;
  float: left
}
.screen-85 {
  width: 85%;
  float: left
}
.screen-80 {
  width: 80%;
  float: left
}
.screen-75 {
  width: 75%;
  float: left
}
.screen-70 {
  width: 70%;
  float: left
}
.screen-65 {
  width: 65%;
  float: left
}
.screen-60 {
  width: 60%;
  float: left
}
.screen-55 {
  width: 55%;
  float: left
}
.screen-50 {
  width: 50%;
  float: left
}
.screen-45 {
  width: 45%;
  float: left
}
.screen-40 {
  width: 40%;
  float: left
}
.screen-35 {
  width: 35%;
  float: left
}
.screen-30 {
  width: 30%;
  float: left
}
.screen-25 {
  width: 25%;
  float: left
}
.screen-20 {
  width: 20%;
  float: left
}
.screen-15 {
  width: 15%;
  float: left
}
.screen-10 {
  width: 10%;
  float: left
}
.screen-5 {
  width: 5%;
  float: left
}
.screen-33 {
  width: 33.33%;
  float: left
}
.screen-66 {
  width: 66.66%;
  float: left
}
.screen-100 {
  width: 100%;
  clear: both;
  float: none
}
[class*="screen-"], [class*="row"] {
margin-top:0;
}
.two.columns > .row {
  width: 50%;
  float: left
}
.three.columns > .row {
  width: 33.33%;
  float: left
}
.four.columns > .row {
  width: 25%;
  float: left
}
.five.columns > .row {
  width: 20%;
  float: left
}
.six.columns > .row {
  width: 16.66%;
  float: left
}
.seven.columns > .row {
  width: 14.28%;
  float: left
}
.eight.columns > .row {
  width: 12.50%;
  float: left
}
.nine.columns > .row {
  width: 11.11%;
  float: left
}
.ten.columns > .row {
  width: 10%;
  float: left
}
body.animated *[class*="screen-"] body.animated *[class*="row"] {
  -webkit-transition-property: width, font-size, line-height;
  -moz-transition-property: width, font-size, line-height;
  -o-transition-property: width, font-size, line-height;
  -ms-transition-property: width, font-size, line-height;
  transition-property: width, font-size, line-height;
  -webkit-transition-duration: 125ms;
  -moz-transition-duration: 125ms;
  -o-transition-duration: 125ms;
  -ms-transition-duration: 125ms;
  transition-duration: 125ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -ms-transition-delay: 0;
  transition-delay: 0
}
.prolific-grid .columns.gutters>[class*="screen-"], .prolific-grid .columns.gutters>[class*="row"] {
padding-left:2em;
margin-bottom:2em
}
.prolific-grid .columns.small-gutters>[class*="screen-"], .prolific-grid .columns.small-gutters>[class*="row"] {
padding-left:1em;
margin-bottom:1em
}
.prolific-grid .columns.mini-gutters>[class*="screen-"], .prolific-grid .columns.mini-gutters>[class*="row"] {
padding-left:.5em;
margin-bottom:.5em
}
.prolific-grid .columns.horizontal-gutters>[class*="screen-"], .prolific-grid .columns.horizontal-gutters>[class*="row"] {
padding-left:2em
}
.prolific-grid .columns.small-horizontal-gutters>[class*="screen-"], .prolific-grid .columns.small-horizontal-gutters>[class*="row"] {
padding-left:1em
}
.prolific-grid .columns.mini-horizontal-gutters>[class*="screen-"], .prolific-grid .columns.mini-horizontal-gutters>[class*="row"] {
padding-left:.5em
}
.prolific-grid .columns.vertical-gutters>[class*="screen-"], .prolific-grid .columns.vertical-gutters>[class*="row"] {
margin-bottom:2em
}
.prolific-grid .columns.small-vertical-gutters>[class*="screen-"], .prolific-grid .columns.small-vertical-gutters>[class*="row"] {
margin-bottom:1em
}
.prolific-grid .columns.mini-vertical-gutters>[class*="screen-"], .prolific-grid .columns.mini-vertical-gutters>[class*="row"] {
margin-bottom:.5em
}
[class*="screen-"]:empty:after,
[class*="row"]:empty:after {
  content: "\00a0"
}
*[class*="screen-"]>*[class*="screen-"] {
  margin-left: 0
}
.screen-push-left {
  float: left
}
.screen-push-center {
  float: none;
  margin-left: auto;
  margin-right: auto
}
.screen-push-right {
  float: right
}
.screen-align-left {
  text-align: left
}
.screen-align-center {
  text-align: center
}
.screen-align-right {
  text-align: right
}
.space {
  margin: 2em
}
.small-space {
  margin: 1em
}
.small-space-pad {
  padding: 1em
}
.mini-space {
  margin: .5em
}
.vspace {
  margin-top: 2em;
  margin-bottom: 2em
}
.hspace {
  margin-left: 2em;
  margin-right: 2em
}
.vertical-space {
  margin-top: 2em;
  margin-bottom: 2em
}
.small-vertical-space {
  margin-top: 1em;
  margin-bottom: 1em
}
.mini-vertical-space {
  margin-top: .5em;
  margin-bottom: .5em
}
.horizontal-space {
  margin-left: 2em;
  margin-right: 2em
}
.small-horizontal-space {
  margin-left: 1em;
  margin-right: 1em
}
.mini-horizontal-space {
  margin-left: .5em;
  margin-right: .5em
}
.top-space {
  margin-top: 2em
}
.no-top-space {
  margin-top: 0
}
.small-top-space {
  margin-top: 1em
}
.mini-top-space {
  margin-top: .5em
}
.right-space {
  margin-right: 2em
}
.small-right-space {
  margin-right: 1em
}
.mini-right-space {
  margin-right: .5em
}
.bottom-space {
  margin-bottom: 2em
}
.no-bottom-space {
  margin-bottom: 0
}
.small-bottom-space {
  margin-bottom: 1em
}
.mini-bottom-space {
  margin-bottom: .5em
}
.left-space {
  margin-left: 2em
}
.small-left-space {
  margin-left: 1em
}
.mini-left-space {
  margin-left: .5em
}
@media screen and (min-width:960px) {
.hide-screen {
  display: none
}
.show-screen {
  display: inherit
}
}
@media screen and (min-width:650px) and (max-width:1024px) {
.prolific-grid {
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0
}
.columns {
  clear: both;
  zoom: 1
}
.columns:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
.columns.gutters {
  margin-left: -1.5em
}
.columns.small-gutters {
  margin-left: -0.75em
}
.columns.mini-gutters {
  margin-left: -0.375em
}
.columns.horizontal-gutters {
  margin-left: -1.5em
}
.columns.small-horizontal-gutters {
  margin-left: -0.75em
}
.columns.mini-horizontal-gutters {
  margin-left: -0.375em
}
.tablet-95 {
  width: 95%;
  float: left
}
.tablet-90 {
  width: 90%;
  float: left
}
.tablet-85 {
  width: 85%;
  float: left
}
.tablet-80 {
  width: 80%;
  float: left
}
.tablet-75 {
  width: 75%;
  float: left
}
.tablet-70 {
  width: 70%;
  float: left
}
.tablet-65 {
  width: 65%;
  float: left
}
.tablet-60 {
  width: 60%;
  float: left
}
.tablet-55 {
  width: 55%;
  float: left
}
.tablet-50 {
  width: 50%;
  float: left
}
.tablet-45 {
  width: 45%;
  float: left
}
.tablet-40 {
  width: 40%;
  float: left
}
.tablet-35 {
  width: 35%;
  float: left
}
.tablet-30 {
  width: 30%;
  float: left
}
.tablet-25 {
  width: 25%;
  float: left
}
.tablet-20 {
  width: 20%;
  float: left
}
.tablet-15 {
  width: 15%;
  float: left
}
.tablet-10 {
  width: 10%;
  float: left
}
.tablet-5 {
  width: 5%;
  float: left
}
.tablet-33 {
  width: 33.33%;
  float: left
}
.tablet-66 {
  width: 66.66%;
  float: left
}
.tablet-100 {
  width: 100%;
  clear: both;
  float: none
}
.two.columns > .row {
  width: 100%;
}
.three.columns > .row,
.four.columns > .row {
  width: 50%;
}
.five.columns > .row,
.six.columns > .row,
.seven.columns > .row {
  width: 33%;
}
.eight.columns > .row,
.nine.columns > .row,
.ten.columns > .row {
  width: 25%;
}

 [class*="tablet-"], [class*="row"] {
margin-top:0;
}
body.animated *[class*="tablet-"],
body.animated *[class*="row"] {
  -webkit-transition-property: width, font-size, line-height;
  -moz-transition-property: width, font-size, line-height;
  -o-transition-property: width, font-size, line-height;
  -ms-transition-property: width, font-size, line-height;
  transition-property: width, font-size, line-height;
  -webkit-transition-duration: 125ms;
  -moz-transition-duration: 125ms;
  -o-transition-duration: 125ms;
  -ms-transition-duration: 125ms;
  transition-duration: 125ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -ms-transition-delay: 0;
  transition-delay: 0
}
.prolific-grid .columns.gutters>[class*="tablet-"], .prolific-grid .columns.gutters>[class*="row"] {
padding-left:1.5em;
margin-bottom:1.5em
}
.prolific-grid .columns.small-gutters>[class*="tablet-"], .prolific-grid .columns.small-gutters>[class*="row"] {
padding-left:.75em;
margin-bottom:.75em
}
.prolific-grid .columns.mini-gutters>[class*="tablet-"], .prolific-grid .columns.mini-gutters>[class*="row"] {
padding-left:.375em;
margin-bottom:.375em
}
.prolific-grid .columns.horizontal-gutters>[class*="tablet-"], .prolific-grid .columns.horizontal-gutters>[class*="row"] {
padding-left:1.5em
}
.prolific-grid .columns.small-horizontal-gutters>[class*="tablet-"], .prolific-grid .columns.small-horizontal-gutters>[class*="row"] {
padding-left:.75em
}
.prolific-grid .columns.mini-horizontal-gutters>[class*="tablet-"], .prolific-grid .columns.mini-horizontal-gutters>[class*="row"] {
padding-left:.375em
}
.prolific-grid .columns.vertical-gutters>[class*="tablet-"], .prolific-grid .columns.vertical-gutters>[class*="row"] {
margin-bottom:1.5em
}
.prolific-grid .columns.small-vertical-gutters>[class*="tablet-"], .prolific-grid .columns.small-vertical-gutters>[class*="row"] {
margin-bottom:.75em
}
.prolific-grid .columns.mini-vertical-gutters>[class*="tablet-"], .prolific-grid .columns.mini-vertical-gutters>[class*="row"] {
margin-bottom:.375em
}
[class*="tablet-"]:empty:after,
[class*="row"]:empty:after {
  content: "\00a0"
}
*[class*="tablet-"]>*[class*="tablet-"] {
  margin-left: 0
}
.tablet-push-left {
  float: left
}
.tablet-push-center {
  float: none;
  margin-left: auto;
  margin-right: auto
}
.tablet-push-none {
  float: none
}
.tablet-push-right {
  float: right
}
.tablet-align-left {
  text-align: left
}
.tablet-align-center {
  text-align: center
}
.tablet-align-right {
  text-align: right
}
.hide-tablet {
  display: none
}
.show-tablet {
  display: inherit
}
}
@media screen and (max-width:769px) {
.prolific-grid {
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0
}
.columns {
  clear: both;
  zoom: 1
}
.columns:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
.columns.gutters {
  margin-left: -1em
}
.columns.small-gutters {
  margin-left: -0.5em
}
.columns.mini-gutters {
  margin-left: -0.25em
}
.columns.horizontal-gutters {
  margin-left: -1em
}
.columns.small-horizontal-gutters {
  margin-left: -0.5em
}
.columns.mini-horizontal-gutters {
  margin-left: -0.25em
}
.phone-95 {
  width: 95%;
  float: left
}
.phone-90 {
  width: 90%;
  float: left
}
.phone-85 {
  width: 85%;
  float: left
}
.phone-80 {
  width: 80%;
  float: left
}
.phone-75 {
  width: 75%;
  float: left
}
.phone-70 {
  width: 70%;
  float: left
}
.phone-65 {
  width: 65%;
  float: left
}
.phone-60 {
  width: 60%;
  float: left
}
.phone-55 {
  width: 55%;
  float: left
}
.phone-50 {
  width: 50%;
  float: left
}
.phone-45 {
  width: 45%;
  float: left
}
.phone-40 {
  width: 40%;
  float: left
}
.phone-35 {
  width: 35%;
  float: left
}
.phone-30 {
  width: 30%;
  float: left
}
.phone-25 {
  width: 25%;
  float: left
}
.phone-20 {
  width: 20%;
  float: left
}
.phone-15 {
  width: 15%;
  float: left
}
.phone-10 {
  width: 10%;
  float: left
}
.phone-5 {
  width: 5%;
  float: left
}
.phone-33 {
  width: 33.33%;
  float: left
}
.phone-66 {
  width: 66.66%;
  float: left
}
.phone-100 {
  width: 100%;
  clear: both;
  float: none
}
 [class*="phone-"], [class*="phone"] {
margin-top:0;
}
.two.columns > .row,
.three.columns > .row,
.four.columns > .row {
  width: 100%;
}
.five.columns > .row,
.six.columns > .row,
.seven.columns > .row {
  width: 50%;
}
.eight.columns > .row,
.nine.columns > .row,
.ten.columns > .row {
  width: 33%;
}
body.animated *[class*="phone-"],
body.animated *[class*="row"] {
  -webkit-transition-property: width, font-size, line-height;
  -moz-transition-property: width, font-size, line-height;
  -o-transition-property: width, font-size, line-height;
  -ms-transition-property: width, font-size, line-height;
  transition-property: width, font-size, line-height;
  -webkit-transition-duration: 125ms;
  -moz-transition-duration: 125ms;
  -o-transition-duration: 125ms;
  -ms-transition-duration: 125ms;
  transition-duration: 125ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -ms-transition-delay: 0;
  transition-delay: 0
}
.prolific-grid .columns.gutters>[class*="phone-"], .prolific-grid .columns.gutters>[class*="row"] {
padding-left:1em;
margin-bottom:1em
}
.prolific-grid .columns.small-gutters>[class*="phone-"], .prolific-grid .columns.small-gutters>[class*="row"] {
padding-left:.5em;
margin-bottom:.5em
}
.prolific-grid .columns.mini-gutters>[class*="phone-"], .prolific-grid .columns.mini-gutters>[class*="row"] {
padding-left:.25em;
margin-bottom:.25em
}
.prolific-grid .columns.horizontal-gutters>[class*="phone-"], .prolific-grid .columns.horizontal-gutters>[class*="row"] {
padding-left:1em
}
.prolific-grid .columns.small-horizontal-gutters>[class*="phone-"], .prolific-grid .columns.small-horizontal-gutters>[class*="row"] {
padding-left:.5em
}
.prolific-grid .columns.mini-horizontal-gutters>[class*="phone-"], .prolific-grid .columns.mini-horizontal-gutters>[class*="row"] {
padding-left:.25em
}
.prolific-grid .columns.vertical-gutters>[class*="phone-"], .prolific-grid .columns.vertical-gutters>[class*="row"] {
margin-bottom:1em
}
.prolific-grid .columns.small-vertical-gutters>[class*="phone-"], .prolific-grid .columns.small-vertical-gutters>[class*="row"] {
margin-bottom:.5em
}
.prolific-grid .columns.mini-vertical-gutters>[class*="phone-"], .prolific-grid .columns.mini-vertical-gutters>[class*="row"] {
margin-bottom:.25em
}
[class*="phone-"]:empty:after,
[class*="row"]:empty:after {
  content: "\00a0"
}
*[class*="phone-"]>*[class*="phone-"] {
  margin-left: 0
}
.phone-push-left {
  float: left
}
.phone-push-center {
  float: none;
  margin-left: auto;
  margin-right: auto
}
.phone-push-none {
  float: none
}
.phone-push-right {
  float: right
}
.phone-align-left {
  text-align: left
}
.phone-align-center {
  text-align: center
}
.phone-align-right {
  text-align: right
}
.hide-phone {
  display: none
}
.show-phone {
  display: inherit
}
}
body {
  color: #555;
  font-family: Ubuntu, Arial, sans-serif
}
.sans {
  font-family: Ubuntu, Arial, sans-serif
}
.serif {
  font-family: Times, "Times New Roman", serif
}
a {
  color: #0069d6;
  text-decoration: none
}
a:hover {
  color: #007ed5;
  text-decoration: underline
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit
}
h1 {
  font-size: 2.5em
}
h2 {
  font-size: 2em
}
h3 {
  font-size: 1.715em
}
h4 {
  font-size: 1.438em
}
h5 {
  font-size: 1.250em
}
h6 {
  font-size: 1em
}
h3,
h4,
h5,
h6 {
  line-height: 1.3
}
h1 small {
  font-size: .6em;
  color: #bfbfbf;
  font-weight: 100
}
small {
  color: inherit;
  font-size: .75em
}
p {
  line-height: 1.5
}
.push-left {
  float: left
}
.push-right {
  float: right
}
.push-center {
  float: none;
  margin-left: auto;
  margin-right: auto
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1
}
.clear {
  display: block;
  overflow: hidden
}
.no-margin {
  margin: 0
}