/* == Breadcrumb == */
.prolific.breadcrumb {
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  margin: .25em 0 0;
}
.prolific.breadcrumb:first-child {
  margin-top: 0;
  white-space: nowrap;
}
.prolific.breadcrumb:last-child {
  margin-bottom: 0;
}
/* == Content == */
.prolific.breadcrumb .divider {
  display: inline-block;
  opacity: .75;
  margin: 0 .4em;
  font-size: 1em;
}
.prolific.breadcrumb .divider:before {
 content: "\f101";
 font-family:Icons;
 font-size:.857em
}
.prolific.breadcrumb a.section {
  cursor: pointer;
  color:rgba(0, 0, 0, 0.5);
}
.prolific.breadcrumb .section {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.prolific.breadcrumb.segment {
  display: inline-block;
  padding: .5em 1em;
}
.prolific.breadcrumb .active.section {
  font-weight: 400;
  color:rgba(0, 0, 0, 0.3);
}
/* == Variations == */
.prolific.small.breadcrumb {
  font-size: .75em;
}
.prolific.large.breadcrumb {
  font-size: 1.1em;
}
.prolific.huge.breadcrumb {
  font-size: 1.3em;
}
