html,

body {

  font-size: 14px;

}

body {

  font-family: "Raleway", sans-serif;

  margin: 0px;

  padding: 0px;

  color: #514f4f;

  text-rendering: optimizeLegibility;

  font-weight: 400;

  background-color: #FFFFFF;

  overflow-x: hidden;

}

a,

a.inverted,

a.white {

  cursor: pointer;

  color: #2679BB;

  text-decoration: none;

  -webkit-transition: all .35s ease;

  -moz-transition: all .35s ease;

  -o-transition: all .35s ease;

  transition: all .35s ease;

  outline: none

}

a.inverted {

  color: #999;

}

a.white {

  color: #fff;

}

a:hover,

a.hover,

a:focus {

  color: #9AD03E;

  -webkit-transition: all .55s ease;

  -moz-transition: all .55s ease;

  -o-transition: all .35s ease;

  transition: all .55s ease;

  outline: none;

  text-decoration: none

}

a.inverted:hover,

a.inverted:focus {

  color: #E14D43;

}

a.white:hover,

a.white:focus {

  color: #E14D43;

}

hr {

  margin-top: 2em;

  margin-bottom: 2em;

  border: 0;

  height: 3px;

  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));

  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));

  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));

  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));

}

h1,

h2,

h2.h3.h4,

h3,

h5,

h6 {

  font-family: 'Raleway';

  color: #225AB4;

  margin-bottom: 1rem;

}

p {

  margin-bottom: 1em;

}

p:last-child {

  margin-bottom: 0;

}

.prolific-content {

  padding: 0em 1em 1em 1em;

}

.prolific-content-full {

  padding: 2em 1em

}

.prolific-content-half {

  padding: .5em 1em;

}

header {

  position: relative;

  background-color: #FFF;

}

header .top-bar {

  background: #04091F;
  color: #FFFFFF;

}

header .top-bar .doSearch {

  float: right;

  min-width: 300px

}

header .middle-bar {

  background-color: #04091F;

  color: #999999;

  box-shadow: inset 0 -1px 0 0 #000000;



}

header .logo{

  margin-top:0em;

}



.subheader {

  background-image: url(../images/crumbs_bg.jpg);

  background-repeat: no-repeat;

  background-position: 50% 0;

  background-size: cover;

}



.subheader h1 {

  color: #fff;

  margin: 0;

  font-weight:100

}

.subheader h1 small {

  display:block;

  font-weight: 300;

  color: #fff;

  margin-top:.5em;

}

.subheader .prolific.breadcrumb {

  position: absolute;

  bottom: 0;

  right:1em;

  background-color: #E74C3C; 

  color:#fff;

   padding: .5em 1.2em;

  text-transform: capitalize;

  width: auto;

}

.subheader .prolific.breadcrumb a.section {

  color:#fff;

}

.subheader .prolific.breadcrumb a:hover {

  text-decoration: underline;

}

.subheader .prolific.breadcrumb .section {

  font-size:.786em;

  color:#fff;

}

.subheader .prolific.inverted.input{

  width:300px;

}

#suggestions {

  position: absolute;

  width:300px;

  top: 5em;

  z-index: 100

}

#search-results {

  background-color: #FFF;

  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.08);

}

#search-results {

  background-color: #FFF;

}

#search-results .item {

  display: block

}

#page {

  background-color: #FFF;

}

#pagination{

  margin-top:1em;

}

/* == Menu Navigation == */

.sm,

.sm ul,

.sm li {

  display: block;

  list-style: none;

  padding: 0;

  margin: 0;

  line-height: normal;

  direction: ltr;

}

ul.sm li {

  position: relative;

}

ul.sm a {

  position: relative;

  display: block;

}

ul.sm a.disabled {

  cursor: default;

}

ul.sm ul {

  position: absolute;

  top: -999999px;

  left: -800px;

  width: 100px;

}

ul.sm li {

  float: left;

}

ul.sm-rtl {

  direction: rtl;

}

ul.sm-rtl li {

  float: right;

}

ul.sm ul li,

ul.sm-vertical li {

  float: none;

}

ul.sm a {

  white-space: nowrap;

}

ul.sm ul a,

ul.sm-vertical a {

  white-space: normal;

}

* html ul.sm-vertical li {

  float: left;

  width: 100%;

}

* html ul.sm-vertical ul li {

  float: none;

  width: auto;

}

*:first-child+html ul.sm-vertical>li {

  float: left;

  width: 100%;

}

ul.sm ul.sm-nowrap>li>a {

  white-space: nowrap;

}

ul.sm:after {

  content: "\00a0";

  display: block;

  height: 0;

  font: 0/0 serif;

  clear: both;

  visibility: hidden;

  overflow: hidden;

}

* html ul.sm {

  height: 1px;

}

*:first-child+html ul.sm {

  min-height: 1px;

}

ul.sm li *,

ul.sm li *:before,

ul.sm li *:after {

  -moz-box-sizing: content-box;

  -webkit-box-sizing: content-box;

  box-sizing: content-box;

}

 ul.sm {

  -webkit-tap-highlight-color: rgba(0,0,0,0);

}
.list ul{
	margin: 0px;
    padding: 0px;
    float: left;
}
.list li {
    margin: 0px !important;
    /* padding-left: 19px; */
    background: url(uploads/images/tick.png) no-repeat left;
    background-position: 5px 0px;
    /* float: left; */
    padding-left: 30px !important;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    padding-top: 7px;
    width: 100%;
    list-style: none !important;
}



/* Menu box

===================*/

.top-menu {

  position: relative;

}

.topmenu,

 .topmenu ul {

  background: #04091F;

}

.topmenu li > a {

  display: block;

  text-decoration: none;

  padding: .85em 1.6em;

  text-align: center;

  font-weight: 300;

  color: #999999;

}

.topmenu li a > i {

  display: block;

  font-size: 2em;

}

.topmenu li > a strong {

  display: block;

  text-transform: uppercase;

  font-weight: 500;

  font-size: .95em;

}

.topmenu li > a small {

  display: block;

 font-size:.85em;

}

.topmenu li > a i,

.topmenu li > a strong,

.topmenu li > a small {

  position: relative;

  transition: all 300ms linear;

  -o-transition: all 300ms linear;

  -ms-transition: all 300ms linear;

  -moz-transition: all 300ms linear;

  -webkit-transition: all 300ms linear;

}

.topmenu li:hover > a i {

  opacity: 1;

  -webkit-animation: moveFromTop 300ms ease-in-out;

  -moz-animation: moveFromTop 300ms ease-in-out;

  -ms-animation: moveFromTop 300ms ease-in-out;

  -o-animation: moveFromTop 300ms ease-in-out;

  animation: moveFromTop 300ms ease-in-out;

}

.topmenu li:hover a strong {

  opacity: 1;

  -webkit-animation: moveFromLeft 300ms ease-in-out;

  -moz-animation: moveFromLeft 300ms ease-in-out;

  -ms-animation: moveFromLeft 300ms ease-in-out;

  -o-animation: moveFromLeft 300ms ease-in-out;

  animation: moveFromLeft 300ms ease-in-out;

}

.topmenu li:hover a small {

  opacity: 1;

  -webkit-animation: moveFromRight 300ms ease-in-out;

  -moz-animation: moveFromRight 300ms ease-in-out;

  -ms-animation: moveFromRight 300ms ease-in-out;

  -o-animation: moveFromRight 300ms ease-in-out;

  animation: moveFromRight 300ms ease-in-out;

}

.topmenu a >small {

  display: block

}

.topmenu a:hover,

.topmenu a:focus,

.topmenu a:active,

.topmenu a.highlighted {

  color: #2679BB;

}

.topmenu li > a.active {

  background: #2679BB;

  color: #fff;

}

.topmenu a.has-submenu {}

.topmenu li.nav-submenu-item i.icon {

  margin-right: .5em

}

.topmenu ul a.has-submenu,

 .topmenu-vertical a.has-submenu {

  padding-right:1.8em;

}

.topmenu li ul li a {

  padding: .85em;

  text-align: left;

  border: 0;

  box-shadow:inset 0 -1px 0 0 #EEE;

}

.topmenu li ul li a i {

  font-size: 1em;

  display: inline-block;

  margin: 0 .5em 0 0;

}

#menu ul.two.cols {

  width: 380px!important;

}

#menu ul.three.cols {

  width: 500px!important;

}

#menu ul.three.cols li {

  width: 33.33%;

}

#menu ul.four.cols li {

  width: 25%;

}

#menu ul.four.cols {

  width: 680px!important;

}

#menu ul.cols li {

  display: block;

  float: left;

  width: 50%;

  box-shadow:inset 1px 0 0 0 #EEE;

}

#menu ul.cols li:first-child {

  box-shadow:none

}

#menu ul.cols {

  clear: both

}

/* Sub menu indicators

===================*/

.topmenu ul.menu-submenu{

box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);

}

.topmenu a span.sub-arrow {

  position: absolute;

  left: 45%;

  bottom: -.25em;

  width: 1em;

  height: 1em;

  line-height: 1em;

}

.topmenu ul a span.sub-arrow,

 .topmenu-vertical a span.sub-arrow {

  right: auto;

  margin-left: -14px;

}

/* Items separators

===================*/

.topmenu li {

  border-left: 0px solid #f3f3f3;

}

.topmenu li:first-child {

  border-left: 0;

}

.topmenu ul li,

 .topmenu-vertical li {

  border-left: 0;

}

.topmenu ul li:first-child,

 .topmenu-vertical li:first-child {

  border-top: 0;

}



.topmenu span.scroll-up,

.topmenu span.scroll-down {

  position: absolute;

  display: none;

  visibility: hidden;

  overflow: hidden;

  border: solid #bbb;

  border-width: 1px 0;

  background: #fff;

  height: 20px;

}

.topmenu span.scroll-up-arrow,

.topmenu span.scroll-down-arrow {

  position: absolute;

  top: -2px;

  left: 50%;

  margin-left: -8px;

  width: 0;

  height: 0;

  overflow: hidden;

  border-width: 8px;

  border-style: dashed dashed solid dashed;

  border-color: transparent transparent #555 transparent;

}

.topmenu span.scroll-down-arrow {

  top: 6px;

  border-style: solid dashed dashed dashed;

  border-color: #555 transparent transparent transparent;

}



/* == Plugis Layout == */

#topwidget {

  background-color: #04091F;

}

#topwidget .static-image {

  background-attachment: scroll;

  background-image: url("uploads/images/pages/static2.jpg");

  background-position: center center;

  background-repeat: no-repeat;

  background-size: cover;

  text-align: center;

  padding-top: 3em;

  padding-bottom: 3em;

  color: #fff

}

#topwidget .static-image > h1 {

  font-size: 3em;

  text-transform: uppercase;

  color: #fff;

  font-family: "Raleway";

  font-weight: 100;

}

#rightwidget aside,

#leftwidget aside {

  margin-bottom: 1.5em;

}

#rightwidget aside h3,

#leftwidget aside h3 {

  font-weight:400;

  color:#333

}

#botwidget {

  position: relative;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#243a6c+0,225ab5+50,243a6c+100&amp;0+0,1+0,1+99,1+99 */
background: -moz-linear-gradient(left,  rgba(36,58,108,1) 0%, rgba(34,90,181,1) 50%, rgba(36,59,109,1) 99%, rgba(36,58,108,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(36,58,108,1) 0%,rgba(34,90,181,1) 50%,rgba(36,59,109,1) 99%,rgba(36,58,108,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(36,58,108,1) 0%,rgba(34,90,181,1) 50%,rgba(36,59,109,1) 99%,rgba(36,58,108,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#243a6c', endColorstr='#243a6c',GradientType=1 ); /* IE6-9 */


  color: #FFFFFF;

}

#botwidget h3 {

  font-size: 1.6em;

  padding-top: 1em;

  color: #fff;

  text-transform: capitalize;

  font-weight: 200;

}

/* == Loading == */

.loader {

  position: relative

}

.loader:after {

  position: absolute;

  top: 0;

  left: 0;

  content: '';

  width: 100%;

  height: 100%;

  background: rgba(255,255,255,0.8) url(../images/loader-large.gif) no-repeat 50% 50%;

  visibility: visible;

  z-index: 5000;

}

/* == Footer == */

footer {

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#04091f+19,183e7f+50,04091f+83 */
background: rgb(4,9,31); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(4,9,31,1) 19%, rgba(24,62,127,1) 50%, rgba(4,9,31,1) 83%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(4,9,31,1) 19%,rgba(24,62,127,1) 50%,rgba(4,9,31,1) 83%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(4,9,31,1) 19%,rgba(24,62,127,1) 50%,rgba(4,9,31,1) 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04091f', endColorstr='#04091f',GradientType=1 ); /* IE6-9 */


}

footer .footer-wrap {

  border-top: 1px solid #E14D43;

}

footer .logo {

  max-width: 130px

}

footer .copyright {

  text-align: right;

}

#scrollUp {

  bottom: 20px;

  right: 20px;

  width: 40px;

  height: 40px;

  background-color: #363B3F;

  border-radius: 4px;

  text-align: center;

  line-height: 35px;

  opacity: 0.8;

  color: #999;

}

#scrollUp:before {

  content: "\f077";

  display: inline-block;

  vertical-align: middle;

  font: 14px/18px 'Icons';

  color: #ccc;

}

#error-page {

  height: 100%;

  background-image: url(../images/404_bg.png);

  background-attachment: scroll;

  background-repeat: no-repeat;

  background-position: top center;

  height: 100vh;

  text-align: center;

  background-color: #282828;

  box-shadow: inset 0 10px 0 0 #000000, inset 0 -10px 0 0 #000000;

  position: relative

}

#error-page .logo {

  padding-top: 2em;

}

#error-page h1 {

  padding-top: .5em;

  color: #fff;

  font-size: 5em;

  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);

}

#error-page h3 {

  color: #7F7F7F;

  font-size: 1.5em;

  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);

}

#error-page h3.primary {

  margin-top: 2em;

}

#error-page #but.button {

  font-size: 2em;

}

#error-page #but.button i.icon {

  font-size: 4em;

}

@media only screen and (min-width: 768px) and (max-width: 959px) {

.topmenu li > a {

  padding: .5em 1em;

}  

.topmenu li a > i {

  font-size: 1.2em;

}

.topmenu li > a strong {

  font-size: .85em;

}

.topmenu li > a small {

 font-size:.65em;

}

.topmenu a span.sub-arrow {

  left: 40%;

}

}

 @media only screen and (max-width: 768px) {

.logo {

  margin-top: 0;

  margin-right: auto;

  margin-bottom: 0;

  margin-left: auto;

  text-align: center;

}

#footer .links {

  float: none!important

}

.prolific.tabs li {

  float: none;

}

.prolific.tabs li a.active,

 .prolific.tabs li a.active:hover {

  border-color: #F4BF1E;

}



ul.topmenu {

  width: auto;

}

ul.topmenu ul {

  display: none;

  position: static;

  top: auto!important;

  left: auto!important;

  margin-left: 0 !important;

  margin-top: 0!important;

  width: auto !important;

  min-width: 0 !important;

  max-width: none !important;

}

ul.topmenu>li {

  float: none;

}

ul.topmenu>li>a,

ul.topmenu ul.sm-nowrap>li>a {

  white-space: normal;

}

ul.topmenu iframe {

  display: none;

}





/* Menu box

===================*/

.topmenu ul.menu-submenu  {

  border: 0;

  -webkit-box-shadow: none;

  box-shadow: none;

}

.topmenu li > a {

  display: block;

  text-decoration: none;

  padding: .5em 1em;

  text-align: left;

  font-weight: 300;

  color: #999999;

  box-shadow:inset 0 -1px 0 0 #EEE;

}



.topmenu li a > i {

  display: inline-block;

  font-size: 1em;

  margin-right:1em;

}

.topmenu li > a strong {

  display: inline-block;

  font-weight: 500;

  font-size: .95em;

}



.topmenu li > a small {

  display: block;

  font-size:.8em;

  margin-left:2.5em;

}

.topmenu a span.sub-arrow {

  left:auto;

  right:1em;

  bottom:1em;

  width: 1em;

  height: 1em;

  line-height: 1em;

}

.topmenu ul a span.sub-arrow,

.topmenu-vertical a span.sub-arrow {

   left:auto;

   right:1em;

}

#menu ul.two.cols,

#menu ul.three.cols,

#menu ul.four.cols {

  width: 100%!important;

}

#menu ul.cols li {

  float: none;

  width: auto;

  box-shadow:none

}

.topmenu li:hover > a i,

.topmenu li:hover a small {

  opacity: 1;

  -webkit-animation:none;

  -moz-animation: none;

  -ms-animation: none;

  -o-animation: none;

  animation: none;

}

.topmenu a.highlighted span.sub-arrow {

  display: none;

}

.topmenu li {

  border-left: 0;

}

.topmenu li:first-child {

  border-top: 0;

}
}

.lSSlideOuter {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.lightSlider:before, .lightSlider:after {
    content: " ";
    display: table;
}
.lightSlider {
    overflow: hidden;
    margin: 0;
}
.lSSlideWrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.lSSlideWrapper > .lightSlider:after {
    clear: both;
}
.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform,height;
    transition-property: transform,height;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade {
    position: relative;
}
.lSSlideWrapper .lSFade > * {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%;
}
.lSSlideWrapper.usingCss .lSFade > * {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade > *.active {
    z-index: 10;
}
.lSSlideWrapper.usingCss .lSFade > *.active {
    opacity: 1;
}
/** /!!! End of core css Should not edit !!!/**/

/* Pager */
.lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 10px;
    text-align: center;
    display: inherit;
    margin: -42px auto 0 auto !important;
    position: relative;
    background-color: rgba(255,255,255,0.5);
    max-width: 124px;
    border-radius: 10px;
}
.lSSlideOuter .lSPager.lSpg > li {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
}
.lSSlideOuter .lSPager.lSpg > li a {
    background-color: #222222;
    border-radius: 30px;
    display: inline-block;
    height: 8px;
    overflow: hidden;
    text-indent: -999em;
    width: 8px;
    position: relative;
    z-index: 99;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
    background-color: #428bca;
}
.lSSlideOuter .media {
    opacity: 0.8;
}
.lSSlideOuter .media.active {
    opacity: 1;
}
/* End of pager */

/** Gallery */
.lSSlideOuter .lSPager.lSGallery {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.lSSlideOuter .lSPager.lSGallery li {
    overflow: hidden;
    -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
    transition: border-radius 0.12s linear 0s 0.35s linear 0s;
}
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 5px;
}
.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: auto;
    max-width: 100%;
}
.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
    content: " ";
    display: table;
}
.lSSlideOuter .lSPager.lSGallery:after {
    clear: both;
}
/* End of Gallery*/

/* slider actions */
.lSAction > a {
    width: 32px;
    display: block;
    top: 50%;
    height: 32px;
    background-image: url('../img/controls.png');
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    opacity: 0.5;
    -webkit-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;
}
.lSAction > a:hover {
    opacity: 1;
}
.lSAction > .lSPrev {
    background-position: 0 0;
    left: 10px;
}
.lSAction > .lSNext {
    background-position: -32px 0;
    right: 10px;
}
.lSAction > a.disabled {
    pointer-events: none;
}
.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}


/* vertical */
.lSSlideOuter {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.lightSlider:before, .lightSlider:after {
    content: " ";
    display: table;
}
.lightSlider {
    overflow: hidden;
    margin: 0;
}
.lSSlideWrapper {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    display: inherit;
}
.lSSlideWrapper > .lightSlider:after {
    clear: both;
}
.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform,height;
    transition-property: transform,height;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade {
    position: relative;
}
.lSSlideWrapper .lSFade > * {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%;
}
.lSSlideWrapper.usingCss .lSFade > * {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade > *.active {
    z-index: 10;
}
.lSSlideWrapper.usingCss .lSFade > *.active {
    opacity: 1;
}
/** /!!! End of core css Should not edit !!!/**/

/* Pager */
.lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 10px;
    text-align: center;
    display: inherit;
    margin: 0 auto 0 auto !important;
    position: relative;
    background-color: rgba(0,0,0,0.1);
    max-width: 124px;
    border-radius: 10px;
}
.lSSlideOuter .lSPager.lSpg > li {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
}
.lSSlideOuter .lSPager.lSpg > li a {
    background-color: #FFFFFF;
    border-radius: 30px;
    display: inline-block;
    height: 8px;
    overflow: hidden;
    text-indent: -999em;
    width: 8px;
    position: relative;
    z-index: 99;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
    background-color: #428bca;
}
.lSSlideOuter .media {
    opacity: 0.8;
}
.lSSlideOuter .media.active {
    opacity: 1;
}
/* End of pager */

/** Gallery */
.lSSlideOuter .lSPager.lSGallery {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.lSSlideOuter .lSPager.lSGallery li {
    overflow: hidden;
    -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
    transition: border-radius 0.12s linear 0s 0.35s linear 0s;
}
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 5px;
}
.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: auto;
    max-width: 100%;
}
.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
    content: " ";
    display: table;
}
.lSSlideOuter .lSPager.lSGallery:after {
    clear: both;
}
/* End of Gallery*/

/* slider actions */
.lSAction > a {
    width: 32px;
    display: block;
    top: 50%;
    height: 32px;
    background-image: url('../img/controls.png');
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    opacity: 0.5;
    -webkit-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;
}
.lSAction > a:hover {
    opacity: 1;
}
.lSAction > .lSPrev {
    background-position: 0 0;
    left: 10px;
}
.lSAction > .lSNext {
    background-position: -32px 0;
    right: 10px;
}
.lSAction > a.disabled {
    pointer-events: none;
}
.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}


/* vertical */
.lSSlideOuter.vertical {
    position: relative;
}
.lSSlideOuter.vertical.noPager {
    padding-right: 0px !important;
}
.lSSlideOuter.vertical .lSGallery {
    position: absolute !important;
    right: 0;
    top: 0;
}
.lSSlideOuter.vertical .lightSlider > * {
    width: 100% !important;
    max-width: none !important;
}

/* vertical controlls */
.lSSlideOuter.vertical .lSAction > a {
    left: 50%;
    margin-left: -14px;
    margin-top: 0;
}
.lSSlideOuter.vertical .lSAction > .lSNext {
    background-position: 31px -31px;
    bottom: 10px;
    top: auto;
}
.lSSlideOuter.vertical .lSAction > .lSPrev {
    background-position: 0 -31px;
    bottom: auto;
    top: 10px;
}
/* vertical */


/* Rtl */
.lSSlideOuter.lSrtl {
    direction: rtl;
}
.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
    padding-left: 0;
    list-style: none outside none;
}
.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
    padding-right: 0;
}
.lSSlideOuter .lightSlider > *,  .lSSlideOuter .lSGallery li {
    float: left;
}
.lSSlideOuter.lSrtl .lightSlider > *,  .lSSlideOuter.lSrtl .lSGallery li {
    float: right !important;
}
/* Rtl */

@-webkit-keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@-webkit-keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
@keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
.lSSlideOuter .rightEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
.lSSlideOuter .leftEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .rightEnd {
    -webkit-animation: topEnd 0.3s;
    animation: topEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .leftEnd {
    -webkit-animation: bottomEnd 0.3s;
    animation: bottomEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .rightEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .leftEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
/*/  GRab cursor */
.lightSlider.lsGrab > * {
  cursor: 
  
  
  
  
  
  
  
  
  
  
  -webkit-grab;
  cursor: 
  
  
  
  
  
  
  
  
  
  
  -moz-grab;
  cursor: 
  
  
  
  
  
  
  
  
  
  
  -o-grab;
  cursor: 
  
  
  
  
  
  
  
  
  
  
  -ms-grab;
  cursor: grab;
  position: relative;
}
.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}
.hero{
    display: inline-grid;
    /*width: 100%;*/
    padding-bottom: 20.2299%;
    min-height: 200px;
    overflow: hidden;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.56);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.hero > .text_box_left{
    z-index: 999;
    position: relative;
    width: 960px;
    height: 100%;
    margin: 8% auto 0 auto;
}
@media only screen and (max-width: 768px)
{
    .hero > .text_box_left{
    position: initial;
    margin: 0 auto;
}
}
.hero > .hero_bg{
    position: relative;
    z-index: 1;
    top: 0px;
    left: 0px;
}
.hero > .text_box_left > .inner{
    background-color: rgba(255, 255, 255, 0.43);
    border-radius: 5px;
    max-width: 350px;
    padding: 10px;
    position: absolute;
    top: 35%;
    left: 10%;
}
@media only screen and (max-width: 768px)
{
    .hero > .text_box_left > .inner{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
}
.hero > .text_box_left > .inner h1{
    display: inline-block;
    margin-left: 10%;
    color: black;
    text-align: center;
    width: 100%;
    margin: 0px;
}
.hero > .text_box_left > .inner p{
    color: black;
    text-shadow: none;
    font-weight: bold;
}
.hero > .text_box_left > .inner button{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,4096ee+100;Blue+3D+%2314 */
	background: #7abcff;/* Old browsers */
	background: 
	-moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%);/* FF3.6-15 */
	background: 
	-webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );/* IE6-9 */
	padding: 5px;
	border-radius: 5px;
	font-size: 20px;
	color: white;
	text-shadow: 1px 1px 0px gray;
	float: right;
	font-weight: bold;
}

.hero > .text_box_right{
    z-index: 999;
    position: relative;
    width: 960px;
    height: 100%;
    margin: 8% auto 0 auto;
}
@media only screen and (max-width: 768px)
{
    .hero > .text_box_right{
    position: initial;
    margin: 0 auto;
}
}
.hero > .hero_bg{
    position: relative;
    z-index: 1;
    top: 0px;
    left: 0px;
}

.hero > .text_box_right > .inner{
    background-color: rgba(255, 255, 255, 0.40);
    border-radius: 5px;
    max-width: 350px;
    padding: 15px;
    position: absolute;
    top: 34%;
    right: 10%;
}

@media only screen and (max-width: 768px)
{
    .hero > .text_box_right > .inner{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
}
.hero > .text_box_right > .inner h1{
    display: inline-block;
    margin-left: 10%;
    color: white;
    text-align: center;
    width: 100%;
    margin: 0px;
}
.hero > .text_box_right > .inner p{
    color: black;
    text-shadow: none;
    font-weight: bold;
}
.hero > .text_box_right > .inner button{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,4096ee+100;Blue+3D+%2314 */
		background: #7abcff;/* Old browsers */
		background: 
		-moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%);/* FF3.6-15 */
		background: 
		-webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);/* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );/* IE6-9 */
		padding: 5px;
		border-radius: 5px;
		font-size: 20px;
		color: white;
		text-shadow: 1px 1px 0px gray;
		float: right;
		font-weight: bold;
}
.hero > .text_box_right > .inner2{
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 5px;
    max-width: 350px;
    padding: 15px;
    position: absolute;
    top: 34%;
    right: -12%;
}
.hero > .text_box_right > .inner2 button{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
background: rgb(255,48,25); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 ); /* IE6-9 */


		padding: 15px;
		border-radius: 5px;
		font-size: 30px;
		color: white;
		text-shadow: 1px 1px 0px gray;
		float: right;
		font-weight: bold;
}
.hero > .text_box_right > .inner2 h1{
    margin-left: 10%;
    color: white;
    text-align: right;
    width: 100%;
    margin: 1px;
    font-weight: bold;
}
.fxrate
{overflow: hidden;}
.fxrate iframe
{ height: 30px}
.fxrate::before
{content: " ";
width: 100%;
    height: 30px;
    display: block;
      position: absolute;}
.fxrate::after
{position: absolute;}
.redline{
	border-bottom: 1px solid #EFDB00;
}